<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual etc" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Etc</p></div>
		</div>
	</div>
</div>
<!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_etc %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">Product Complaints</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item">
					<a href="" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a>
				</li>
				
			</ul>
			<!-- //breadcrumb -->
		</div><!-- //content__header-->
		<div class="content__body">
			<h1 class="content__tit-mobile">Product Complaints</h1>
			<p class="content__txt">
				Your privacy is important to us. The information you submit will be kept confidential and secure once it reaches our server.
			</p>
			<div class="content__info">
				<ul class="content__info-list">
					<li class="content__info-item">If an error occurs, please try resubmitting information.</li>
					<li class="content__info-item">If resubmission does not work, please fill out the above form and email or fax us at the contact information provided below.</li>
					<li class="content__info-item"><span class="inline-block">Fax : 82-32-850-5018</span><span class="inline-block type-another">E-mail : ProductComplaints@celltrion.com</span></li>
				</ul>
			</div>

			<div class="cscenter">
				<div class="cscenter-header">
					<p class="cscenter-header__edge para-v2"><span class="required-v1 type-another">(필수)</span>Mandatory</p>
				</div>	<!-- //cscenter-header -->
				<div class="table__virtual">
					<dl class="table__dl">
						<dt class="table__dt">First Name <span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w280" title="First Name(required)" value="Administrator">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Last Name<span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w280" title="Last Name(required)" value="friend">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">E-mail<span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="email" name="" class="input-v1 input-v1_w280" title="E-mail(required)" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">E-mail<span class="required-v1">(필수)</span><span class="table-row-v1__small">(For your e-mail confirmation)</span></dt>
						<dd class="table__dd">
							<input type="email" name="" class="input-v1 input-v1_w100p" title="E-mail(required)" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Job<span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">

							<label for="job_1" class="radio-set-v1"><input type="radio" name="job" id="job_1"  class="radio-set-v1__input" checked="checked"><i class="radio-set-v1__ico"></i> Doctor</label>
							<label for="job_2" class="radio-set-v1"><input type="radio" name="job" id="job_2"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i> Pharmacist</label>
							<label for="job_3" class="radio-set-v1"><input type="radio" name="job" id="job_3"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i> Nurse</label>
							<label for="job_4" class="radio-set-v1"><input type="radio" name="job" id="job_4"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i> Patient</label>
							<label for="job_5" class="radio-set-v1"><input type="radio" name="job" id="job_5"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i> Other</label>
							<input type="text" name="" class="input-v1 input-v1_w140" title="Last Name(required)" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Country<span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w280" title="ECountry" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">City<span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w280" title="City" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Zip Code<span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w280" title="Zip Code" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Additional Address <span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w100p" title="Additional Address" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Telephone Number <span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="tel" name="" class="input-v1 input-v1_w280" title="Telephone Numbe" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Product  <span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<div class="select__wrap type-table">
								<div class="select__box wd200">
									<p>REMSIMA<sup>®</sup> 100mg</p>
								</div>
								<ul class="select__menu type-another">
									<li class="select__item">REMSIMA<sup>®</sup> 100mg</li>
									<li class="select__item">Flammegis 100mg</li>
								</ul>
							</div>
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Lot Number (Lot)  <span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w280" title="Lot Number (Lot)" value="">
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Expiry Date (Exp.)<span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<input type="text" name="" class="input-v1 input-v1_w280" title="Expiry Date (Exp.)" value=""><span class="table-row-v1__small type-another">(dd/mm/yyyy or mm/yyyy)</span>
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Attachment</dt>
						<dd class="table__dd">
							<span class="upload-set-v1 upload-set-v1_w100p">
								<span class="upload-set-v1__wrap" data-value="search">
									<input type="file" name=""  class="upload-set-v1__file upload-hidden" title="Attached file">
								</span>
								<input type="text" name="ddd" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="Attached file">
							</span>
							<!-- //upload-set-v1 -->
						</dd>
					</dl>
					<dl class="table__dl">
						<dt class="table__dt">Message <span class="required-v1">(필수)</span></dt>
						<dd class="table__dd">
							<textarea name="contents" id="contents" cols="30" rows="10" class="textarea-v1 textarea-v1_w100p cscenter-table__textarea" title="content(required)" maxlength="2000"></textarea>
						</dd>
					</dl>
				</div>
			</div><!-- //cscenter-->
			<div class="agree-box cscenter-agree-v1">
				<h2 class="agree-box__tit">Privacy Policy</h2>
				<div class="agree-box__body">
					Welcome to celltrionhealthcare.com, property of Celltrion Healthcare Co., Ltd. ("Celltrion Healthcare"). Celltrion Healthcare respects your privacy and understands that health is a personal and private subject. This Privacy Policy provides information
					on data collection, use and disclosure of information that you may provide via this site. Please be sure to read this entire Privacy Policy before submitting your information. This site may contain information on products and services that are
					not available in every location, and may not be available or valid in your location. No portion of this site should be considered an advertisement or promotion for any product or service that is not lawfully permissible in your country of residence.
					<br>
					<br> When we refer to ourselves as "we" or "Celltrion Healthcare," we are referring to our entire company including affiliates within our family of companies, e.g. Celltrion, Inc. <br>
					<br> By using this site, you agree to the terms of this Privacy Policy. Whenever you submit information via this site, you consent to the collection, use, and disclosure of that information in accordance with this Privacy Policy by Celltrion Healthcare.
					<br>
					<br>
					<h2>Information We Acquire</h2>
					<h4>1. Information we collect from visitors</h4> You can access our website, and browse some areas of the site, without disclosing any personally identifiable information. We do track information provided to us by your browser, including the Web site you came from, the type of browser you use,
					the time and date of access, and other information that does not personally identify you. On some of our sites, you must register to access portions of the site.
					<br>
					<br> As you use this site, certain anonymous information can be collected using various technologies, such as cookies, Internet tags or web beacons, and navigational data collection (log files, server logs, clickstream). Anonymous data such as
					the URL of the last website you visited and your browser version may be automatically transmitted by your browser. This site may also collect anonymous information through cookies or Internet tags or web beacons. This anonymous information may
					be used to provide better service on our website, compile statistics and otherwise improve this website experience. You can set your browser to accept all cookies, to reject all cookies, or to notify you whenever a cookie is offered so that you
					can decide each time whether to accept it.<br>
					<br>
					<h4>2. Information we collect when you choose to provide information</h4> When you choose to provide information, e.g. when you register for services or submit product complaints on our website you are asked to provide identifying information, such as name, gender, and contact information. On the information submission
					screen, we clearly label which information is required, and which information is optional and may be given at your discretion. We obtain visitors' consent before collecting personally identifiable information.<br>
					<br>
					<h4>3. Other types of information we collect</h4> We also collect information that you voluntarily provide to us through responses to surveys, questionnaires, etc.<br> Our website may offer health assessment tools that may ask you to provide self-assessment information.<br> We may also ask you
					to provide additional information such as your e-mail address if you want to obtain additional services or information or to resolve complaints or concerns.<br>
					<h2>How We Store Your Health Information</h2> Personally identifiable health information you share with us is stored on our database servers or hosted by third parties who have entered into agreements with us that require them to observe our Privacy Policy. We have a firewall and other technology
					to prevent individuals from accessing information without authorization. Data centers are designed to be physically secure and protected from unauthorized access by unauthorized persons. Information in our data centers is backed up routinely, in
					order to aid in the recovery of information in the event of accidental damage of information or due to a natural disaster. The backup media is stored in a physically secure storage facility.<br>
					<br><br>
					<h2>The Parties</h2> In addition to aggregate information (discussed previously), we may share some kinds of information with third parties as described below.<br>
					<ul>
						<li>To contractors we use to support our business (which may include, but are not necessarily limited to fulfillment services, technical support, delivery services, and financial institutions), in which case we will require such third parties to agree
							to treat your personally identifiable information in accordance with this Privacy Policy and use it for the same purposes;</li>

						<li>To respond to law enforcement requests or where required by applicable laws, court orders, or government regulations.</li>
					</ul>
					Personal information submitted on this site will only be used for the purposes of its collection and will not be shared with third parties unless otherwise specified above. If you provide personal information, we may contact you, unless otherwise stated
					at the point of collection. The collection, use, and disclosure of information contemplated in this Privacy Policy may involve a transfer of the information to jurisdictions located outside your country of residence that may not have equivalent
					laws and rules regarding personally identifiable information. In these cases, you will be asked to consent to such transfers and disclosures in accordance with this Privacy Policy.<br>
					<br> We are the owner of all information collected on this website. Any information we collect may also be used for analytics purposes so that we can gauge the effectiveness of our programs and improve the utility of information presented to users.<br>
					<br><br>
					<h2>Minors</h2> This site is not intended for children under the age of 13. Furthermore, we do not knowingly collect any personally identifiable information from anyone under the age of 18 without the consent of a parent or guardian. You must be 18 years of age
					or older to submit information. Should you believe that a minor of whom you are a parent or guardian has submitted information, please contact us at the email provided below and we will make reasonable efforts to remove all personally identifiable
					information related to the minor.<br>
					<br><br>
					<h2>Links to Other Third Party Web Sites</h2> This site may contain links or references to other third party websites to which this Privacy Policy does not apply. We encourage you to read the privacy policy of every website you visit. You agree that we are not responsible for the content
					of such websites. Your use of these other linked websites is subject to the respective terms of use and privacy policies located on the linked websites.<br>
					<br><br>
					<h2>Changes to Privacy Policy</h2> We may periodically revise this Privacy Policy and any such revisions to this Privacy Policy will be reflected on this site. Please check back regularly and review this Privacy Policy before submitting any personal information. Your use of this
					website will be subject to our then-current Privacy Policy. This Privacy Policy was last updated on May 26, 2014.<br>
					<br><br>
					<h2>Other Terms</h2> By your access and use, you accept, without limitation, the terms of our <a href="" target="_blank" style="color:#4a4a4a; text-decoration:underline;">Legal Notice</a> and our <a href="http://www.celltrionhealthcare.com/remsima/com/others/terms.asp"
									target="_blank" style="color:#4a4a4a; text-decoration:underline;">Terms of Use</a>.<br>
					<br><br>
					<h2>Contact Us</h2> If you have any questions or comments related to this Privacy Policy or the practices of this website, please contact us at
					<a href="mailto:sukyung.hyun@celltrion.com" style="color:#4a4a4a; text-decoration:underline;">sukyung.hyun@celltrion.com</a>.
				</div>
				<div class="agree-box__footer">
					<label class="checkbox-set-v1"><input type="checkbox" name="chk" id="chk" class="checkbox-set-v1__input"><i class="checkbox-set-v1__ico type-another"></i>By clicking this box, you understand and agree to our Privacy Policy.</label>
				</div>
			</div><!-- //agree-box -->
			<div class="cscenter-btn-group">
				<button type="button" class="btn-v1 btn-v1_w160">Submit</button>
				<button type="button" class="btn-v1 btn-v1_w160 btn-v1_negative">Cancel</button>
			</div>
		</div><!--//content__body-->
	</div><!-- //content__box-->
</div><!-- //content__wrap-->
