<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual etc" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap">
				<p class="page-visual__tit">Etc</p>
			</div>
		</div>
	</div>
</div>
<!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_etc %>
		<div class="content__box">
			<div class="content__header">
				<h1 class="content__tit">Terms of Use</h1>
				<ul class="content__icon-list">
					<li class="content__icon-item">
						<a href="" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a>
					</li>

				</ul>
				<!-- //breadcrumb -->
			</div>
			<div class="content__body">
				<h1 class="content__tit-mobile">Terms of Use</h1>
				<p class="content__txt">
					Information on this site is provided in summary and is not exhaustive. Celltrion Healthcare Co., Ltd. makes no representations or warranties of any kind as to the accuracy, currency, or completeness of the information provided. You should assume that everything you see or read on the site is copyrighted unless otherwise noted. You may use information provided in this website for non-commercial purposes only. Copyright on all material is owned by Celltrion Healthcare Co, Ltd. No text, images or trademarks may be downloaded, distributed, reported, modified or otherwise used without prior express written permission from Celltrion Healthcare Co, Ltd. By using this website, you agree to the terms of the <a href="etc_06.html" class="content__link">Legal Notice</a> and <a href="etc_04.html" class="content__link">Privacy Policy</a>.
				</p>
			</div><!-- //content__body -->
		</div>
</div>
