<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual etc" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap">
				<p class="page-visual__tit">Etc</p>
			</div>
		</div>
	</div>
</div>
<!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_etc %>
		<div class="content__box">
			<div class="content__header">
				<h1 class="content__tit">Privacy Policy</h1>
				<ul class="content__icon-list">
					<li class="content__icon-item">
						<a href="" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a>
					</li>

				</ul>
				<!-- //breadcrumb -->
			</div>
			<div class="content__body">
				<h1 class="content__tit-mobile">Privacy Policy</h1>
				<p class="content__txt">
					Welcome to REMSIMA.com, property of Celltrion Healthcare Co., Ltd (”Celltrion Healthcare”). This policy provides information on data collection, use and disclosure of information that you may provide via this site. Please be sure to read this entire Privacy Policy before submitting your information. This site may contain information on products and services that are not available in every location, and may not be available or valid in your location. No portion of this site should be considered an advertisement or promotion for any product or service that is not lawfully permissible in your country of residence.
				</p>
				<p class="content__txt">
					By using this site, you agree to the terms of this Privacy Policy. Whenever you submit information via this site, you consent to the collection, use, and disclosure of that information in accordance with this Privacy Policy.
				</p>
				<p class="content__txt">
					As you use this site, certain anonymous information can be collected using various technologies, such as cookies, Internet tags or web beacons, and navigational data collection (log files, server logs, clickstream). Anonymous data such as the URL of the last website you visited and your browser version may be automatically transmitted by your browser. This site may also collect anonymous information through cookies or Internet tags or web beacons. This anonymous information may be used to provide better service on our website, compile statistics and otherwise improve this website experience. You can set your browser to accept all cookies, to reject all cookies, or to notify you whenever a cookie is offered so that you can decide each time whether to accept it.
				</p>
				<p class="content__txt">
					Personal information submitted on this site will only be used for the purposes of its collection and will not be shared with third parties unless otherwise specified. If you provide personal information, we may contact you, unless otherwise stated at the point of collection.
				</p>
				<p class="content__txt">
					Celltrion Healthcare is the owner of all information collected on this website. Any information we collect may also be used for analytics purposes so that we can gauge the effectiveness of our programs and improve the utility of information presented to users.
				</p>
				<h2 class="content__sub-tit">
					Minors
				</h2>
				<p class="content__txt">
					This site is not intended for children under the age of 14. Furthermore, we do not knowingly collect any personally identifiable information from anyone under the age of 18 without the consent of a parent or guardian. You must be 18 years of age or older to submit information. Should you believe that a minor of whom you are a parent or guardian has submitted information, please contact us at email provided below and we will make reasonable efforts to remove all personally identifiable information related to the minor.
				</p>
				<h2 class="content__sub-tit">
					Links to Other Web Sites
				</h2>
				<p class="content__txt">
					This site may contain links or references to other websites to which this Privacy Policy does not apply. We encourage you to read the Privacy Policy of every website you visit.
				</p>
				<h2 class="content__sub-tit">
					Contact Us
				</h2>
				<p class="content__txt">
					If you have any questions or comments related to this Privacy Policy or the practices of this website, please contact us at
					<a href="mailto:sukyung.hyun@celltrion.com" class="content__link">sukyung.hyun@celltrion.com. </a>
				</p>
				<h2 class="content__sub-tit">
					Changes to Privacy Policy
				</h2>
				<p class="content__txt">
					Celltrion Healthcare may periodically revise this Privacy Policy and any such revisions to this Privacy Policy will be reflected on this site. Please check back regularly and review this Privacy Policy before submitting any personal information. Your use of this website will be subject to our then-current Privacy Policy. This Privacy Policy was last updated on May 26, 2014.
				</p>
			</div><!-- //content__body -->
		</div>
</div>
