<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual etc" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Etc</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_etc %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">Safety Profile for REMSIMA<sup>®</sup></h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">Safety Profile for REMSIMA<sup>®</sup></h1>
			<h2 class="content__subject">Important Safety Information for REMSIMA<sup>®</sup> (infliximab)</h2>
			<h3 class="content__sub-tit">SERIOUS INFECTIONS</h3>
			<p class="content__txt">
				Patients treated with REMSIMA<sup>®</sup> (infliximab) are at increased risk for developing serious infections that may lead to hospitalization or death. Most patients who developed these infections were taking concomitant immunosuppressants such as methotrexate or corticosteroids. Discontinue REMSIMA<sup>®</sup> if a patient develops a serious infection or sepsis.
			</p>
			<h3 class="content__sub-tit">Reported infections include : </h3>
			<ul class="content__list">
				<li class="content__item">
					Active tuberculosis (TB), including reactivation of latent TB. Patients frequently presented with disseminated or extrapulmonary disease. Patients should be tested for latent TB before and during treatment with REMSIMA<sup>®</sup>. Treatment for latent infection should be initiated prior to treatment with REMSIMA<sup>®</sup>.
				</li>
				<li class="content__item">
					Invasive fungal infections, including histoplasmosis, coccidioidomycosis, candidiasis, aspergillosis, blastomycosis and pneumocystosis. Patients may present with disseminated, rather than localized, disease. Empiric anti-fungal therapy should be considered in patients at risk for invasive fungal infections who develop severe systemic illness.<br>
					Bacterial, viral, and other infections due to opportunistic pathogens, including Legionella and Listeria.
				</li>
			</ul>
			<p class="content__txt">
				<span class="content__point">The risks and benefits of treatment with REMSIMA<sup>®</sup> should be carefully considered prior to initiating therapy in patients with chronic or recurrent infection. Closely monitor patients for the development of signs and symptoms of infection during and after treatment with REMSIMA<sup>®</sup> including the possible development of TB in patients who tested negative for latent TB infection prior to initiating therapy.</span>
			</p>
			<p class="content__txt">
				Risk of infection may be higher in patients greater than 65 years of age, patients with co-morbid conditions and/or patients taking concomitant immunosuppressant therapy. In clinical trials, other serious infections observed in patients treated with REMSIMA<sup>®</sup> included pneumonia, cellulitis, abscess, and skin ulceration.
			</p>
			<h3 class="content__sub-tit">MALIGNANCIES</h3>
			<p class="content__txt">
				Malignancies, which in some cases were fatal have been reported in children, adolescents, and young adults (up to 22 years old) treated with TNF-blocker therapy. Approximately half of the reported cases were lymphomas, while the other cases were various malignancies including rare malignancies more usually linked to immunosuppression. As the potential role of TNF inhibitors in the development of malignancies is not known, caution should be exercised when considering treatment of patients with a current or a past history of malignancy or other risk factors such as chronic obstructive pulmonary disease (COPD). Melanoma and Merkel cell carcinoma have been reported in patients treated with TNF-blocker therapy, including infliximab. Periodic skin examination is recommended for all patients, particularly those with risk factors for skin cancer.
			</p>
			<h3 class="content__sub-tit">CONTRAINDICATIONS</h3>
			<p class="content__txt">
				REMSIMA<sup>®</sup> is contraindicated in patients with moderate to severe (NYHA Class III/IV) congestive heart failure (CHF) at doses greater than 5 mg/kg. Higher mortality rates at the 10 mg/kg dose and higher rates of cardiovascular events at the 5 mg/kg dose have been observed in these patients. REMSIMA<sup>®</sup> should be used with caution and only after consideration of other treatment options. Patients should be monitored closely. Discontinue REMSIMA<sup>®</sup> if new or worsening CHF symptoms appear. REMSIMA<sup>®</sup> should not be (re)administered to patients who have experienced a severe hypersensitivity reaction or to patients with hypersensitivity to murine proteins or other components of the product.
			</p>
			<h3 class="content__sub-tit">CONTRAINDICATIONS</h3>
			<p class="content__txt">
				REMSIMA<sup>®</sup> is contraindicated in patients with moderate to severe (NYHA Class III/IV) congestive heart failure (CHF) at doses greater than 5 mg/kg. Higher mortality rates at the 10 mg/kg dose and higher rates of cardiovascular events at the 5 mg/kg dose have been observed in these patients. REMSIMA<sup>®</sup> should be used with caution and only after consideration of other treatment options. Patients should be monitored closely. Discontinue REMSIMA<sup>®</sup> if new or worsening CHF symptoms appear. REMSIMA<sup>®</sup> should not be (re)administered to patients who have experienced a severe hypersensitivity reaction or to patients with hypersensitivity to murine proteins or other components of the product.
			</p>
			<h3 class="content__sub-tit">HEPATITIS B REACTIVATION</h3>
			<p class="content__txt">
				TNF inhibitors, including infliximab, have been associated with reactivation of hepatitis B virus (HBV) in patients who are chronic carriers. Some cases were fatal. Patients should be tested for HBV infection before initiating REMSIMA<sup>®</sup>. For patients who test positive, consult a physician with expertise in the treatment of hepatitis B. Exercise caution when prescribing REMSIMA<sup>®</sup> for patients identified as carriers of HBV and monitor closely for active HBV infection during and following termination of therapy with REMSIMA<sup>®</sup>. Discontinue REMSIMA<sup>®</sup> in patients who develop HBV reactivation and initiate antiviral therapy with appropriate supportive treatment. Exercise caution when considering resumption of REMSIMA<sup>®</sup> and monitor patients closely.
			</p>
			<h3 class="content__sub-tit">HEPATOTOXICITY</h3>
			<p class="content__txt">
				In clinical trials, infliximab therapy have cases of leukopenia, neutropenia, thrombocytopenia, and pancytopenia (some fatal) have been reported. The causal relationship to infliximab therapy remains unclear. Exercise caution in patients who have ongoing or a history of significant hematologic abnormalities. Advise patients to seek immediate medical attention if they develop signs and symptoms of blood dyscrasias or infection. Consider discontinuation of REMSIMA<sup>®</sup> in patients who develop significant hematologic abnormalities.
			</p>
			<h3 class="content__sub-tit">HYPERSENSITIVITY</h3>
			<p class="content__txt">
				REMSIMA<sup>®</sup> has been associated with hypersensitivity reactions that differ in their time of onset. Acute urticaria, dyspnea, and hypotension have occurred in association with infusions of REMSIMA<sup>®</sup>. Serious infusion reactions including anaphylaxis were infrequent. Medications for the treatment of hypersensitivity reactions should be available.			</p>
			</p>
			<h3 class="content__sub-tit">NEUROLOGIC EVENTS</h3>
			<p class="content__txt">
				TNF inhibitors, including infliximab have been associated in rare cases with Central Nervous System (CNS) manifestation of systemic vasculitis, seizure, and new onset or exacerbation of CNS demyelinating disorders, including multiple sclerosis and optic neuritis, and peripheral demyelinating disorders, including Guillain-Barré syndrome. Exercise caution when considering REMSIMA<sup>®</sup> in patients with these disorders and consider discontinuation if these disorders develop.
			</p>
			<h3 class="content__sub-tit">AUTOIMMUNITY</h3>
			<p class="content__txt">
				Treatment with REMSIMA<sup>®</sup> may result in the formation of autoantibodies and, rarely, in development of a lupus-like syndrome. Discontinue treatment if symptoms of a lupus-like syndrome develop.
			</p>
			<h3 class="content__sub-tit">ADVERSE REACTIONS</h3>
			<p class="content__txt">
				In clinical trials, the most common adverse reactions occurring in >10% of patients included infections (eg, upper respiratory, sinusitis, and pharyngitis), infusion-related reactions, headache, and abdominal pain.
			</p>
			<h3 class="content__sub-tit">USE WITH OTHER DRUGS</h3>
			<p class="content__txt">
				Concomitant use of REMSIMA<sup>®</sup> with anakinra, abatacept, tocilizumab, or other biologics used to treat the same conditions as REMSIMA<sup>®</sup> is not recommended because of the possibility of an increased risk of infection. Care should be taken when switching from one biologic to another, since overlapping biological activity may further increase the risk of infection.
			</p>
			<h3 class="content__sub-tit">VACCINATIONS</h3>
			<p class="content__txt">
				Live vaccines should not be given with REMSIMA<sup>®</sup>. Exercise caution in the administration of live vaccines to infants born to female patients treated with REMSIMA<sup>®</sup> during pregnancy.
			</p>
			<h3 class="content__sub-tit">
				For more information, please see full Prescribing Information for REMSIMA<sup>®</sup>.<br>
				Provide the Medication Guide to your patients and encourage discussion.
			</h3>
			<p class="content__txt">
				For a full list of reported side effects please see the <a href="../../pdf/REMSIMA SmPC.pdf" target="_blank" Download="" class="content__link"><strong>Summary of Product Characteristics</strong></a> and/or the <a href="etc_02.html" class="content__link"><strong>Prescribing Information.</strong></a>
			</p>
			<p class="content__sub-txt">
				References: <br>
				1. Remsima (Infliximab), Summary of Product Characteristics, 2013
			</p>
		</div>
	</div>
</div>
