<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual etc" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Etc</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_etc %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">Prescribing Information</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>
				
			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">Prescribing Information</h1>
			<h2 class="content__subject">Refer to Summary of Product Characteristics (SmPC) before prescribing.</h2>
			<h3 class="content__sub-tit">Presentation</h3>
			<p class="content__txt">
				Type 1 glass vial with a (butyl) rubber stopper and an aluminium seal with a flip-off button.Each Remsima vial contains 100 mg of infliximab.
			</p>
			<h3 class="content__sub-tit">Indications</h3>
			<p class="content__txt">
				<span class="content__point">Rheumatoid arthritis</span> : Remsima, in combination with methotrexate, is indicated for the reduction of signs and symptoms as well as the improvement in physical function in: adult patients with severe active and progressive disease when the response to disease-modifying anti-rheumatic drugs (DMARDs), including methotrexate, has been inadequate; adult patients with severe, active and progressive disease not previously treated with methotrexate or other DMARDs. In these patient populations, a reduction in the rate of the progression of joint damage, as measured by X-ray, has been demonstrated.
			</p>
			<p class="content__txt">
				<span class="content__point">Adult Crohn’s disease</span> : Remsi ma is indicated for: treatment of moderately to severely, active Crohn’s disease, in adult patients who have not responded despite a full and adequate course of therapy with a corticosteroid and/or an immunosuppressant; or who are intolerant to or have medical contraindications for such therapies; treatment of fistulising, active Crohn’s disease, in adult patients who have not responded despite a full and adequate course of therapy with conventional treatment (including antibiotics, drainage and immunosuppressive therapy).			</p>
			<p class="content__txt">
				<span class="content__point">Paediatric Crohn’s disease</span> : Remsima is indicated for treatment of severe, active Crohn’s disease in children and adolescents aged 6 to 17 years, who have not responded to conventional therapy including a corticosteroid, an immunomodulator and primary nutrition therapy; or who are intolerant to or have contraindications for such therapies. Infliximab has been studiedonly in combination with conventional immunosuppressive therapy.
			<p class="content__txt">
				<span class="content__point">Ulcerative colitis</span> : Remsima is indicated for treatment of moderately to severely active ulcerative colitis in adult patients who have had an inadequate response to conventional therapy including corticosteroids and 6-mercaptopurine (6-MP) or azathioprine (AZA), or who are intolerant to or have medical contraindications for such therapies.
			</p>
			<p class="content__txt">
				<span class="content__point">Paediatric ulcerative colitis</span> : Remsima is indicated for treatment of severely active ulcerative colitis in children and adolescents aged 6 to 17 years, who have had an inadequate response to conventional therapy including corticosteroids and 6-MPor AZA, or who are intolerant to or have medical contraindications for such therapies.
			</p>
			<p class="content__txt">
				<span class="content__point">Paediatric ulcerative colitis</span> : Remsima is indicated for treatment of severely active ulcerative colitis in children and adolescents aged 6 to 17 years, who have had an inadequate response to conventional therapy including corticosteroids and 6-MPor AZA, or who are intolerant to or have medical contraindications for such therapies.
			</p>
			<h3 class="content__sub-tit">HEPATOTOXICITY</h3>
			<p class="content__txt">
				<span class="content__point">Ankylosing spondylitis</span> : Remsima is indicated for treatment of severe, active ankylosing spondylitis, in adult patients who have responded inadequately to conventional therapy.
			</p>
			<p class="content__txt">
				<span class="content__point">Psoriatic arthritis</span> : Remsima is indicated for treatment of active and progressive psoriatic arthritis in adult patients when the response to previous DMARD therapy has been inadequate. Remsima should be administered ; in combination with methotrexate , or alone in patients who show intolerance to methotrexate or for whom methotrexate is contraindicated. Infliximab has been shown to improve physical function in patients with psoriatic arthritis, and to reduce the rate of progression of peripheral joint damage as measured by X-ray in patients with polyarticular symmetrical subtypes of the disease.
			</p>
			<p class="content__txt">
				<span class="content__point">Psoriasis</span> : Remsima is indicated for treatment of moderate to severe plaque psoriasis in adult patients who failed to respond to, or who have a contraindication to, or are intolerant to other systemic therapy including cyclosporine, methotrexate or psoralen ultra-violet A (PUVA).
			</p>
			<h3 class="content__sub-tit">ADVERSE REACTIONS</h3>
			<p class="content__txt">
				In clinical trials, the most common adverse reactions occurring in >10% of patients included infections (eg, upper respiratory, sinusitis, and pharyngitis), infusion-related reactions, headache, and abdominal pain.
			</p>
			<h3 class="content__sub-tit">Dosage and administration</h3>
			<p class="content__txt">
				Remsima should be administered intravenously. Remsima treatment is to be initiated and supervised by qualified physicians experienced in the diagnosis and treatment of rheumatoid arthritis, inflammatory bowel diseases, ankylosing spondylitis, psoriatic arthritis or psoriasis. Remsima infusions should be administered by qualified healthcare professionals trained to detect any infusion-related issues.
			</p>
			<p class="content__txt">
				<span class="content__point">Rheumatoid arthritis</span> : 3 mg/kg given as an intravenous infusion followed by additional 3 mg/kg infusion doses at 2 and 6 weeks after the first infusion, then every 8 weeks thereafter. Remsima must be given concomitantly with methotrexate.
				clinical response is usually achieved within 12 weeks of treatment. If a patient has an inadequate response or loses response after this period, consideration may be given to increase the dose step-wise by approximately 1.5 mg/kg, up to a maximum of 7.5 mg/kg every 4-8 weeks. Alternatively, administration of 3 mg/kg as often as every 4 weeks may be considered. If adequate response is achieved, patients should be continued on the selected dose or dose frequency. Continued therapy should be carefully reconsidered in patients who show no evidence of therapeutic benefit within the first 12 weeks of treatment or after dose adjustment.
			</p>
			<p class="content__txt">
				<span class="content__point">Moderately to severely active Crohn’s disease</span> : 5 mg/kg given as an intravenous infusion followed by an additional 5 mg/kg infusion 2 weeks after the first infusion. If a patient does not respond after 2 doses, no additional treatment with infliximab should be given.<br>
				In responding patients, the alternative strategies for continued treatment are :<br>
				&middot; <span class="letter">Maintenance: Additional infusion of 5 mg/kg at 6 weeks after the initial dose, followed by infusions every 8 weeks or</span><br>
				&middot; Re-administration: Infusion of 5 mg/kg if signs and symptoms of the disease recur.<br>
				Continued therapy should be carefully reconsidered in patients who show no evidence of therapeutic benefit after dose adjustment.
			</p>
			<p class="content__txt">
				<span class="content__point">Fistulising, active Crohn’s disease</span>: 5 mg/kg given as an intravenous infusion followed by additional 5 mg/kg infusions at 2 and 6 weeks after the first infusion. If a patient does not respond after 3 doses, no additional treatment with infliximab should be given.<br>
				In responding patients, the alternative strategies for continued treatment are:<br>
				&middot; Maintenance: Additional infusions of 5 mg/kg every 8 weeks or<br>
				&middot; Re-administration: Infusion of 5 mg/kg if signs and symptoms of the disease recur followed by infusions of 5 mg/kg every 8 weeks. </span>
				Continued therapy should be carefully reconsidered in patients who show no evidence of therapeutic benefit after dose adjustment.
			</p>
			<p class="content__txt">
				<span class="content__point">Ulcerative colitis</span> : 5 mg/kg given as an intravenous infusion followed by additional 5 mg/kg infusion doses at 2 and 6 weeks after the first infusion, then every 8 weeks thereafter. Continued therapy should be carefully reconsidered in patients who show no evidence of therapeutic benefit within this time period.
			</p>
			<p class="content__txt">
				<span class="content__point">Ankylosing spondylitis:</span> : 5 mg/kg given as an intravenous infusion followed by additional 5 mg/kg infusion doses at 2 and 6 weeks after the first infusion, then every 6 to 8 weeks. If a patient does not respond by 6 weeks (i.e. after 2 doses), no additional treatment with infliximab should be given.
			</p>
			<p class="content__txt">
				<span class="content__point">Psoriatic arthritis:</span> : 5mg/kg given as an intravenous infusion followed by additional 5 mg/kg infusion doses at 2 and 6 weeks after the first infusion, then every 8 weeks thereafter.
			</p>
			<p class="content__txt">
				<span class="content__point">Psoriasis:</span> : 5 mg/kg given as an intravenous infusion followed by additional 5 mg/kg infusion doses at 2 and 6 weeks after the first infusion, then every 8 weeks thereafter. If a patient shows no response after 14 weeks (i.e. after 4 doses), no additional treatment with infliximab should be given.
			</p>
			<h3 class="content__sub-tit">Elderly Patients (≥65 years)</h3>
			<p class="content__txt">No dose adjustment is required.</p>
			<h3 class="content__sub-tit">Paediatric population</h3>
			<p class="content__txt">
				<span class="content__point">Crohn’s disease (6 to 17 years)</span> : 5 mg/kg given as an intravenous infusion followed by additional 5 mg/kg infusion doses at 2 and 6 weeks after the first infusion, then every 8 weeks thereafter. Some patients may require a shorter dosing interval to maintain clinical benefit, while for others a longer dosing interval may be sufficient. Continued therapy with a shortened interval should be carefully considered in those patients who show no evidence of additional therapeutic benefit after a change in dosing interval.
			</p>
			<p class="content__txt">
				<span class="content__point">Ulcerative colitis (6 to 17 years)</span> : 5 mg/kg given as an intravenous infusion followed by additional 5 mg/kg infusion doses at 2 and 6 weeks after the first infusion, then every 8 weeks thereafter.
			</p>
			<p class="content__txt">
				<span class="content__point">Psoriasis, Juvenile idiopathic arthritis, psoriatic arthritis and ankylosing spondylitis, Juvenile rheumatoid arthritis and patients with impaired renal and/or hepatic function </span>: No dose recommendation can be made.
			</p>
			<h3 class="content__sub-tit">Contraindications</h3>
			<p class="content__txt">
				Patients with a history of hypersensitivity to infliximab, to other murine proteins or to any of the excipients; Patients with tuberculosis or other severe infections such as sepsis, abscesses, and opportunistic infections ; Patients with moderate or severe heart failure (NYHA class III/IV).
			</p>
			<h3 class="content__sub-tit">Special Warnings and Precautions</h3>
			<p class="content__txt">
				<span class="content__point">Infusion reactions and hypersensitivity</span>: If acute infusion reactions including anaphylactic reactions occur, the infusion must be interrupted immediately. Emergency equipment, such as adrenaline, antihistamines, corticosteroids and an artificial airway must be available. Patients may be pre-treated with e.g., an antihistamine, hydrocortisone and/or paracetamol to prevent mild and transient effects. If serious reactions occur, symptomatic treatment must be given and further Remsima infusions must not be administered.
			</p>
			<p class="content__txt">
				<span class="content__point">Infections</span> : Patients must be monitored closely for infections including tuberculosis before, during and for 6 months after treatment with Remsima for six months. Caution should be exercised when considering the use of Remsima in patients with chronic infection or a history of recurresnt infections, including concomitant immunosuppressive therapy. Patients should be advised of and avoid exposure to potential risk factors for infection as appropriate. Tuberculosis, bacterial infections, including sepsis and pneumonia, invasive fungal, viral, and other opportunistic infections have been observed in patients treated with infliximab.There have been reports of active tuberculosis in patients receiving infliximab. Patients must be evaluated for both active and inactive (‘latent’) tuberculosis. If active tuberculosis is diagnosed, Remsima therapy must not be initiated. If latent tuberculosis is diagnosed, treatment for latent tuberculosis must be started with antituberculosis therapy before the initiation of Remsima. All patients should be informed to seek medical advice if signs/symptoms suggestive of tuberculosis appear during or after Remsima treatment.
			</p>
			<p class="content__txt">
				<span class="content__point">Hepatitis B reactivation</span> : Reactivation of hepatitis B has occurred in patients receiving a TNF-antagonist including infliximab, who are chronic carriers of this virus. Some cases have had fatal outcome. Patients should be tested for HBV infection before initiating treatment with Remsima.
			</p>
			<p class="content__txt">
				<span class="content__point">Vaccinations</span> : It is recommended that live vaccines not be given concurrently.
			</p>
			<p class="content__txt">
				<span class="content__point">Autoimmune processes</span> : If a patient develops symptoms suggestive of a lupus-like syndrome following treatment with Remsima and is positive for antibodies against double-stranded DNA, further treatment with Remsima must not be given.
			</p>
			<p class="content__txt">
				<span class="content__point">Neurological events</span> : Use of TNF-blocking agents, including infliximab, has been associated with cases of new onset or exacerbation of clinical symptoms and/or radiographic evidence of central nervous system demyelinating disorders, including multiple sclerosis, and peripheral demyelinating disorders, including Guillain-Barré syndrome. In patients with pre-existing or recent onset of demyelinating disorders, the benefits and risks of anti-TNF treatment should be carefully considered before initiation of Remsima therapy.
			</p>
			<p class="content__txt">
				<span class="content__point">Malignancies and lymphoproliferative disorders</span> : Caution should be exercised when considering TNF-blocking therapy for patients with a history of malignancy or when considering continuing treatment in patients who develop a malignancy, additional caution should be exercised patients with increased risk for malignancy due to heavy smoking. A risk for the development of malignancies in children and adolescents cannot be excluded. Melanoma and Merkel cell carcinoma have been reported, Periodic skin examination is recommended, particularly for patients with risk factors for skin cancer.
			</p>
			<p class="content__txt">
				<span class="content__point">Heart failure</span> : Remsima should be used with caution in patients with mild heart failure (NYHA class I/II) and must not be continued in patients who develop new or worsening symptoms of heart failure.
			</p>
			<p class="content__txt">
				<span class="content__point">Haematologic reactions</span>: There have been reports of pancytopenia, leucopenia, neutropenia, and thrombocytopenia in patients receiving TNF-blockers. All patients should be advised to seek immediate medical attention if they develop signs and symptoms suggestive of blood dyscrasias. Discontinuation of Remsima therapy should be considered in patients with confirmed significant haematologic abnormalities.
			</p>
			<p class="content__txt">
				<span class="content__point">Others</span>: A patient who requires surgery while on Remsima should be closely monitored for infections, and appropriate actions should be taken.
			</p>
			<p class="content__txt">
				<span class="content__point">Special populations</span>: The incidence of serious infections in infliximab-treated patients 65 years and older was greater than in those under 65 years of age. Particular attention regarding the risk for infection should be paid when treating the elderly.
			</p>
			<h3 class="content__sub-tit">Interactions</h3>
			<p class="content__txt">
				Concurrent administration of Remsima and other biologics used to treat the same conditions as Remsima, including anakinra and abatacept is not recommended.
			</p>
			<h3 class="content__sub-tit">pregnancy and lactation</h3>
			<p class="content__txt">
				Administration of Remsima is not recommended during pregnancy or breast-feeding. Women of childbearing potential must use adequate contraception to prevent pregnancy and continue its use for at least 6 months after the last Remsima treatment.
			</p>
			<h3 class="content__sub-tit">
				Side effects<br>
				Refer to SmPC for complete information on side effects
			</h3>
			<p class="content__txt">
				<span class="content__point">Very Common (≥1/10)</span> : Viral infections, headache, upper respiratory tract infection, sinusitis, abdominal pain, nausea, infusion-related reaction, pain;
			</p>
			<p class="content__txt">
				<span class="content__point">Common (≥1/100 to &lt;1/10)</span> : Bacterial infections, neutropenia, leucopenia, anaemia, lymphadenopathy, allergic respiratory symptom, depression, insomnia, vertigo, dizziness, hypoaesthesia, paraesthesia,conjunctivitis, tachycardia, palpitation,hypotension, ecchymosis, hot flush, flushing, lower respiratory tract infection, dyspnoea, epistaxis, gastrointestinal hemorrhage, diarrhoea, dyspepsia, gastroesophageal reflux, constipation,hepatic function abnormal, transaminases increased, new onset or worsening psoriasis including pustular psoriasis (primarily palm & soles), urticaria, rash, pruritus, hyperhidrosis, dry skin, fungal dermatitis, eczema, alopecia, arthralgia, myalgia, back pain, urinary tract infection, chest pain, fatigue, fever, injection site reaction, chills, oedema were reported.
			</p>
			<h3 class="content__sub-tit">Overdose</h3>
			<p class="content__txt">
				No case of overdose has been reported. Single doses up to 20 mg/kg have been administered without toxic effects.
			</p>
			<h3 class="content__sub-tit">Marketing authorisation numbers</h3>
			<p class="content__txt">
				EU/1/13/853/001
			</p>
			<h3 class="content__sub-tit">Marketing authorisation holder</h3>
			<p class="content__txt">
				Celltrion Healthcare Hungary Kft. 1023 Budapest Árpád Fejedelem útja 26-28. Hungary
			</p>
			<h3 class="content__sub-tit">Date of review of prescribing information</h3>
			<p class="content__txt">
				September 2013
			</p>
			<p class="content__sub-txt">
				©Celltrion Healthcare Co., Ltd. 2014. All rights reserved.
			</p>
		</div>
	</div>
</div>
