<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual etc" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Etc</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_etc %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">Sitemap</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">Sitemap</h1>
			<div class="site-map">
				<div class="site-map__box">
					<div class="site-map__header">
						<h2 class="site-map__header-tit">
							About Truxima
						</h2>
					</div>
					<div class="site-map__body">
						<ul class="site-map__list">
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../about/about_01_1.html" class="site-map__link">About Truxima</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../about/about_02_1.html" class="site-map__link">How Truxima Works</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../about/about_03_1.html" class="site-map__link">What to Expect</a></h3>
							</li>
						</ul>
					</div>
				</div><!-- //site-map__box-->
				<div class="site-map__box">
					<div class="site-map__header">
						<h2 class="site-map__header-tit">
							Disease
						</h2>
					</div>
					<div class="site-map__body">
						<ul class="site-map__list">
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../Disease/Disease_01.html" class="site-map__link">NHL</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../Disease/Disease_02.html" class="site-map__link">CLL</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../Disease/Disease_03.html" class="site-map__link">RA</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../Disease/Disease_04.html" class="site-map__link">GPA/MPA</a></h3>
							</li>
						</ul>
					</div>
				</div><!-- //site-map__box-->
				<div class="site-map__box">
					<div class="site-map__header">
						<h2 class="site-map__header-tit">
							Reference Room
						</h2>
					</div>
					<div class="site-map__body">
						<ul class="site-map__list">
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../reference/reference_01.html" class="site-map__link">CELLCare Support</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../reference/reference_02_list.html" class="site-map__link">Reference Room</a></h3>
							</li>
						</ul>
					</div>
				</div><!-- //site-map__box-->
				<div class="site-map__box">
					<div class="site-map__header">
						<h2 class="site-map__header-tit">
							Talk to <span class="inline-block">Your Doctor</span>
						</h2>
					</div>
					<div class="site-map__body">
						<ul class="site-map__list">
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../talk/talk.html" class="site-map__link">Talk to Your Doctor</a></h3>
							</li>
						</ul>
					</div>
				</div><!-- //site-map__box-->
				<div class="site-map__box">
					<div class="site-map__header">
						<h2 class="site-map__header-tit">
							FAQs
						</h2>
					</div>
					<div class="site-map__body">
						<ul class="site-map__list">
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../faq/faq.html" class="site-map__link">FAQs</a></h3>
							</li>
						</ul>
					</div>
				</div><!-- //site-map__box-->
				<div class="site-map__box">
					<div class="site-map__header">
						<h2 class="site-map__header-tit">
							Etc
						</h2>
					</div>
					<div class="site-map__body">
						<ul class="site-map__list">
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../etc/etc_01.html" class="site-map__link">Important Safety Information</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../etc/etc_02.html" class="site-map__link">Prescribing Information</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../etc/etc_04.html" class="site-map__link">Privacy Policy</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../etc/etc_05.html" class="site-map__link">Terms of Use</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../etc/etc_06.html" class="site-map__link">Legal Notice</a></h3>
							</li>
							<li class="site-map__item">
								<h3 class="site-map__body-tit"><a href="../etc/etc_07.html" class="site-map__link">Site Map</a></h3>
							</li>
						</ul>
					</div>
				</div><!-- //site-map__box-->
			</div><!-- //site-map -->
		</div><!-- //content__body-->
	</div><!-- //content__box -->
</div>
