
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Truxima</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">What to Expect</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>
			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h3 class="content__sub-tit">Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)</h3>
			<p class="content__txt">
				Truxima™  is given through a drip into a vein (intravenous infusion). Truxima™  infusions are administered at a hospital or clinic and monitored by a  trained  healthcare professional . Each infusion typically lasts 4 to 6 hours. You will be closely monitored for 1-2 hours after the infusion in case any side effects occur.
			</p>
			<p class="content__txt">
				If Truxima™ is the only drug used in your treatment regimen, it is given once a week for 4 weeks. Truxima™ maintenance therapy is given once every 2–3 months. If you are having Truxima™  in combination with chemotherapy, it is usually given on day 1 of each chemotherapy cycle (21 or 28 days, depending on your disease condition).
			</p>


			<h3 class="content__sub-tit">Rheumatoid Arthritis (RA)</h3>
			<p class="content__txt">
				Truxima™  is given through a drip into a vein (intravenous infusion). Truxima™  infusions are administered at a hospital or clinic and monitored by a  trained  healthcare professional . Each infusion typically lasts 4 to 6 hours. You will be closely monitored for 1-2 hours after the infusion in case any side effects occur.
			</p>
			<p class="content__txt">
				A course of Truxima™ consists of 2 infusions given 2 weeks apart. If Truxima™ works for you, you should start to feel better within 16-24 weeks.
			</p>


			<h3 class="content__sub-tit">Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)</h3>
			<p class="content__txt">
				Truxima™  is given through a drip into a vein (intravenous infusion). Truxima™  infusions are administered at a hospital or clinic and monitored by a  trained  healthcare professional . Each infusion typically lasts 4 to 6 hours. You will be closely monitored for 1-2 hours after the infusion in case any side effects occur.
			<p class="content__txt">
				Infusions are given once weekly for 4 weeks.
			</p>



			<h3 class="content__sub-tit">Important Safety Information</h3>
			<p class="content__txt">Tell your doctor right away if you experience any side effects during or after your infusion. Truxima™ can cause serious side effects that can lead to death, including: </p>
			<ul class="content__list">
				<li class="content__item"><strong>Infusion Reactions:</strong> infusion reactions may occur during or within 2 hours of your infusion. Symptoms include fever, chills, shivering, pain at the infusion site, blisters, itching, fatigue, headache, difficulty breathing, nausea, flushing, itching. You should let your know your doctor immediately if you experience these symptoms, so that your infusion can be slowed down or stopped. </li>
				<li class="content__item"><strong>Serious Infections:</strong> serious infections can happen during and after treatment with Truxima™ and, in severe cases, can lead to death.  You must tell your doctor immediately if you show signs of infection including fever, cough, sore throat, memory loss, difficulty walking, burning pain during urination or feeling weak and generally unwell. </li>
				<li class="content__item"><strong>Severe Skin Reactions:</strong> symptoms include  blisters on your skin, lips or mouth, genital areas or the eyelids. </li>
				<li class="content__item"><strong>Hepatitis B Virus (HBV) Reactivation:</strong> if you have had hepatitis B or are a carrier of hepatitis B virus (HBV), Truxima™  may cause HBV to become reactivated. Patients should be tested for HBV before initiating treatment with Truxima™. You should not receive Truxima™ if you have active HBV liver disease. </li>
				<li class="content__item"><strong>Cardiac Disorders:</strong> you may experience symptoms including chest pain and increased heart rates. You must notify your doctor of any signs of cardiac complications to prevent fatal events including heart failure.  </li>
			</ul>
			<p class="content__txt">
				Tell your doctor about any side effect that does not improve over time.<br>
				These are not all of the possible side effects of  Truxima™. Please see the Truxima™ full <a href="" class="content__link"><strong>Prescribing Information</strong></a> and/or the <a href="" class="content__link"><strong>Summary of Product Characteristics</strong></a> for additional important safety information.
			</p>



		</div>
	</div>
</div>
