
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Truxima</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">What to Expect</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>
			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<div class="tab-v1" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)">Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)<span class="tab-v1__m-tit">Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)</span></a></li>
					<li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="Rheumatoid Arthritis (RA)">Rheumatoid Arthritis (RA)<span class="tab-v1__m-tit">Rheumatoid Arthritis (RA)</a></li>
					<li class="tab-v1__item"><a href="#tab3" class="tab-v1__link" data-title="Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)">Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)<span class="tab-v1__m-tit">Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)</span></a></li>
					<li class="tab-v1__item"><a href="#tab4" class="tab-v1__link" data-title="Important Safety Information">Important Safety Information<span class="tab-v1__m-tit">Important Safety Information</span></a></li>
				</ul>
			</div><!-- //tab-v1 -->

			<div class="tab-content is-active" id="tab1">
				<p class="content__txt">
					Truxima™  is given through a drip into a vein (intravenous infusion). Truxima™  infusions are administered at a hospital or clinic and monitored by a  trained  healthcare professional . Each infusion typically lasts 4 to 6 hours. You will be closely monitored for 1-2 hours after the infusion in case any side effects occur.
				</p>
				<p class="content__txt">
					If Truxima™ is the only drug used in your treatment regimen, it is given once a week for 4 weeks. Truxima™ maintenance therapy is given once every 2–3 months. If you are having Truxima™  in combination with chemotherapy, it is usually given on day 1 of each chemotherapy cycle (21 or 28 days, depending on your disease condition).
				</p>
			</div>



			<div class="tab-content" id="tab2">
				<p class="content__txt">
					Truxima™  is given through a drip into a vein (intravenous infusion). Truxima™  infusions are administered at a hospital or clinic and monitored by a  trained  healthcare professional . Each infusion typically lasts 4 to 6 hours. You will be closely monitored for 1-2 hours after the infusion in case any side effects occur.
				</p>
				<p class="content__txt">
					A course of Truxima™ consists of 2 infusions given 2 weeks apart. If Truxima™ works for you, you should start to feel better within 16-24 weeks.
				</p>
			</div>
			<div class="tab-content" id="tab3">
				<p class="content__txt">
					Truxima™  is given through a drip into a vein (intravenous infusion). Truxima™  infusions are administered at a hospital or clinic and monitored by a  trained  healthcare professional . Each infusion typically lasts 4 to 6 hours. You will be closely monitored for 1-2 hours after the infusion in case any side effects occur.
				<p class="content__txt">
					Infusions are given once weekly for 4 weeks.
				</p>
			</div>



			<div class="tab-content" id="tab4">
				<h3 class="content__sub-tit">Tell your doctor right away if you experience any side effects during or after your infusion. Truxima™ can cause serious side effects that can lead to death, including: </h3>
				<ul class="content__list">
					<li class="content__item"><strong>Infusion Reactions:</strong> infusion reactions may occur during or within 2 hours of your infusion. Symptoms include fever, chills, shivering, pain at the infusion site, blisters, itching, fatigue, headache, difficulty breathing, nausea, flushing, itching. You should let your know your doctor immediately if you experience these symptoms, so that your infusion can be slowed down or stopped. </li>
					<li class="content__item"><strong>Serious Infections:</strong> serious infections can happen during and after treatment with Truxima™ and, in severe cases, can lead to death.  You must tell your doctor immediately if you show signs of infection including fever, cough, sore throat, memory loss, difficulty walking, burning pain during urination or feeling weak and generally unwell. </li>
					<li class="content__item"><strong>Severe Skin Reactions:</strong> symptoms include  blisters on your skin, lips or mouth, genital areas or the eyelids. </li>
					<li class="content__item"><strong>Hepatitis B Virus (HBV) Reactivation:</strong> if you have had hepatitis B or are a carrier of hepatitis B virus (HBV), Truxima™  may cause HBV to become reactivated. Patients should be tested for HBV before initiating treatment with Truxima™. You should not receive Truxima™ if you have active HBV liver disease. </li>
					<li class="content__item"><strong>Cardiac Disorders:</strong> you may experience symptoms including chest pain and increased heart rates. You must notify your doctor of any signs of cardiac complications to prevent fatal events including heart failure.  </li>
				</ul>
				<p class="content__txt">
					Tell your doctor about any side effect that does not improve over time.<br>
					These are not all of the possible side effects of  Truxima™. Please see the Truxima™ full <a href="" class="content__link"><strong>Prescribing Information</strong></a> and/or the <a href="" class="content__link"><strong>Summary of Product Characteristics</strong></a> for additional important safety information.
				</p>
			</div>


			<div class="tab-content" id="tab5">
				<h2 class="content__subject">Important Safety Information for REMSIMA<sup>®</sup> (infliximab)</h2>
				<p class="content__txt">
					Only your doctor can decide if REMSIMA<sup>®</sup> (infliximab) is right for you. REMSIMA<sup>®</sup> can cause serious side effects such as increasing your risk of infection. Some patients, especially those 65 years of age and older, have had serious infections such as tuberculosis (TB), fungal infections including histoplasmosis that spread throughout the body, and bacterial, viral or other infections. Some of these infections have been fatal. Your doctor should monitor you closely for signs and symptoms of TB during treatment with REMSIMA<sup>®</sup>. Other infections included pneumonia, cellulitis, abscess and skin ulcerations.
				</p>
				<p class="content__txt">
					Unusual cancers have been reported in children and teenage patients taking TNF-blocker medicines, such as REMSIMA<sup>®</sup>, which were sometimes fatal. Children taking REMSIMA<sup>®</sup> have an increased risk of infection. Children should receive all vaccinations recommended by their doctors before starting REMSIMA<sup>®</sup>. Children and adults using TNF inhibitors, including REMSIMA<sup>®</sup>, may have an increased risk of getting lymphoma or other cancers. Tell your doctor if you have a history of malignancy or risk factors such as chronic obstructive pulmonary disease (COPD).
				</p>
				<h3 class="content__sub-tit">
					Talk to your doctor if you have any concerns about your treatment or your health while on REMSIMA<sup>®</sup>. Before starting REMSIMA<sup>®</sup>, be sure to tell your doctor if you:
				</h3>
				<ul class="content__list">
					<li class="content__item">Have a known allergy to infliximab, the active ingredient in REMSIMA<sup>®</sup></li>
					<li class="content__item">Are taking or have taken another biologic to treat your AS</li>
					<li class="content__item">Currently have any type of infection</li>
					<li class="content__item">Have or have been exposed to tuberculosis (TB)</li>
					<li class="content__item">Have or have had hepatitis B</li>
					<li class="content__item">Have heart problems, including heart failure</li>
					<li class="content__item">Have chronic obstructive pulmonary disease (COPD) or are a heavy smoker</li>
					<li class="content__item">Have or have had multiple sclerosis, Guillain-Barre syndrome, or have been diagnosed with optic neuritis</li>
					<li class="content__item">Have recently had or are planning to have any vaccines</li>
					<li class="content__item">Have or have had lymphoma or other type of cancer</li>
					<li class="content__item">Are pregnant, are planning to become pregnant, or are breastfeeding</li>
				</ul>
				<h3 class="content__sub-tit">
					Serious and sometimes fatal side effects have been reported in some people taking REMSIMA<sup>®</sup> (infliximab). Tell your doctor immediately if you experience any signs of the following:
				</h3>
				<ul class="content__list">
					<li class="content__item">Allergic reaction – such as swelling of the face, lips, mouth or throat; difficulty in swallowing or breathing; swelling of the hands, feet or ankles; muscle pain, fever, joint or jaw pain, sore throat or headache</li>
					<li class="content__item">the hands, feet or ankles; muscle pain, fever, joint pain, sore throat or headache</li>
					<li class="content__item">Heart failure – such as shortness of breath, swelling of the feet or changes in heartbeat</li>
					<li class="content__item">Infection, including TB – such as fever, fatigue, persistent cough, flu-like symptoms, weight loss, night sweats, diarrhoea, wounds, dental problems or burning when urinating. REMSIMA<sup>®</sup> can make you more likely to get an infection or make an existing infection worse</li>
					<li class="content__item">Lung problems – such as coughing, difficulty in breathing, or tightness in the chest</li>
					<li class="content__item">Nervous system disorder – including tingling, numbness, weakness in arms or legs, or changes in vision</li>
					<li class="content__item">Liver problems – such as yellowing of the skin or eyes, dark brown urine, or upper abdominal pain or fever</li>
					<li class="content__item">Immune system disorder called lupus – joint pain, rash on cheeks or arms</li>
					<li class="content__item">Low blood count – including persistent fever, very pale skin, bleeding or bruising more easily</li>
				</ul>
				<p class="content__txt"><strong>For more information, please download the <a href="#" class="content__link">Full Prescribing Information</a> and discuss it with your doctor.</strong></p>
			</div>


		</div>
	</div>
</div>
