
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About REMSIMA<sup>®</sup></h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<div class="tab-v1" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="About REMSIMA®">About REMSIMA<sup>®</sup><span class="tab-v1__m-tit">About REMSIMA<sup>®</sup></span></a></li>
					<li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="How REMSIMA® Works"><span class="inline-block">How REMSIMA<sup>®</sup></span> Works<span class="tab-v1__m-tit">How REMSIMA<sup>®</sup> Works</span></a></li>
					<li class="tab-v1__item"><a href="#tab3" class="tab-v1__link" data-title="What to Expect">What to Expect<span class="tab-v1__m-tit">What to Expect</span></a></li>
					<li class="tab-v1__item"><a href="#tab4" class="tab-v1__link" data-title="What to tell your doctor before going on Remsima®"><span class="inline-block">What to tell</span><span class="inline-block"> your doctor</span><span class="tab-v1__m-tit">What to tell your doctor</span></a></li>
					<li class="tab-v1__item"><a href="#tab5" class="tab-v1__link" data-title="Important Safety Information">Important Safety Information<span class="tab-v1__m-tit">Important Safety Information</span></a></li>
				</ul>
			</div><!-- //tab-v1 -->

			<div class="tab-content is-active" id="tab1">
				<p class="content__txt">
					If your child has been diagnosed with moderate to severe pediatric ulcerative colitis (PUC) and hasn’t responded well to other treatments, REMSIMA<sup>®</sup> may be able to help.<br />
					REMSIMA<sup>®</sup> has been proven to help reduce the signs and symptoms of UC in pediatric patients (ages 6-17) to help reach and maintain remission.<br />
					REMSIMA<sup>®</sup> is not for everyone. Only your doctor can determine if REMSIMA<sup>®</sup> is right for your child.
				</p>
				<div class="content__img type-about-8">
					<div class="content__img-wrap">About REMSIMA<sup>®</sup></div>
				</div>
				<h3 class="content__sub-tit">A more affordable option.</h3>
				<p class="content__txt">
					REMSIMA<sup>®</sup> is a <a href="../about/about_08_2.html#tab2" class="content__link">biosimilar medication</a>, which means that it’s been proven to be as effective, safe, and high-quality as an original biologic medication—and it’s more affordable. REMSIMA<sup>®</sup> (infliximab) is the first biosimilar medication of its kind approved by the European Medicines Agency (EMA) for the treatment of autoimmune disease, including AS. Only your doctor can decide if biosimilar REMSIMA<sup>®</sup> is right for you.
				</p>
			</div>



			<div class="tab-content" id="tab2">
				<p class="content__txt">
					<a href="../about/about_08_2.html" class="content__link">Pediatric ulcerative colitis (PUC)</a> is linked to the overproduction of a certain protein in the body called Tumor Necrosis Factor-alpha (or TNF-alpha), which causes an inflammatory reaction and ulcers only the colon (large intestine) and rectum.
				</p>
				<p class="content__txt">
					REMSIMA<sup>®</sup> is a TNF-alpha blocker, which means it blocks the TNF-alpha from causing inflammation and its resulting symptoms.
				</p>
				<p class="content__txt">
					Unlike other treatments that may be ineffective or only relieve PUC symptoms in the short-term, REMSIMA<sup>®</sup> can help treat the root cause of ulcerative colitis.
				</p>
				<p class="content__txt"><strong>For a full list of reported side effects please see the <a href="../../pdf/REMSIMA SmPC.pdf" class="content__link" target="_blank" download="">Summary of Product Characteristics</a> and/or the <a href="../etc/etc_02.html" class="content__link">Prescribing Information.</strong></a></p>
			</div>



			<div class="tab-content" id="tab3">
				<p class="content__txt">
					If your doctor decides to prescribe REMSIMA™, you will receive it as an intravenous (IV) infusion from a healthcare professional at hospital or other treatment location. The duration of the infusion will last about 2 hours and a healthcare professional will be present at times during the infusion. 
				</p>
				<p class="content__txt">
					You will also need to stay at your treatment location for a period of 1 to 2 hours after receiving REMSIMA<sup>®</sup>, so that a healthcare professional can monitor you for any possible side effects. Your doctor will decide your dose and how often you receive REMSIMA<sup>®</sup>. If you have any questions about taking REMSIMA<sup>®</sup>, be sure to talk to your prescribing doctor.
				</p>
			</div>



			<div class="tab-content" id="tab4">
				<h3 class="content__sub-tit">Only your doctor can decide if REMSIMA<sup>®</sup> is the right medication to help treat your child’s pediatric ulcerative colitis (PUC). Be sure to tell your doctor if you:</h3>
				<ul class="content__list">
					<li class="content__item">Have a known allergy to infliximab, the active ingredient in REMSIMA<sup>®</sup></li>
					<li class="content__item">Are taking or have taken another biologic to treat your pediatric ulcerative colitis or pediatric ulcerative colitis (PUC).</li>
					<li class="content__item">Currently have any type of infection</li>
					<li class="content__item">Have or have been exposed to tuberculosis (TB)</li>
					<li class="content__item">Have or have had hepatitis B</li>
					<li class="content__item">Have heart problems, including heart failure</li>
					<li class="content__item">Have chronic obstructive pulmonary disease (COPD) or are a heavy smoker</li>
					<li class="content__item">Have or have had multiple sclerosis, Guillain-Barre syndrome, or have been diagnosed with optic neuritis</li>
					<li class="content__item">Have recently had or are planning to have any vaccines</li>
					<li class="content__item">Have or have had lymphoma or other type of cancer</li>
					<li class="content__item">Are pregnant, are planning to become pregnant, or are breastfeeding</li>
				</ul>
			</div>



			<div class="tab-content" id="tab5">
				<h2 class="content__subject">Important Safety Information for REMSIMA<sup>®</sup> (infliximab)</h2>
				<p class="content__txt">
					Only your doctor can decide if REMSIMA<sup>®</sup> (infliximab) is right for you. REMSIMA<sup>®</sup> can cause serious side effects such as increasing your risk of infection. Some patients, especially those 65 years of age and older, have had serious infections such as tuberculosis (TB), fungal infections including histoplasmosis that spread throughout the body, and bacterial, viral or other infections. Some of these infections have been fatal. Your doctor should monitor you closely for signs and symptoms of TB during treatment with REMSIMA<sup>®</sup>. Other infections included pneumonia, cellulitis, abscess and skin ulcerations.
				</p>
				<p class="content__txt">
					Unusual cancers have been reported in children and teenage patients taking TNF-blocker medicines, such as REMSIMA<sup>®</sup>, which were sometimes fatal. Children taking REMSIMA<sup>®</sup> have an increased risk of infection. Children should receive all vaccinations recommended by their doctors before starting REMSIMA<sup>®</sup>. Children and adults using TNF inhibitors, including REMSIMA<sup>®</sup>, may have an increased risk of getting lymphoma or other cancers. Tell your doctor if you have a history of malignancy or risk factors such as chronic obstructive pulmonary disease (COPD).
				</p>
				<h3 class="content__sub-tit">
					Talk to your doctor if you have any concerns about your treatment or your health while on REMSIMA<sup>®</sup>. Before starting REMSIMA<sup>®</sup>, be sure to tell your doctor if you:
				</h3>
				<ul class="content__list">
					<li class="content__item">Have a known allergy to infliximab, the active ingredient in REMSIMA<sup>®</sup></li>
					<li class="content__item">Are taking or have taken another biologic to treat your AS</li>
					<li class="content__item">Currently have any type of infection</li>
					<li class="content__item">Have or have been exposed to tuberculosis (TB)</li>
					<li class="content__item">Have or have had hepatitis B</li>
					<li class="content__item">Have heart problems, including heart failure</li>
					<li class="content__item">Have chronic obstructive pulmonary disease (COPD) or are a heavy smoker</li>
					<li class="content__item">Have or have had multiple sclerosis, Guillain-Barre syndrome, or have been diagnosed with optic neuritis</li>
					<li class="content__item">Have recently had or are planning to have any vaccines</li>
					<li class="content__item">Have or have had lymphoma or other type of cancer</li>
					<li class="content__item">Are pregnant, are planning to become pregnant, or are breastfeeding</li>
				</ul>
				<h3 class="content__sub-tit">
					Serious and sometimes fatal side effects have been reported in some people taking REMSIMA<sup>®</sup> (infliximab). Tell your doctor immediately if you experience any signs of the following:
				</h3>
				<ul class="content__list">
					<li class="content__item">Allergic reaction – such as swelling of the face, lips, mouth or throat; difficulty in swallowing or breathing; swelling of the hands, feet or ankles; muscle pain, fever, joint or jaw pain, sore throat or headache</li>
					<li class="content__item">the hands, feet or ankles; muscle pain, fever, joint pain, sore throat or headache</li>
					<li class="content__item">Heart failure – such as shortness of breath, swelling of the feet or changes in heartbeat</li>
					<li class="content__item">Infection, including TB – such as fever, fatigue, persistent cough, flu-like symptoms, weight loss, night sweats, diarrhoea, wounds, dental problems or burning when urinating. REMSIMA<sup>®</sup> can make you more likely to get an infection or make an existing infection worse</li>
					<li class="content__item">Lung problems – such as coughing, difficulty in breathing, or tightness in the chest</li>
					<li class="content__item">Nervous system disorder – including tingling, numbness, weakness in arms or legs, or changes in vision</li>
					<li class="content__item">Liver problems – such as yellowing of the skin or eyes, dark brown urine, or upper abdominal pain or fever</li>
					<li class="content__item">Immune system disorder called lupus – joint pain, rash on cheeks or arms</li>
					<li class="content__item">Low blood count – including persistent fever, very pale skin, bleeding or bruising more easily</li>
				</ul>
				<p class="content__txt"><strong>For more information, please download the <a href="#" class="content__link">Full Prescribing Information</a> and discuss it with your doctor.</strong></p>
			</div>


		</div>
	</div>
</div>
