
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Truxima</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About REMSIMA<sup>®</sup></h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<p style="font-size:50px; font-weight:bold; color:red;">탭 텍스트길이 조정 필요(아니면 탭없이 진행)</p>
			<div class="tab-v1" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)">Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)<span class="tab-v1__m-tit">Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)</span></a></li>
					<li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="Rheumatoid Arthritis (RA)">Rheumatoid Arthritis (RA)<span class="tab-v1__m-tit">Rheumatoid Arthritis (RA)</a></li>
					<li class="tab-v1__item"><a href="#tab3" class="tab-v1__link" data-title="Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)">Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)<span class="tab-v1__m-tit">Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)</span></a></li>
				</ul>
			</div><!-- //tab-v1 -->

			<div class="tab-content is-active" id="tab1">
				<h3 class="content__sub-tit">
					In patients with lymphoma, specialised white blood cells called B cells become cancerous. Truxima™ works by recognising a protein called CD20, which is found on the surface of B cells. Once it attaches to CD20, Truxima™ works by:
				</h3>
				<ul class="content__list type-another">
					<li class="content__item">helping the immune system destroy B cells</li>
					<li class="content__item">helping the B cell destroy itself</li>
				</ul>
				<p class="content__txt">
					In addition to destroying B cells, Truxima™ increases sensitivity to chemotherapy.<br>
					Truxima™ may take longer to work than chemotherapy, but it keeps working in your body even after you finish treatment to identify and destroy remaining B cells.
				</p>
			</div>
			<div class="tab-content" id="tab2">
				<p class="content__txt">
					In patients with rheumatoid arthritis (RA), specialised white blood cells called B cells are not able to function properly and thus, contribute to inflammatory reactions that cause joint damage.
				</p>
				<h3 class="content__sub-tit">
					Truxima™ works by recognising a protein called CD20, which is found on the surface of B cells. Once it attaches to CD20, Truxima™ works by
				</h3>
				<ul class="content__list type-another">
					<li class="content__item">helping the immune system destroy B cells </li>
					<li class="content__item">helping the B cell destroy itself </li>
				</ul>
				<p class="content__txt">By removing B cells, Truxima™ can help relieve symptoms of RA and slow joint damage.</p>
			</div>



			<div class="tab-content" id="tab3">
				<p class="content__txt">
					In patients with granulomatosis with polyangiitis (GPA) and microscopic polyangiitis (MPA), specialised white blood cells called B cells function abnormally, causing blood vessels to become inflamed.
				<h3 class="content__sub-tit">
					Truxima™ works by recognising a protein called CD20, which is found on the surface of B cells. Once it attaches to CD20, Truxima™ works by:
				</h3>
				<ul class="content__list type-another">
					<li class="content__item">helping the immune system destroy B cells </li>
					<li class="content__item">helping the B cell destroy itself </li>
				</ul>
				<p class="content__txt">
					By removing B cells, Truxima™ can help control inflammation of blood vessels and symptoms of GPA/MPA.
				</p>
			</div>

		</div>
	</div>
</div>
