
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About REMSIMA<sup>®</sup></h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<div class="tab-v1 type-two" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="About Rheumatoid Arthritis">About Crohn’s Disease<span class="tab-v1__m-tit">About Crohn’s Disease</span></a></li>
					<li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="Treatment Options">Treatment Options<span class="tab-v1__m-tit">Treatment Options</span></a></li>
				</ul>
			</div><!-- //tab-v1 -->
			<div class="tab-content is-active" id="tab1">
				<p class="content__txt">
					Crohn’s disease (CD) is a condition in which your immune system attacks healthy tissues in your body, causing inflammation, swelling and irritation of the digestive or gastrointestinal tract (GI) that can cause pain and diarrhea. Over time, periods of symptoms called flares can cause GI scarring that can constrict the intestine to cause additional complications. While the exact cause of CD is unknown, it can be treated.
				</p>

				<h3 class="content__sub-tit">The Facts</h3>
				<ul class="content__list">
					<li class="content__item">CD occurs equally in women and men</li>
					<li class="content__item">It may run in families</li>
					<li class="content__item">Most common symptoms are pain and diarrhea</li>
					<li class="content__item">Diet can’t cure or prevent CD, but certain foods may cause symptoms to flare or worsen</li>
					<li class="content__item">Young adults and children can also get CD</li>
					<li class="content__item">Scientists don’t know the exact cause of CD, but think genes, an individual’s immune system, and environment may play a part</li>
				</ul>
				<h3 class="content__sub-tit">Diagnosis</h3>
				<p class="content__txt">
					Only a doctor can diagnose CD. To make a diagnosis, a doctor—usually a gastroenterologist (doctor specializing in diseases of the gastrointestinal tract)—may use physical exams, blood and stool tests, CT scans, upper and lower GI imaging, and colonoscopies.
				</p>
			</div>


			<div class="tab-content" id="tab2">
				<p class="content__txt">
					There are several treatment options for Crohn’s disease (CD). Treatment goals usually include controlling inflammation or flares, correcting nutritional deficiencies and relieving symptoms of pain, diarrhea and rectal bleeding. Only your doctor can decide which medications and treatments are right for you, and early treatment of CD is important.
				</p>
				<h3 class="content__sub-tit">CD treatment may include:</h3>
				<ul class="content__list">
					<li class="content__item">Medication</li>
					<li class="content__item">Surgery</li>
					<li class="content__item">Nutrition supplementation</li>
				</ul>
				<h3 class="content__sub-tit">Medication Options</h3>
				<p class="content__txt">The medication(s) prescribed by your doctor will depend on the severity and progression of your CD, among other factors. Different medications treat CD in different ways.</p>
				<ul class="content__list">
					<li class="content__item">
						<h4 class="content__item-tit">Anti-inflammatory medications</h4>
						Usually a first-line treatment used to help control inflammation, but may be ineffective for many people with CD
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Steroids</h4>
						May be a more effective at reducing inflammation, however symptom control may be short-term
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Immune system suppressors</h4>
						Medications that suppress the immune system to block immune reactions, sometimes used in conjunction with steroids
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Biologics</h4>
						Derived from natural, biological sources, biologics target a specific part of the immune system to help stop inflammation and control symptoms over the long-term
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Biosimilars</h4>
						Designated as biosimilar to or interchangeable with already licensed biologic medications. <a href="" class="content__link">REMSIMA<sup>®</sup></a> is biosimilar infliximab, which means it’s equivalent in terms of effectiveness, quality and safety to the biologic infliximab already on the market
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
