
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About REMSIMA<sup>®</sup></h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<div class="tab-v1 type-two" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="About Rheumatoid Arthritis">About Rheumatoid Arthritis<span class="tab-v1__m-tit">About Rheumatoid Arthritis</span></a></li>
					<li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="Treatment Options">Treatment Options<span class="tab-v1__m-tit">Treatment Options</span></a></li>
				</ul>
			</div><!-- //tab-v1 -->
			<div class="tab-content is-active" id="tab1">
				<p class="content__txt">
					Rheumatoid arthritis (RA) is a condition in which your immune system attacks healthy tissues in your body, resulting in joint
					inflammation, swelling, stiffness and pain. While the exact cause of RA is unknown, however, it can be treated.<br>
					Approximately 1% of the population worldwide suffer from Rheumatoid Arthritis.
				</p>
				<h3 class="content__sub-tit">The Facts</h3>
				<ul class="content__list">
					<li class="content__item">Anyone can get RA</li>
					<li class="content__item">It occurs more often in women than men</li>
					<li class="content__item">RA typically starts in middle age and is most common in older people</li>
					<li class="content__item">Young adults and children can also get RA</li>
					<li class="content__item">Scientists do not know the exact cause of RA, but genes, hormones and environment may play a part</li>
				</ul>
				<h3 class="content__sub-tit">Diagnosis</h3>
				<p class="content__txt">
					Only a doctor can diagnose RA. To make a diagnosis, a general doctor or rheumatologist (doctor of joints and bones) uses physical exams, laboratory tests, x-rays, MRI, and CT scans and medical history. There is no single test for RA, which may make it challenging to diagnose.
				</p>
			</div>
			<div class="tab-content" id="tab2">
				<p class="content__txt">
					There are many treatment options for rheumatoid arthritis (RA). Treatment goals may include relieving pain, reducing swelling, controlling joint damage, and helping people with RA live normal, active lives. Only your doctor can decide which medications and treatments are right for you, and early treatment of RA is important.
				</p>
				<h3 class="content__sub-tit">RA treatment may include:</h3>
				<ul class="content__list">
					<li class="content__item">Lifestyle changes</li>
					<li class="content__item">Medication</li>
					<li class="content__item">Surgery</li>
					<li class="content__item">Ongoing doctor visits</li>
					<li class="content__item">Alternative therapies</li>
				</ul>
				<h3 class="content__sub-tit">Medication Options</h3>
				<p class="content__txt">The medication(s) prescribed by your doctor will depend on the severity and progression of your RA, among other factors. Different medications treat RA in different ways.</p>
				<ul class="content__list">
					<li class="content__item">
						<h4 class="content__item-tit">Non-steroidal anti-inflammatory drugs (NSAIDs)</h4>
						May help control symptoms including pain, swelling and symptoms. NSAIDs do not prevent further joint damage
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Disease-modifying antirheumatic drugs (DMARDs)</h4>
						May help slow the progression of RA and help control further joint damage
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Biologics</h4>
						A class of DMARDs also called biologic dugs Derived from biological sources, biologics target a specific part of the immune system to help slow, modify or stop RA disease progression—even when other treatments haven’t worked. Biologics can help prevent long-term disability from RA.<br>
						Remsima is biosimilar infliximab, which means that it is a biologic drug that is highly similar to the reference product without clinically meaningful differences in quality, efficacy and safety
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Biosimilars</h4>
						Designated as biosimilar to or interchangeable with already licensed biologic medications. <a href="" class="content__link">REMSIMA<sup>®</sup></a> is biosimilar infliximab, which means it’s equivalent in terms of effectiveness, quality and safety to the biologic infliximab already on the market
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
