
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Truxima</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About Truxima</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<p class="content__txt">
				Truxima™ (CT-P10) is the first biosimilar rituximab medication approved by European Medicines Agency(EMA) in February 2017.
			</p>
			<p class="content__txt">
				Truxima™ is a biosimilar rituximab which demonstrates
				high comparability to the reference medicinal product.
				Truxima™ reduces disease symptoms by specifically I
				nhibiting the overactive growth and excessive spread of B cells.
				Truxima™ is used for the patients with the treatment of (
				lymphoma, leukemia and autoimmune disorders.) n
				on-Hodgkin’s lymphoma (NHL), chronic lymphocytic leukemia (CLL),
				rheumatoid arthritis (RA), granulomatosis with polyangiitis(GPA), and microscopic polyangiitis(MPA).
			</p>
			<div class="content__img type-about-1">
				<div class="content__img-wrap">wAbout REMSIMA<sup>®</sup></div>
			</div>
			<h3 class="content__sub-tit">Truxima ™, the world first biosimilar rituximab (approved in 2017 by EMA)</h3>
			<ul class="content__list">
				<li class="content__item">
					Indications: Non-Hodgkin’s Lymphoma (NHL), Chronic Lymphocytic Leukemia (CLL), Rheumatoid Arthritis (RA), Granulomatosis with Polyangiitis (GPA), Microscopic Polyangiitis (MPA)
				</li>
				<li class="content__item">
					Protein Type: Monoclonal antibody (mAb)
				</li>
				<li class="content__item">
					Mechanism of action : Targets the CD20 antigen expressed on the surface of pre-B and mature B-lymphocytes. Upon binding to CD20, rituximab mediates B-cell lysis.
				</li>
				<li class="content__item">
					Market size : 6,059 mil. USD (2015 Rituximab market)*
				</li>
			</ul>
			<p class="content__txt type-small">
				*Market size reference : IMS, 2015
			</p>
		</div>
	</div>
</div>
