
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">About Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_about %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About REMSIMA<sup>®</sup></h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<div class="tab-v1 type-two" data-tab="true">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="About Rheumatoid Arthritis">About Psoriatic Arthritis<span class="tab-v1__m-tit">About Psoriatic Arthritis</span></a></li>
					<li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="Treatment Options">Treatment Options<span class="tab-v1__m-tit">Treatment Options</span></a></li>
				</ul>
			</div><!-- //tab-v1 -->
			<div class="tab-content is-active" id="tab1">
				<p class="content__txt">
					Psoriatic arthritis (PsA) is a condition in which your immune system attacks healthy tissues in your body, resulting in the inflammation, stiffness and joint pain of arthritis, as well as the red, scaly skin plaques of psoriasis. To help prevent permanent joint damage, early diagnosis and treatment of PsA is important. While the exact cause of PsA is unknown, it can be treated.
				</p>

				<h3 class="content__sub-tit">The Facts</h3>
				<ul class="content__list">
					<li class="content__item">Anyone can get psoriatic arthritis and it tends to run in families</li>
					<li class="content__item">In most people, signs of psoriasis show up before joint inflammation (arthritis)</li>
					<li class="content__item">An estimated 5-10% of people with psoriasis develop PsA</li>
					<li class="content__item"><a href="about_04_1.html" class="content__link">Psoriasis</a> usually develops during adolescence or early adulthood; psoriatic arthritis typically occurs between the ages of 30 and 50</li>
					<li class="content__item">Symptoms of psoriasis include patches of red, thickened skin with silvery scales; symptoms of arthritis include stiff, painful joints with redness or heat in surrounding tissues</li>
					<li class="content__item">Scientists don’t know the exact cause of PsA, but think genes may play a part</li>
				</ul>
				<h3 class="content__sub-tit">Diagnosis</h3>
				<p class="content__txt">
					Only a doctor can diagnose psoriatic arthritis. PsA may be difficult to distinguish from arthritis when skin symptoms are minimal. To make a diagnosis, a doctor uses physical exams, laboratory tests, x-rays, biopsies, and medical history.<br /> There is no single test for PsA, which may make it challenging to diagnose.
				</p>
			</div>


			<div class="tab-content" id="tab2">
				<p class="content__txt">
					There are many treatment options for psoriatic arthritis (PsA). Treatment goals may include relieving pain, reducing swelling, controlling joint damage, clearing skin and helping people with PsA live normal, active lives. Only your doctor can decide which medications and treatments are right for you, and early treatment of PsA is important.
				</p>
				<h3 class="content__sub-tit">PsA treatment may include:</h3>
				<ul class="content__list">
					<li class="content__item">Medication</li>
					<li class="content__item">Surgery</li>
					<li class="content__item">Ongoing doctor visits</li>
					<li class="content__item">Alternative therapies</li>
				</ul>
				<h3 class="content__sub-tit">Medication Options</h3>
				<p class="content__txt">The medication(s) prescribed by your doctor will depend on the severity and progression of your PsA, among other factors. Different medications treat PsA in different ways.</p>
				<ul class="content__list">
					<li class="content__item">
						<h4 class="content__item-tit">Non-steroidal anti-inflammatory drugs (NSAIDs)</h4>
						May help control symptoms including pain, swelling and symptoms. NSAIDs do not prevent further joint damage
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Disease-modifying antirheumatic drugs (DMARDs)</h4>
						May help slow the progression of PsA to help control further joint damage
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Biologics</h4>
						A class of DMARDs also called biologic response modifiers. Derived from natural, biological sources, biologics target a specific part of the immune system to help slow, modify or stop PsA disease progression—even when other treatments haven’t worked. Biologics can help prevent long-term disability from PsA
					</li>
					<li class="content__item">
						<h4 class="content__item-tit">Biosimilars</h4>
						Designated as biosimilar to or interchangeable with already licensed biologic medications. <a href="" class="content__link">REMSIMA<sup>®</sup></a> is biosimilar infliximab, which means it’s equivalent in terms of effectiveness, quality and safety to the biologic infliximab already on the market
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
