<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual news" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">News Room</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_news %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">News Room</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>
				
			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">News Room</h1>
			<% include ../_inc/_board_search %>
			<% include ../_inc/_board_magazine %>
			<% include ../_inc/_pagination1 %>
		</div>
	</div>
</div>
