<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual etc" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Search Result</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_etc %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">Search Result</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>
				
			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">Search Result</h1>
			<h2 class="content__subject">Search Results <span class="content__subject-point">(52 cases)</span></h2>
			<div class="search">
				<ul class="search__list">
					<li class="search__item">
						<h3 class="search__tit">About REMSIMA<sup>®</sup></h3>
						<p class="search__txt">
							If you’ve been diagnosed with ankylosing spondylitis (AS), REMSIMA<sup>®</sup> may be able to help. REMSIMA<sup>®</sup> has been proven to help reduce the signs and symptoms of AS and help improve physical function. REMSIMA<sup>®</sup> is not for everyone. Only your <strong>doctor</strong> can determine if REMSIMA<sup>®</sup> is right for you.
						</p>
						<a href="" class="search__link">http://www.celltrionhealthcare.com/remsima/com/as/01_about/about01.asp</a>
					</li>
					<li class="search__item">
						<h3 class="search__tit">What to Expect</h3>
						<p class="search__txt">
							If your <strong>doctor</strong> decides to prescribe REMSIMA<sup>®</sup>, you will receive it as an intravenous (IV) infusion, given by a healthcare professional at a <strong>doctor</strong>’s office, hospital or other treatment location. Your treatment will last about 2 hours and a <strong>doctor</strong> or nurse will be present if you have any questions or concerns.
						</p>
						<a href="" class="search__link">http://www.celltrionhealthcare.com/remsima/com/as/01_about/about03.asp</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
