<%
	var data = jsonData
%><!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<title>Truxima</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.event.drag-1.5.1.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.touchSlider.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/list-v2.js"></script>
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/common.css">
<link rel="stylesheet" href="../../css/contact.css">
<link rel="stylesheet" href="../../css/<%= page %>.css">
</head>
<body class="<%= page %>">
<div class="skip">
	<a href="#content">본문 바로가기</a>
</div><!-- //skip -->
<div class="wrapper">
	<div class="wrapper__row">
		<% include ../_inc/_header %>
	</div>
	<div class="wrapper__row type-full-height">
		<div class="content type-main" id="content">
			<!-- <div class="popup">
				<div class="popup__wrap">
					<h2 class="popup__tit">Email This Page</h2>
					<h3 class="popup__sub-tit">Want to share the benefits of REMSIMA<sup>®</sup> ?</h3>
					<p class="popup__txt">You can e-mail this page to anyone you feel can benefit from learning about REMSIMA<sup>®</sup>. Simply fill in the required fields below and your friend will receive a link to this page.</p>
					<table class="table-row-v1 cscenter-table">
						<colgroup>
							<col width="170px;">
							<col width="auto">
						</colgroup>
						<tbody>
							<tr>
								<th class="table-row-v1__th">Your Name</th>
								<td class="table-row-v1__td">
									<div class="form-box"><input type="text" name="" class="input-v1 input-v1_w100p" title="title(required)" value="Administrator"></div>
								</td>
							</tr>
							<tr>
								<th class="table-row-v1__th">Your E-mail</th>
								<td class="table-row-v1__td">
									<div class="form-box"><input type="text" name="" class="input-v1 input-v1_w100p" title="title(required)" value="Administrator@admin.com"></div>
								</td>
							</tr>
							<tr>
								<th class="table-row-v1__th">Friend’s Name</th>
								<td class="table-row-v1__td">
									<div class="form-box"><input type="text" name="" class="input-v1 input-v1_w100p" title="title(required)" value="friend"></div>
								</td>
							</tr>
							<tr>
								<th class="table-row-v1__th">Friend’s E-mail</th>
								<td class="table-row-v1__td">
									<div class="form-box"><input type="text" name="" class="input-v1 input-v1_w100p" title="title(required)" value="friend@admin.com"></div>
								</td>
							</tr>
						</tbody>
					</table>
					<p class="popup__txt">No information will be stored during this process. Please visit <a href="" class="popup__link">Privacy Policy</a> for more information.</p>
					<div class="cscenter-btn-group">
						<button type="button" class="btn-v1 btn-v1_w160">send</button>
					</div>
					<a href="#" class="popup__close">close</a>
				</div>
			</div> -->
			<div class="dimmed"></div>
			<%- body  %>
		</div><!-- //content -->
	</div>
	<div class="wrapper__row">
		<% include ../_inc/_footer %>
	</div>
</div><!-- //wrapper -->

</body>
</html>
