<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual reference" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Reference Room</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_reference %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">Reference Room</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>
				
			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">Reference Room</h1>
			<% include ../_inc/_board_view %>
			<div class="board-btn-wrap board-btn-wrap_next">
			    <a href="" class="btn-v1 btn-v1_w180"><span>List</span></a>
			</div><!-- //board-btn-wrap -->
		</div>
	</div>
</div>
