<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual reference" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Reference Room</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_reference %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">CELLCare Support</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>
			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">CELLCare Support</h1>
			<p class="content__txt">Get helpful TRUXIMA  information and support to help you along the way.</p>
			<div class="content__col">
				<h3 class="content__sub-tit">TRUXIMA Brochure</h3>
				<table class="table1">
					<colgroup>
						<col class="table1__th-width">
						<col>
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th class="table1__th">Download brochure and learn more about Truxima</th>
							<td class="table1__td"><a href="../../REMSIMA Brochure.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../REMSIMA Brochure.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- //content__col-->
			<div class="content__col">
				<h3 class="content__sub-tit">Support Materials Download</h3>
				<table class="table1">
					<colgroup>
						<col class="table1__th-width">
						<col>
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th class="table1__th">Truxima Infusion Card</th>
							<td class="table1__td"><a href="../../pdf/CT-P13 100mg_Infusion Card_homeoage_ver3.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/CT-P13 100mg_Infusion Card_homeoage_ver3.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
						<tr>
							<th class="table1__th">Truxima  Safety Sheet</th>
							<td class="table1__td"><a href="../../pdf/02_Safety Sheet_ver2.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/02_Safety Sheet_ver2.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
						<tr>
							<th class="table1__th">Truxima Pediatric Brochure</th>
							<td class="table1__td"><a href="../../pdf/03_Pediatric Brochure_ver2.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/03_Pediatric Brochure_ver2.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
						<tr>
							<th class="table1__th">Truxima Screening Sheet</th>
							<td class="table1__td"><a href="../../pdf/04_Screening Sheet_ver2.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/04_Screening Sheet_ver2.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- //content__col-->
			<div class="content__col">
				<h3 class="content__sub-tit">Disease Guide</h3>
				<table class="table1">
					<colgroup>
						<col class="table1__th-width">
						<col>
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th class="table1__th">Rheumatoid Arthritis</th>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_RA.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_RA.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
						<tr>
							<th class="table1__th">Ankylosing spondylitis</th>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_AS.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_AS.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
						<tr>
							<th class="table1__th">Crohn's Disease</th>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_CD.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_CD.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
						<tr>
							<th class="table1__th">Ulcerative Colitis</th>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_UC.zip" target="_blank" download="" class="file-btn type-zip">file</a></td>
							<td class="table1__td"><a href="../../pdf/Celltrion Healthcare_Disease Guide_UC.pdf" target="_blank" download="" class="file-btn type-pdf">file</a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- //content__col-->
		</div>
	</div>
</div>
