
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual faq" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">FAQ</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_faq %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">FAQ</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">FAQ</h1>
			<ul class="list-v2 faq-list">
				<li class="list-v2__item faq-list__item">
					<div class="list-v2__header faq-list__header js-toggle" tabindex="0">
						<div class="list-v2__heading type-another">
							<span class="list-v2__icon">Q</span>
							What is Truxima™?
						</div>
					</div>
					<div class="list-v2__body">
						<div class="list-v2__body-wrap">
							<p>
								Truxima™ is a biosimilar rituximab that specifically targets a protein called CD20 found on B cells in your body.<br>
								Truxima™ may be the appropriate treatment option for patients with: <br>
							  	• Non-Hodgkin lymphoma (NHL)<br>
							   	• Chronic lymphocytic leukemia (CLL)<br>
							   	• Rheumatoid arthritis (RA)<br>
							   	• Granulomatosis with polyangiitis (GPA) and microscopic polyangiitis (MPA)<br>
							   	It is not known if Truxima™ is safe and effective in children under the age of 18.
							</p>
						</div>
					</div>
				</li>
				<li class="list-v2__item faq-list__item">
					<div class="list-v2__header faq-list__header js-toggle" tabindex="0">
						<div class="list-v2__heading type-another">
							<span class="list-v2__icon">Q</span>
							How is Truxima™ administered?
						</div>
					</div>
					<div class="list-v2__body">
						<div class="list-v2__body-wrap">
							<p>
								Truxima™ is given through a drip into a vein (intravenous infusion) in a clinical setting, closely monitored by a trained healthcare professional.  Each infusion takes approximately 4-6 hours.
							</p>
						</div>
					</div>
				</li>
				<li class="list-v2__item faq-list__item">
					<div class="list-v2__header faq-list__header js-toggle" tabindex="0">
						<div class="list-v2__heading type-another">
							<span class="list-v2__icon">Q</span>
							How soon can I see my symptoms improve? (RA)
						</div>
					</div>
					<div class="list-v2__body">
						<div class="list-v2__body-wrap">
							<p>
								Current data suggests that in patients who responded to treatment, symptoms improved within 16-24 weeks after initiating the first Truxima™ infusion in rheumatoid arthritis patients.
							</p>
						</div>
					</div>
				</li>
				<li class="list-v2__item faq-list__item">
					<div class="list-v2__header faq-list__header js-toggle" tabindex="0">
						<div class="list-v2__heading type-another">
							<span class="list-v2__icon">Q</span>
							What are possible side effects of Truxima™?
						</div>
					</div>
					<div class="list-v2__body">
						<div class="list-v2__body-wrap">
							<p>
								Like any other medication, Truxima™ can cause side effects, some that are serious enough to lead to death. The most commonly observed side effects are infusion-related reactions, including:<br>
								• Chills<br>
								• Fever and flushing<br>
								• Pain at the infusion site<br>
								• Fatigue <br>
								• Headache<br>
								Other side effects you should be aware of include:<br>
								• Severe skin reactions<br>
								• Serious infections<br>
								• Hepatitis B virus (HBV) reactivation<br>
								• Damage to the heart or other major organs<br>
								You must tell your doctor right away if you have any of these symptoms.
							</p>
						</div>
					</div>
				</li>
				<li class="list-v2__item faq-list__item">
					<div class="list-v2__header faq-list__header js-toggle" tabindex="0">
						<div class="list-v2__heading type-another">
							<span class="list-v2__icon">Q</span>
							Can I take other medicines while on Truxima™?
						</div>
					</div>
					<div class="list-v2__body">
						<div class="list-v2__body-wrap">
							<p>
								Other medicines may affect the way Truxima™ works in your body. Tell your doctor, pharmacist or nurse if you are taking, have recently taken or might take any other medicines including prescription/non-prescription and herbal medicines.
							</p>
						</div>
					</div>
				</li>
				<li class="list-v2__item faq-list__item">
					<div class="list-v2__header faq-list__header js-toggle" tabindex="0">
						<div class="list-v2__heading type-another">
							<span class="list-v2__icon">Q</span>
							Does Truxima™ affect fertility, pregnancy or breastfeeding?
						</div>
					</div>
					<div class="list-v2__body">
						<div class="list-v2__body-wrap">
							<p>
								Truxima™ is not recommended for pregnant or breastfeeding women. You should avoid becoming pregnant during your treatment with Truxima™. You should not breastfeed during or up to 12 months after receiving treatment with Truxima™.
							</p>
						</div>
					</div>
				</li>
			</ul><!-- //list-v2 -->
		</div>
	</div>
</div>
