
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual talk" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Talk to Your Doctor</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_talk %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">Talk to Your Doctor</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">Talk to Your Doctor</h1>
			<h3 class="content__sub-tit">Non-Hodgkin Lymphoma (NHL) and Chronic Lymphocytic Leukemia (CLL)</h3>
			<p class="content__txt">You should let your doctor know if you:</p>
			<ul class="content__list">
				<li class="content__item">Have a known allergy to rituximab, the active ingredient of Truxima™</li>
				<li class="content__item">Have taken Truxima™ in the past </li>
				<li class="content__item">Are taking any medications, including prescription/non-prescription medicines, vitamins, and herbal supplements</li>
				<li class="content__item">Have ever received chemotherapy</li>
				<li class="content__item">Have any heart conditions, including heart failure </li>
				<li class="content__item">Experience any type of infection or have immune system problems </li>
				<li class="content__item">Have or have been exposed to tuberculosis (TB) </li>
				<li class="content__item">Have hepatitis B virus (HBV) infections or think you may be a carrier of HBV </li>
				<li class="content__item">Have recently received or are scheduled to receive any vaccines</li>
				<li class="content__item">Are planning a family or have any concerns about fertility, pregnancy or breastfeeding</li>
			</ul>
			<h3 class="content__sub-tit">Rheumatoid Arthritis (RA), Granulomatosis with Polyangiitis (GPA) and Microscopic Polyangiitis (MPA)</h3>
			<p class="content__txt">You should let your doctor know if you:</p>
			<ul class="content__list">
				<li class="content__item">Have a known allergy to rituximab, the active ingredient of Truxima™</li>
				<li class="content__item">Have taken Truxima™ in the past </li>
				<li class="content__item">Are taking any medications, including prescription/non-prescription medicines, vitamins, and herbal supplements. Especially, if you take or have taken:
					<ul class="content__list type-inner">
						<li class="content__item">A Tumor Necrosis Factor (TNF) inhibitor medicine</li>
						<li class="content__item">A Disease Modifying Anti-Rheumatic Drug (DMARD)</li>
					</ul>
				</li>
				<li class="content__item">Have any heart conditions, including heart failure </li>
				<li class="content__item">Experience any type of infection or have immune system problems </li>
				<li class="content__item">Have or have been exposed to tuberculosis (TB)</li>
				<li class="content__item">Have hepatitis B virus (HBV) infections or think you may be a carrier of HBV</li>
				<li class="content__item">Have any type of cancer or a risk factor for developing cancer</li>
				<li class="content__item">Have recently received or are scheduled to receive any vaccines</li>
				<li class="content__item">Are planning a family or have any concerns about fertility, pregnancy or breastfeeding</li>
			</ul>
		</div>
	</div>
</div>
