<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<link rel="stylesheet" href="../../css/main.css">
<div class="content__wrap type-main">
	<div class="main-view">
		<div class="main-view__wrap">Find out what REMSIMA<sup>®</sup> Could do for you - The world’s fist biosimilar mab approved by the EMA for the treatment of autoimmune disease</div>
	</div>
	<div class="main-box type-2">
		<div class="main-box__hidden">
			<div class="disease" id="touchSlider6">
				<ul class="disease__list">
					<li class="disease__item nth-1">
						<h3 class="disease__tit">NHL</h3>
						<p class="disease__txt">
							Truxima™ (rituximab) can help destroy cancer cells to stop further progression of non-Hodgkin's lymphoma (NHL).<br>
							Truxima™ is approved for the treatment of non-Hodgkin's lymphoma (NHL) and, used as a single agent or in combination with chemotherapy to relieve symptoms of NHL, slow the progression of cancer, and induce/maintain remission by helping the immune system destroy the cancer cells.
						</p>
						<a href="../disease/disease_01.html" class="disease__btn"><span>Learn More</span></a>
					</li>
					<li class="disease__item nth-2">
						<h3 class="disease__tit">CLL</h3>
						<p class="disease__txt">
							Truxima™ (rituximab) can help attack overactive B cells to control chronic lymphocytic leukemia (CLL).<br>
							Truxima™ (rituximab) is approved for the treatment of previously treated and untreated chronic lymphocytic leukemia (CLL) as a targeted therapy, to relieve symptoms, prevent cancer progression, and maintain remission.
						</p>
						<a href="../disease/disease_02.html" class="disease__btn"><span>Learn More</span></a>
					</li>
					<li class="disease__item nth-3">
						<h3 class="disease__tit">RA</h3>
						<p class="disease__txt">
							Truxima™ (rituximab) can help prevent permanent joint damage in patients with rheumatoid arthritis (RA) by depleting B cells.<br>
							Truxima™ in combination with methotrexate is approved for the treatment of rheumatoid arthritis in patients who have not responded to previous treatments, including synthetic disease-modifying antirheumatic drugs (sDMARDs) and tumour necrosis factor (TNF) inhibitors.
						</p>
						<a href="../disease/disease_03.html" class="disease__btn"><span>Learn More</span></a>
					</li>
					<li class="disease__item nth-4">
						<h3 class="disease__tit">GPA/ MPA</h3>
						<p class="disease__txt">
							Truxima™ (rituximab) can help induce and maintain remission in patients with granulomatosis with polyangiitis (GPA) and microscopic polyangiitis (MPA).<br>
							Truxima™, in combination with glucocorticoids, is approved for the induction of remission in adult patients with severe, active granulomatosis with polyangiitis  (GPA) and microscopic polyangiitis (MPA).
						</p>
						<a href="../disease_01/disease_04.html" class="disease__btn"><span>Learn More</span></a>
					</li>
				</ul>
			</div>
			<!-- <div class="paging"></div> -->
		</div>
	</div>
</div>
<script src="../../js/main.js"></script>
