<div class="board-view-v1">
    <div class="board-view-v1__header">
        <h2 class="board-view-v1__tit">Notice of 2016 Annual Meeting of Shareholders and Proxy Statement </h2>
		<p class="board-view-v1__date">2017.02.28</p>
		<a href="" class="board__down type-view">Download</a>
    </div>
    <div class="board-view-v1__body">
        <div class="board-article">
            Celltrion files for US FDA approval of REMSIMA<sup>®</sup><br>
			- REMSIMA<sup>®</sup> is expected to be the first biosimilar monoclonal antibody to be filed through United States of America Food and Drug Administration’s biosimilar regulatory approval pathway, the Biologics Price Competition and Innovation Act of 2009 (BPCIA)<br><br>

			Celltrion announced that the company, on August 8, 2014, completed the filing procedure to obtain US FDA approval for its infliximab biosimilar. This marks the first 351(k) biosimilar mAb application to be filed in the U.S.A. and the second application for a biosimilar to be filed through the US BPCIA.<br><br>

			Sandoz, the generic branch of the multinational pharmaceutical company Novartis, has already filed for application of its filgrastim biosimilar, which is the first and only biosimilar application that has been accepted for US FDA review under the US BPCIA.<br><br>

			After prior consultation with the US FDA, Celltrion conducted additional clinical trials (starting on October 2013 and lasting 6 months) to determine the bioequivalency of the originator products with REMSIMA<sup>®</sup>. Specifically, Celltrion tested for Pharmacokinetic/Pharmacodynamic (PK/PD) equivalency and safety equivalency for the three distinct products, the originator products sold in the US, the originator products sold in Europe, and REMSIMA<sup>®</sup>. These additional clinical trial data, along with Celltrion’s established global clinical trial data, were submitted to the US FDA by Celltrion as part of its application.<br><br>

			Barring any setbacks, Celltrion anticipates obtaining US FDA approval within one year. The patent for the originator drug is set to expire at the end of 2018 however, in support of its US FDA application, Celltrion has currently filed a lawsuit in the federal court of Massachusetts seeking a declaratory judgment that Janssen Biotech’s remaining patents on the original reference drug Remicade® (infliximab) are invalid and unenforceable.
        </div><!-- //board-article -->
    </div>
    <!--#include file="../inc/_social.html" -->
    <div class="board-view-v1__footer">
        <div class="board-view-v1__next"><a href="#" class="link">Open-label extension of PLANETRA (additional one year), crossover study result</a></div>
        <div class="board-view-v1__prev"><a href="#" class="link">FDA Approves INFLECTRA(INFLIXIMAB-DYYB) For all Eligible indications</a></div>
    </div>
</div><!-- //board-view-v1 -->
