<div class="board-search-v1">
    <form action="">
        <fieldset class="fieldset">
            <legend class="hidden">Board Search</legend>
				<div class="select__wrap type-board">
					<div class="select__box">
						<p>Contents</p>
					</div>
					<ul class="select__menu">
						<li class="select__item">Contents</li>
						<li class="select__item">Title</li>
					</ul>
				</div>
            <input type="text" name=""  class="input-v1 board-search-v1__input" title="검색어를 입력해주세요."><input type="image" src="../../images/board/board-search-v1-btn-submit@2x.png" alt="검색" class="board-search-v1__submit">
        </fieldset>
    </form>
</div><!-- //board-search-v1 -->
