<ul class="board-magazine-v1">
    <% for (var i=0; i<10; i++) { %>
    <li class="board-magazine-v1__item">
        <a href="" class="board-magazine-v1__link">
            <div class="board-magazine-v1__txt-wrap">
                <div class="board-magazine-v1__tit">Notice of 2016 Annual Meeting of Shareholders and Proxy Statement</div>
                <div class="board-magazine-v1__edge">2015.08.08</div>
                <div class="board-magazine-v1__summary">
                    Dear Shareholders, We would like to express our deepest appreciation for the support and interest that you have shown to Celltrion Inc. throughout the year of 2015. Notice is hereby given that the 2016 annual meet                     Dear Shareholders, We would like to express our deepest appreciation for the support and interest that you have shown to Celltrion Inc. throughout the year of 2015. Notice is hereby given that the 2016 annual meet
                </div>
            </div>
        </a>
		<a href="" class="board__down">Download</a>
    </li>
    <% } %>
</ul><!-- //board-magazine-v1 -->
