<div class="footer">
	<div class="footer__wrap">
		<div class="footer-menu">
			<h2 class="footer-menu__tit">하단메뉴</h2>
			<ul class="footer-menu__list">
				<li class="footer-menu__item"><a href="../etc/etc_01.html" class="footer-menu__link">Important Safety Information</a></li>
				<li class="footer-menu__item"><a href="../etc/etc_02.html" class="footer-menu__link">Prescribing Information</a></li>
				<!-- <li class="footer-menu__item"><a href="../etc/etc_03.html" class="footer-menu__link">Product Complaints</a></li> -->
				<li class="footer-menu__item"><a href="../etc/etc_04.html" class="footer-menu__link">Privacy Policy</a></li>
				<li class="footer-menu__item"><a href="../etc/etc_05.html" class="footer-menu__link">Terms of Use</a></li>
				<li class="footer-menu__item"><a href="../etc/etc_06.html" class="footer-menu__link">Legal Notice</a></li>
				<li class="footer-menu__item"><a href="../etc/etc_07.html" class="footer-menu__link">Site Map</a></li>
			</ul>
		</div><!-- //footer-menu -->
		<ul class="site-info">
			<p class="site-info__item">The product information on this site is intended only for residents of Europe and is provided for information purposes only. Approved indications may vary from country to country.</p>
		</ul>
		<ul class="site-info">
			<li class="site-info__item">4th Fl., Academy-ro 51beon-gil, Yeonsu-gu, Incheon, South Korea, 406-840</li>
			<li class="site-info__item">CEO &amp; President : Man Hoon Kim</li>
			<li class="site-info__item">Business License No. 123-81-53473</li>
		</ul>
		<ul class="site-info">
			<li class="site-info__item">Tel : +82-32-850-6400</li>
			<li class="site-info__item">Fax : +82-32-850-6498</li>
			<li class="site-info__item">Email : gmkt@celltrion.com</li>
		</ul>
		<p class="site-info__copyright">Copyright ⓒ 2017 Celltrion Healthcare Co.,Ltd. All Rights Reserved.</p>
	</div>
</div><!-- //footer -->
