<div class="header">
	<h1 class="top-logo">
		<a href="../main/main.html" class="top-logo__link"><img src="../../images/common/top-logo.png" alt="<%= data.site.name.kor %>" class="top-logo__img"></a>
	</h1><!-- //top-logo -->
	<div class="top-bar">
		<div class="family-site" id="familySite">
			<h2 class="family-site__tit">Family Site</h2>
			<ul class="family-site__list">
				<% data.family.forEach(function(item,idx) { %>
				<li class="family-site__item <%= siteOn = (idx == 1) ? 'on':'' %>"><a href="<%= item.link %>" class="family-site__link" data-title="<%= item.title %>"><%= item.title %></a></li>
				<% }) %>
			</ul>
		</div><!-- //family-site -->
		<a href="../main/main.html" class="family-home">
			home
		</a>
	</div><!-- //top-bar -->
	<div class="gnb" id="gnb">
		<h2 class="gnb__tit"><span>주메뉴</span></h2>
		<ul class="gnb__depth1-list">
			<li class="gnb__menu">
				<div class="gnb__menu-wrap">
					<a href="" class="gnb__menu-link">home</a>
					<a href="" class="gnb__menu-close">close</a>
				</div>
			</li>
			<li class="gnb__depth1-item nth-1" data-title-en="About Disease">
				<a href="../about/about_01_1.html" class="gnb__depth1-link">About Truxima</a>
				<ul class="gnb__depth2-list about">
					<li class="gnb__depth2-item nth-1">
						<a href="../about/about_01_1.html" class="gnb__depth2-link disabled">About Truxima</a>
					</li>
					<li class="gnb__depth2-item nth-2">
						<a href="../about/about_02_1.html" class="gnb__depth2-link disabled">How Truxima Works</a>
					</li>
					<li class="gnb__depth2-item nth-3">
						<a href="../about/about_03_1.html" class="gnb__depth2-link disabled">What to Expect</a>
					</li>
				</ul>
			</li>
			<li class="gnb__depth1-item nth-2" data-title-en="Reference Room">
				<a href="../disease/disease_01.html" class="gnb__depth1-link">Disease</a>
				<ul class="gnb__depth2-list">
					<li class="gnb__depth2-item nth-1"><a href="../disease/disease_01.html" class="gnb__depth2-link disabled" data-depth="false">NHL</a></li>
					<li class="gnb__depth2-item nth-2"><a href="../disease/disease_02.html" class="gnb__depth2-link disabled">CLL</a></li>
					<li class="gnb__depth2-item nth-3"><a href="../disease/disease_03.html" class="gnb__depth2-link disabled">RA</a></li>
					<li class="gnb__depth2-item nth-4"><a href="../disease/disease_04.html" class="gnb__depth2-link disabled">GPA/MPA</a></li>
				</ul>
			</li>
			<li class="gnb__depth1-item nth-3" data-title-en="Talk to Your Doctor">
				<a href="../reference/reference_01.html" class="gnb__depth1-link">Reference Room</a>
				<ul class="gnb__depth2-list news">
					<li class="gnb__depth2-item nth-1"><a href="../reference/reference_01.html" class="gnb__depth2-link disabled">CELLCare Support</a></li>
					<li class="gnb__depth2-item nth-1"><a href="../reference/reference_02_list.html" class="gnb__depth2-link disabled">Reference Room</a></li>
				</ul>
			</li>
			<li class="gnb__depth1-item nth-4" data-title-en="Talk to your doctor">
				<a href="../talk/talk.html" class="gnb__depth1-link">Talk to your doctor</a>
				<ul class="gnb__depth2-list faq">
					<li class="gnb__depth2-item nth-1"><a href="../talk/talk.html" class="gnb__depth2-link disabled">Talk to your doctor</a></li>
				</ul>
			</li>
			<li class="gnb__depth1-item nth-5" data-title-en="FAQs">
				<a href="../faq/faq.html" class="gnb__depth1-link">FAQs</a>
				<ul class="gnb__depth2-list faq">
					<li class="gnb__depth2-item nth-1"><a href="../faq/faq.html" class="gnb__depth2-link disabled">FAQs</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- //gnb -->
</div><!-- //header -->
