<div class="sidebar">
	<div class="snb">
		<h2 class="snb__tit">Etc</h2>
		<ul class="snb__list">
			<li class="snb__item is-active">
				<a href="etc_01.html" class="snb__link disabled is-active">Important Safety Information</a>
			</li>
			<li class="snb__item">
				<a href="etc_02.html" class="snb__link disabled">Prescribing Information</a>
			</li>
			<!-- <li class="snb__item">
				<a href="etc_03.html" class="snb__link disabled">Product Complaints</a>
			</li> -->
			<li class="snb__item">
				<a href="etc_04.html" class="snb__link disabled">Privacy Policy</a>
			</li>
			<li class="snb__item">
				<a href="etc_05.html" class="snb__link disabled">Terms of Use</a>
			</li>
			<li class="snb__item">
				<a href="etc_06.html" class="snb__link disabled">Legal Notice</a>
			</li>
			<li class="snb__item">
				<a href="etc_07.html" class="snb__link disabled">Site Map</a>
			</li>
		</ul>
	</div>
</div>
