<div class="sidebar">
	<div class="snb">
		<h2 class="snb__tit">Reference<br>Room</h2>
		<ul class="snb__list">
			<li class="snb__item is-active">
				<a href="reference_01.html" class="snb__link disabled is-active">CELLCare Support</a>
			</li>
			<li class="snb__item">
				<a href="reference_02_list.html" class="snb__link disabled">Reference Room</a>
			</li>
		</ul>
	</div>
</div>
