<div class="sidebar">
	<div class="snb">
		<h2 class="snb__tit">Talk to<br>Your Doctor</h2>
		<ul class="snb__list">
			<li class="snb__item is-active">
				<a href="talk.html" class="snb__link disabled is-active">Talk to Your Doctor</a>
			</li>
		</ul>
	</div>
</div>
