<div class="sidebar">
	<div class="snb">
		<h2 class="snb__tit">Disease</h2>
		<ul class="snb__list">
			<li class="snb__item is-active">
				<a href="disease_01.html" class="snb__link disabled">NHL</a>
			</li>
			<li class="snb__item">
				<a href="disease_02.html" class="snb__link disabled">CLL</a>
			</li>
			<li class="snb__item">
				<a href="disease_03.html" class="snb__link disabled">RA</a>
			</li>
			<li class="snb__item">
				<a href="disease_04.html" class="snb__link disabled">GPA/MPA</a>
			</li>
		</ul>
	</div>
</div>
