<div class="sidebar">
	<div class="snb">
		<h2 class="snb__tit">News<br>Room</h2>
		<ul class="snb__list">
			<li class="snb__item is-active">
				<a href="news_01_list.html" class="snb__link disabled is-active">News Room</a>
			</li>
		</ul>
	</div>
</div>
