<div class="sidebar">
	<div class="snb">
		<h2 class="snb__tit">FAQ</h2>
		<ul class="snb__list">
			<li class="snb__item is-active">
				<a href="faq.html" class="snb__link disabled is-active">FAQ</a>
			</li>
		</ul>
	</div>
</div>
