<div class="sidebar">
	<div class="snb">
		<h2 class="snb__tit">About<br>Truxima</h2>
		<ul class="snb__list">
			<li class="snb__item is-active">
				<a href="about_01_1.html" class="snb__link disabled">About Truxima</a>
			</li>
			<li class="snb__item">
				<a href="about_02_1.html" class="snb__link disabled">How Truxima Works</a>
			</li>
			<li class="snb__item">
				<a href="about_03_1.html" class="snb__link disabled">What to Expect</a>
			</li>
		</ul>
	</div>
</div>
