
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_disease %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About Non-Hodgkin’s Lymphoma</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">About Non-Hodgkin’s Lymphoma</h1>
			<p class="content__txt">
				Non-Hodgkin’s Lymphoma (NHL) is a group of similar types of cancer that start in the lymphatic system, a network of vessels and glands spread throughout your body. There are more than 60 different types of NHL that can behave in very different ways. Because lymph tissue is found all through the body, lymphoma can begin almost anywhere. The treatment and the chance of a cure depend on the stage and the type of lymphoma.
				There are 2 most common types of NHL: Indolent(Slow growing) NHL &amp; Aggressive(Fast growing) NHL.
				Indolent NHL is Follicular Lymphoma(FL) and aggressive NHL is Diffuse Large B-Cell Lymphoma(DLBCL).
				The stages of lymphoma describes how much of the lymphatic system is affected. Staging helps to determine prognosis and treatment.
			</p>
			<div class="content__img type-disease-1">
				<div class="content__img-wrap">wAbout REMSIMA<sup>®</sup></div>
			</div>
			<h3 class="content__sub-tit">
				The Facts
			</h3>
			<p class="content__txt">
				The incidence of NHL varies by geographic region. Although NHL can happen at any age, many people are diagnosed at the age of 65 or older. Overall, NHL is slightly more common in men than in women.
				The exact cause of NHL is unknown, but family history of NHL, weakened immune system, infections, and previous cancer treatment are possible factors of an increased risk of NHL. While symptoms of NHL depends on the part of the body in which it occurs, the most common symptoms of NHL include swelling in the neck, armpit, and groin. You may also have other general symptoms, which doctors call, B symptoms.
			</p>
			<ul class="content__list">
				<li class="content__item">Fever (one that comes and goes with no obvious cause)</li>
				<li class="content__item">Night sweat (drenching sweat at night)</li>
				<li class="content__item">Weight loss (more than 10% of the total weight)</li>
			</ul>
			<h3 class="content__sub-tit">Diagnosis</h3>
			<p class="content__txt">Unexplained lumps in the neck, armpit, and groin  may be the  first physical signs of NHL. If symptoms suggest of NHL, your doctor will order a combination of tests and physical examinations to determine whether or not you have NHL. Tests and procedures include: biopsy, blood tests, X-ray , CT, MRI scans.</p>
			<h3 class="content__sub-tit">Treatment Options for Non-Hodgkin’s Lymphoma</h3>
			<p class="content__txt">
				Treatment options for NHL aim to  stop progress of lymphoma by destroying or disrupting the growth of remaining cancers. The course of treatment may depend on the type and stage of lymphoma, and other prognostic factors as well.
			</p>
			<p class="content__sub-tit">NHL treatment option may include:</p>
			<ul class="content__list">
				<li class="content__item">Chemotherapy</li>
				<li class="content__item">Radiotherapy</li>
				<li class="content__item">Biological Therapy</li>
				<li class="content__item">Surgery</li>
				<li class="content__item">Stem cell transplants</li>
			</ul>
			<div class="fake-table">
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Chemotherapy
					</dt>
					<dd class="fake-table__body">
						Chemotherapy is a drug treatment that destroys cancer cells by disrupting their growth. Chemotherapy may be administered intravenously, or as chemotherapy tablets. Depending on your situation, you may receive treatment with a single chemotherapy drug or with a combination of drugs. Steroids may be used with chemotherapy to control sickness  before or after receiving chemotherapy.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Radiotherapy
					</dt>
					<dd class="fake-table__body">
						Radiation therapy kills rapidly growing cancer cells by using high-energy rays. Radiation therapy may be delivered from a machine outside the body (external-beam radiation therapy) or through an injection of radioactive material (internal radiation therapy). The side effects of radiation therapy depends on the type, dose, targeted body part of radiation therapy.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Radiotherapy
					</dt>
					<dd class="fake-table__body">
						Radiation therapy kills rapidly growing cancer cells by using high-energy rays. Radiation therapy may be delivered from a machine outside the body (external-beam radiation therapy) or through an injection of radioactive material (internal radiation therapy). The side effects of radiation therapy depends on the type, dose, targeted body part of radiation therapy.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Biologic Therapy
					</dt>
					<dd class="fake-table__body">
						Biologic therapies target specific molecules or complexes in the body to help the immune system fight cancer. These include monoclonal antibodies designed to attack a specific target, such as a substance on the surface of cancer cells. Biologic therapies are usually administered as injections through the vein. Rituximab is a monoclonal antibody that targets a protein called CD20 found on the surface of B cells that cause NHL.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Stem Cell Transplant
					</dt>
					<dd class="fake-table__body">
						Stem cell transplant is an option for NHL patients who are in remission or who have a relapse during or after treatment.  Only a small number of patients receive stem cell transplant. A transplant of blood forming stem cells allows you to receive higher doses of chemotherapy, radiation therapy, or both than normally would be tolerated. The stem cells may come from your own body or from a donor.
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
