
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_disease %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About Chronic Lymphocytic Leukemia</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">About Chronic Lymphocytic Leukemia</h1>
			<p class="content__txt">
				Chronic Lymphocytic Leukemia (CLL) originates from  white blood cells called lymphocytes in the bone marrow. In leukemia, the cancer cells are localized to the bone marrow and blood, while in lymphoma the cancer cells  are spread throughout the lymphatic system.
				Leukemia is classified as acute or chronic by how fast the disease progresses, and CLL tends to develop very slowly.<br>
				The stages of CLL helps to determine what treatment is necessary at this time
			</p>
			<h3 class="content__sub-tit">The Binet staging system for CLL</h3>
			<div class="content__table">
				<table class="table2">
					<colgroup>
						<col class="table2__th-width nth-1">
						<col class="table2__th-width nth-2">
						<col class="table2__th-width nth-3">
					</colgroup>
					<tbody>
						<tr>
							<th class="table2__th table2__th-color1">Stage</th>
							<th class="table2__th table2__th-color1">Definition</th>
							<th class="table2__th table2__th-color1">Median survival</th>
						</tr>
						<tr>
							<td class="table2__td">A</td>
							<td class="table2__td">Hb ≥10.0 g/dL, platelets ≥100 × 109/L, <3 lymph node regions</td>
							<td class="table2__td">>10 years</td>
						</tr>
						<tr>
							<td class="table2__td">B</td>
							<td class="table2__td">Hb ≥10.0 g/dL, platelets ≥100 × 109/L, ≥3 lymph node regions</td>
							<td class="table2__td">>8 years</td>
						</tr>
						<tr>
							<td class="table2__td">C</td>
							<td class="table2__td">Hb <10.0 g/dL, platelets <100 × 109/L</td>
							<td class="table2__td">6.5 years</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="content__txt type-small">Reference: Eichhorst et al Ann Oncol 2015;26(Suppl 5):v78–84</p>
			<h3 class="content__sub-tit">The Facts</h3>
			<p class="content__txt">
				CLL is a type of cancer in which bone marrow produces too many lymphocytes. It may develop without any symptoms for months or years and can take a long time before causing any problems. <br>
				The most common symptoms of CLL include
			</p>
			<ul class="content__list">
				<li class="content__item">Painless swelling of the lymph nodes</li>
				<li class="content__item">Feeling tired and weakness </li>
				<li class="content__item">Abdominal pain</li>
				<li class="content__item">Fever, night sweat, weight loss</li>
			</ul>
			<p class="content__txt">
				The causative factors of CLL is unknown but family history, gender, race/ethnicity, and exposure to certain chemicals are considered as contributing factors to developing CLL.
			</p>
			<h3 class="content__sub-tit">Diagnosis</h3>
			<p class="content__txt">
				Diagnosis of CLL requires a combination of tests and an analysis of contributing factors such as family history and past medical history. During the examination, your doctor may pay close attention to swollen glands or signs of abdominal bleeding.<br>
				Tests used for the diagnosis of CLL include: blood tests, bone marrow tests, gene tests, biopsies, CT/MRI scans and ultrasounds.
			</p>
			<h3 class="content__sub-tit">Treatment Options for Chronic Lymphocytic Leukemia</h3>
			<p class="content__txt">
				There are multiple treatment options for chronic lymphocytic leukemia (CLL). The most appropriate option for CLL treatment depends on the stage of cancer, blood counts, the signs and symptoms you experience, and your age and general health.
			</p>
			<h3 class="content__sub-tit">CLL treatment option may include:</h3>
			<ul class="content__list">
				<li class="content__item">Chemotherapy</li>
				<li class="content__item">Radiotherapy</li>
				<li class="content__item">Biological therapy</li>
				<li class="content__item">Surgery</li>
				<li class="content__item">Bone marrow and stem cell transplant</li>
			</ul>
			<div class="fake-table">
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Chemotherapy
					</dt>
					<dd class="fake-table__body">
						Chemotherapy is a drug treatment that destroys or controls cancer cells. Chemotherapy treatments can be administered orally or through intravenous injections. Chemotherapy is typically given in cycles that last approximately 3-4 weeks. Your doctor may use a single drug or a combination of drugs depending on your situation.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Biologic Therapy
					</dt>
					<dd class="fake-table__body">
						Biologic therapies target specific molecules or complexes in the body to help the immune system fight cancer. These include monoclonal antibodies designed to attack a specific target, such as a substance on the surface of cancer cells. Biologic therapies are usually given intravenously. Rituximab is a monoclonal antibody that targets a protein called CD20 found on the surface of B cells that cause CLL.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Radiotherapy
					</dt>
					<dd class="fake-table__body">
						Radiotherapy is not the most commonly used option for the treatment of CLL, but it can be used in particular circumstances. Radiation used to shrink large lymph node masses or masses in locations that interfere with the function of a neighboring body part, such as the kidney, the gastrointestinal tract or the throat.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Bone Marrow or Stem Cell Transplants
					</dt>
					<dd class="fake-table__body">
						While bone marrow or stem cell transplants are not used very often to treat CLL, these options may be suggested for patients with recurring CLL. The aim of transplants is to control CLL for longer than is possible with other types of treatment
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Splenectomy
					</dt>
					<dd class="fake-table__body">
						Splenectomy, the surgical removal of the spleen, may be necessary for patients whose  enlarged spleen does not shrink after  other treatments such as chemotherapy and continues to cause pain.
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
