
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_disease %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About Granulomatosis with Polyangiitis/ Microscopic Polyangiitis</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">About Granulomatosis with Polyangiitis/ Microscopic Polyangiitis</h1>
			<p class="content__txt">
				Granulomatosis with polyangiitis (GPA) and microscopic polyangiitis (MPA) belong to a group of diseases characterised by inflammation of small and medium-sized blood vessels (vasculitis). GPA and MPA are rare diseases that mostly occur in middle-aged adults.  The exact cause for GPA and MPA are unknown.
			</p>
			<h3 class="content__sub-tit">The Facts</h3>
			<p class="content__txt">
				Because many different organ systems may be involved, a wide range of symptoms and signs are possible in MPA. Signs and symptoms of GPA and MPA  may develop suddenly and rapidly. Most common symptoms are fever, fatigue, loss of appetite and joint/muscle pain. Other symptoms of GPA/MPA will depend on the organs involved and will vary markedly between different patients.
			</p>
			<h3 class="content__sub-tit">
				Diagnosis
			</h3>
			<p class="content__txt">
				Diagnosis depends on your doctor recognising the pattern of symptoms and clinical signs of GPA/MPA. Confirming the diagnosis is based on a combination of tests including medical history, physical examination, blood tests, urinalysis, and imaging tests such as X-rays, CT, and MRI scans.
			</p>
			<h3 class="content__sub-tit">Treatment Options for Granulomatosis with Polyangiitis/ Microscopic Polyangiitis</h3>
			<p class="content__txt">
				The goal of treatment for GPA/MPA is to stop all injury that results from GPA/MPA. Treatment will depend on which organs are involved and how severe your condition is.
			</p>
			<h3 class="content__sub-tit">Medication Options:</h3>
			<p class="content__txt">
				Medications that suppress the immune system and prevent inflammation form the foundation of treatment for GPA/MPA. Your doctor will determine which drug or combination of drugs are right for you.
			</p>
			<div class="fake-table">
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Corticosteroids
					</dt>
					<dd class="fake-table__body">
						Corticosteroids help suppress the immune system and reduce inflammation of the blood vessels.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Immunosuppressive Agents
					</dt>
					<dd class="fake-table__body">
						<ul class="content__list">
							<li class="content__item">Methotrexate has been found to effectively induce and maintain remission. </li>
							<li class="content__item">Cyclophosphamide combined with corticosteroids has been the standard treatment for GPA/MPA to get the disease under control. </li>
							<li class="content__item">Azathioprine, as a maintenance agent, effectively maintains remission after treatment.</li>
							<li class="content__item">Truxima (rituximab) targets a specific protein in the immune system that may trigger inflammation of the blood vessels. </li>
						</ul>
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Biologics (bDMARDs)
					</dt>
					<dd class="fake-table__body">
						Biologics, also called as biological DMARDs(bDMARDs),  are drugs  derived from biological sources  that target a specific part of the immune system triggering inflammation and symptoms of RA. Truxima™ is a biosimilar rituximab used to treat RA that has not improved with other types of medications. It targets B cells that are believed to play a role in inflammation in patients with RA.
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
