
<%
    page = "about"
%>
<% layout('../_layout/_layout') -%>
<div class="page-visual about" data-page="">
	<div class="page-visual__mobile">
		<div class="page-visual__mobile-wrap">
			<div class="page-visual__wrap"><p class="page-visual__tit">Disease</p></div>
		</div>
	</div>
</div><!-- //page-visual -->
<div class="content__wrap">
	<% include ../_inc/_sidebar_disease %>
	<div class="content__box">
		<div class="content__header">
			<h1 class="content__tit">About Rheumatoid Arthritis</h1>
			<ul class="content__icon-list">
				<li class="content__icon-item"><a href="javascript:window.print()" class="content__icon-link"><img src="../../images/common/print.png" alt="print"></a></li>

			</ul><!-- //breadcrumb -->
		</div>
		<div class="content__body">
			<h1 class="content__tit-mobile">About Rheumatoid Arthritis</h1>
			<p class="content__txt">
				Rheumatoid arthritis (RA) is the chronic systemic inflammatory disorder that causes pain, swelling, and stiffness in the joints. Due to the continuous chronic inflammation of the synovial membrane, cartilage damage and bone erosion occur in the joints ,which ultimately lead to the destruction of the joints, resulting in functional disability.
			</p>
			<h3 class="content__sub-tit">The Facts</h3>
			<p class="content__txt">
				Approximately 1% of the population worldwide suffer from rheumatoid arthritis (RA). Symptoms of RA develop when a faulty immune system attacks healthy cells, but the exact cause of RA is unknown. RA is more common in women than in men. Research suggests that genes, hormones, and environmental factors play a role.<br>
				The most common symptoms of RA include
			</p>
			<ul class="content__list">
				<li class="content__item">discomfort and swelling of joints,</li>
				<li class="content__item">morning stiffness,</li>
				<li class="content__item">chronic joint pain,</li>
				<li class="content__item">fatigue, and</li>
				<li class="content__item">anaemia</li>
			</ul>
			<h3 class="content__sub-tit">
				Diagnosis
			</h3>
			<p class="content__txt">
				If suspected of RA, you will be referred to a rheumatologist who will then use a combination of tests in order to confirm the diagnosis. Medical history, physical exams, blood tests, X-rays, ultrasound, MRI and CT scans will be used for a proper diagnosis.
			</p>
			<h3 class="content__sub-tit">Diagnosis</h3>
			<p class="content__txt">
				If suspected of RA, you will be referred to a rheumatologist who will then use a combination of tests in order to confirm the diagnosis. Medical history, physical exams, blood tests, X-rays, ultrasound, MRI and CT scans will be used for a proper diagnosis.
			</p>
			<h3 class="content__sub-tit">Treatment Options for Chronic Lymphocytic Leukemia</h3>
			<p class="content__txt">
				Treatment options for RA aim to stop inflammation, relieve symptoms, prevent permanent joint damage, and ultimately, to induce remission for as long as possible. Only your rheumatologist can decide which treatment options are right for you, and early treatment is important to achieve remission.
			</p>
			<h3 class="content__sub-tit">NHL treatment option may include:</h3>
			<ul class="content__list">
				<li class="content__item">Medication</li>
				<li class="content__item">Surgery</li>
				<li class="content__item">Alternative therapies</li>
			</ul>
			<h3 class="content__sub-tit">Medication Options:</h3>
			<p class="content__txt">
				The medication(s) prescribed by your doctor will depend on the severity and progression of your RA, among other factors. Different medications treat RA in different ways.
			</p>
			<div class="fake-table">
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Non-steroidal anti-inflammatory drugs (NSAIDs)
					</dt>
					<dd class="fake-table__body">
						Mostly available as over-the-counter tablets, NSAIDs may help control symptoms and pain. NSAIDs do not prevent disease progression.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Synthetic Disease-modifying antirheumatic drugs (sDMARDs)
					</dt>
					<dd class="fake-table__body">
						As the first-line treatment option for RA, sDMARDs ease symptoms and prevent permanent joint damage.
					</dd>
				</dl>
				<dl class="fake-table__wrap">
					<dt class="fake-table__header">
						Biologics (bDMARDs)
					</dt>
					<dd class="fake-table__body">
						Biologics, also called as biological DMARDs(bDMARDs),  are drugs  derived from biological sources  that target a specific part of the immune system triggering inflammation and symptoms of RA. Truxima™ is a biosimilar rituximab used to treat RA that has not improved with other types of medications. It targets B cells that are believed to play a role in inflammation in patients with RA.
					</dd>
				</dl>
				<p class="fake-table__txt">
					Smolen JS, Aletaha D, and McInnes IB. Rheumatoid arthritis.<br>
					Lancet 2016 ;DOI 10.1016/S0140-6736(16)30173-8.
				</p>
			</div>
		</div>
	</div>
</div>
