@charset "utf-8";
@import "mixin";

// Button
//
// Styleguide 2.4

// btn-v1
//
// 게시판 및 서식영역에 사용되는 버튼 class입니다.
//
// .btn-v1_w180    - 너비가 180px 버튼
// .btn-v1_w200    - 너비가 200px 버튼
// .btn-v1_negative    - 취소버튼
//
// Markup:
// <a class="btn-v1 {$modifiers}"><span>문의하기</span></a>
// <button class="btn-v1 {$modifiers}"><span>문의하기</span></button>
//
// Styleguide 2.4.1

.btn-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; height:44px; padding:0 10px; margin:0; border:1px solid #3f3f3f; background-color:#fff; color:#363636; font-size:14px; font-weight:$regular; cursor:pointer; vertical-align:middle; text-align:center;
	&+& { margin-left:6px; }
	&_w160 { width:160px; }
	&_w180 { width:180px; }
	&_w200 { width:200px; }
	&_negative { border:1px solid #e7e3e7; background-color:#f9f9f9; }
	@media only screen and (max-width:$mobile-size) {
		height:40px; font-size:12px;
		&_w160 { width:110px; }
		&_w180 { width:90px; }
		&_w200 { width:100px; }
	}
}
a.btn-v1 { text-decoration:none;
	&>span { display:table-cell; vertical-align:middle; height:46px; }
	&[class*='btn-v1_w']>span { width:1%; }
	@media only screen and (max-width:$mobile-size) {
		&>span { height:36px; }
	}
}
button.btn-v1{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
}

// btn-v2
//
// 컨텐츠 내 사용되는 버튼 class입니다.
//
// Markup:
// <a class="btn-v2"><span>more</span></a>
// <button class="btn-v2"><span>more</span></button>
//
// Styleguide 2.4.2

.btn-v2 { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:5px 12px; border:1px solid #9e9e9e; background-color:#fff;  font-size:13px; color:$black-tit; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$bold; vertical-align:middle; cursor:pointer;
	@media only screen and (max-width:$mobile-size) {
		font-size:12px;
	}
}
a.btn-v2 {
	&>span { display:table-cell; vertical-align:middle; }
	&[class*='btn-v1_w']>span { width:1%; }
}
button.btn-v2{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
}

.file-btn{overflow:hidden; display:inline-block;  width:26px; height:27px; background:url('../images/common/file_icon.png'); text-indent:-999px; background-size:26px 54px;
	@media only screen and (max-width: 1023px) { .file-btn {background: url("../images/common/file_icon-m.png"); background-size: 26px 54px; }}
	&.type-pdf{background-position:0px -27px;}
}
