@charset "utf-8";
@import "mixin";

.form-box {display:table; width:100%;
	&_justify { display:block; text-align:justify; margin-bottom:-36px; line-height:32px;
		&:after { display:inline-block; width:100%; content:''; }
	}
	&_next { margin-top:6px; }
	&__item { display:table-cell;
		&_date { display:inline-block;
			&:after { display:inline-block; content:attr(data-date); width:2em; text-align:center; }
			&[data-date='년도']:after { width:3em; }
		}
	}
	&_justify &__item { display:inline-block; margin-left:0; font-size:13px; }
	@media only screen and (max-width:$tablet-size) {
		&__item { vertical-align:middle;
			&_date { display:table-cell; padding-right:2em; width:30%;
				&:after { float:right; margin-right:-2em; line-height:32px; }
				&[data-date='년도'] { padding-right:3em; width:40%;
					&:after { margin-right:-3em; }
				}
			}
		}
	}
	@media only screen and (max-width:$tablet-size) {
		&__item_t-block { display:block; }
	}
}

.input-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; height:38px; padding:7px 10px; border:1px solid #dedfde; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	&:focus { border-color:#3f3f3f; outline:none; }
	&_w100p { width:100%; }
	&_w50 { width:50px; }
	&_w100 { width:100px; }
	&_w140 { width:140px; }
	&_w200 { width:200px; }
	&_w280 { width:280px; }
	&_year { width:4.4em; }
	&_month { width:3em; }
	&_date { width:3em; }
	&_age { width:3em; }
	@media only screen and (max-width:$tablet-size) {
		&_m-full { width:100%; }
		&_w140{width:100px;}
		&_w200.input-v1_m-half { width:100px; }
	}

}

.textarea-v1 { overflow:auto; -webkit-box-sizing:border-box; box-sizing:border-box; padding:7px 10px; border:1px solid #dedfde; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	&:focus { border-color:#3f3f3f; outline:none; }
	&_w100p { width:100%; }
}

.checkbox-set-v1 { display:inline-block;
	&+& { margin-left:10px; }
	&__input { margin-top:-2px; }
	@media only screen {
		line-height:16px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { box-sizing:border-box; position:relative; top:1px; display:inline-block; width:16px; height:16px; border:1px solid #aaa; background-color:#fff; vertical-align:middle; cursor:pointer; }
		&__input:focus+&__ico { border-color:#3f3f3f; }
		//&__input:hover+&__ico:before,
		//&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { position:absolute; top:-6px; left:3px; bottom:0; width:6px; height:9px; margin:auto; content:''; border-right: 3px solid #5f5f5f; border-bottom: 3px solid #5f5f5f; transform: rotate(45deg); }
		//&__input:hover+&__ico:before,
		//&__input:focus+&__ico:before { border-color:#e0e0e0; }
		&__input:checked+&__ico:after { border-color:#5f5f5f; }
	}
	@media only screen and (max-width:$tablet-size) {
		line-height:24px;
		&__ico { width:24px; height:24px; }
		&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { top:-7px; left:5px; width:10px; height:14px; }
	}
}

.radio-set-v1 { display:inline-block; margin-right:10px;
	&__input { margin-top:-2px; }
	@media only screen {
		line-height:16px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { box-sizing:border-box; position:relative; top:-1px; display:inline-block; width:16px; height:16px; border:1px solid #d2d2d2; border-radius:50%; background-color:#fff; vertical-align:middle; cursor:pointer; }
		&__input:focus+&__ico { border-color:#3f3f3f; }
		//&__input:hover+&__ico:before,
		//&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { position:absolute; top:4px; left:4px; width:6px; height:6px; margin:auto; border-radius:50%; content:''; }
		//&__input:hover+&__ico:before,
		//&__input:focus+&__ico:before { background-color:#e0e0e0; }
		&__input:checked+&__ico:after { background-color:#5f5f5f; }
	}
	@media only screen and (max-width:$tablet-size) {
		line-height:20px;
		&__ico { width:20px; height:20px; }
		&__input:hover+&__ico:before,
		&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { left:5px; top:5px; width:8px; height:8px; }
	}
}

.upload-set-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; position:relative; height:32px;
	&_w100p { width:100%; }
	&_thumb { padding-left:31px; }
	&__input { width:100%; padding-right:150px;
		&:focus { border-color:#dedfde; }
	}
	&__wrap { display:inline-block; overflow:hidden; position:absolute; top:0; right:0; width:140px; height:38px; vertical-align:middle; background-color:#8c8a8c;
		&:before { content:attr(data-value); -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; left:0; top:0; right:0; bottom:0; height:1.3em; margin:auto;  color:#fff; font-weight:$bold; text-align:center; line-height:1.3; }
	}
	&__btn { }
	&__file { position:absolute; top:0; right:0; height:100%; font-size:45px; opacity:0;  filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; cursor:pointer; }
	@media only screen and (max-width:$tablet-size) {
		&__input { padding-right:70px; }
		&__wrap { width:60px; }
	}
}

.upload-display { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; top:0; left:0; width:32px; height:32px; border:1px solid #dedfde; }
.upload-thumb { position:absolute; top:0; left:0; bottom:0; right:0; margin:auto; max-width:100%; }


.required-v1 { display:inline-block; position:relative; left:0.2em; width:0; text-indent:-999em;
	&.type-another{left:-0.8em;}
	&:before { position:absolute; left:0; right:0; top:2px; bottom:0; margin:auto;  content:'*'; color:$green; font-weight:$normal; text-indent:0; }
	@media only screen and (max-width:$tablet-size) {
		left:0.2em;
	}
}
.select1{width:200px; height:38px; padding:6px 0px 10px; border:1px solid #d9d9d9; font-size:14px; line-height:1; color:#363636; box-sizing:border-box;}
