@charset "utf-8";
@import "mixin";

// Icon
//
// Styleguide 2.1

// ico-set
//
// 이미지 스프라이트 기법으로 작성된 class입니다.
//
// .ico-set_arr-r1    - 오른쪽 방향 1
// .ico-set_arr-r2    - 오른쪽 방향 2
//
// Markup:
// More <i class="ico-set {$modifiers}"></i>
//
// Styleguide 2.1.1

.ico-set {
	&:before { display:inline-block; @include background-image-retina('../images/common/ico-set','png',100px,50px); vertical-align:middle; content:''; }
	&_arr-r1 {
		&:before { width:6px; height:10px; background-position:0 -10px; margin-top:-2px; }
	}
	&_arr-r2 {
		&:before { width:6px; height:5px; }
	}
	&_download-v1 {
		&:before { width:17px; height:14px; background-position:-10px 0; margin-top:-2px; }
	}
}
