@charset "utf-8";
@import "mixin";

html,body { height:100%; }

.skip { position:absolute; top:-1000px; left:0; right:0; }

.wrapper { overflow:hidden; display:table; width:100%; height:100%;
	&__row { display:table-row; width:100%;
		&:before,
		&:after { display:table-cell; width:50%; content:''; }
		&.type-full-height { height:100%; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__row { display:table-row; width:100%;
			&:before,
			&:after { display:none; }
		}
	}
}

/* header */
.header { position:relative; width:$site-width; margin:0 auto; z-index:900;
	@media only screen and (max-width:$tablet-size) {
		position:fixed; top:0; left:0; right:0; width:auto;
		&.js-fixed { top: -36px; }
	}
}

.top-logo { z-index:3100; position:absolute; top:53px; left:0; width:119px; height:39px; overflow:hidden;
	&__link { display:block; height:inherit; }
	&__img { display:block; width:100%; height:100%;}
	@media only screen and (max-width:$tablet-size) {
		top:80px; bottom:0; left:0; right:0; margin:auto; width:60px; height:19px;
	}
	&.is-hidden{display:none;}
}
.js-open-m .top-logo{}
.top-bar { @include block; position:relative; z-index:2000; height:35px;
	&:after { position:absolute; z-index:-1; top:0; left:-1000px; right:-1000px; height:100%; border-bottom:1px solid #eee; background-color:#f5f5f5; }
}

.family-site { float:left; height:100%; width:100%; font-size:12px; background-color:#f5f5f5;
	$this:&;
	&__tit { @include hidden; }
	&__list {float:right; overflow:hidden; height:inherit; list-style:none; }
	&__item { float:left; position:relative; display:table; height:inherit; font-weight:$regular; white-space:nowrap;
		&:after { position:absolute; top:0; bottom:0; right:0; margin:auto; display:inline-block; height:100%; border-right:1px solid #e5e5e5; content:''; vertical-align:middle; }
		&:first-child:before { position:absolute; top:0; bottom:0; left:0; margin:auto; display:inline-block; height:100%; border-right:1px solid #e5e5e5; content:''; vertical-align:middle;}
	}
	&__link { display:table-cell; padding:0 20px; color:#999; text-decoration:none; vertical-align:middle;}
	@media only screen and (max-width:$tablet-size) {font-size:10px;
		float:none; position:relative; margin-left:39px;
		&__list {float:left;}
		&__link { padding:0 10px; box-sizing:border-box;}
		&__item{
			&:last-child:after{display:none;}
		}
		// &.js-open-m:after { position: fixed; top: 36px; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); content: ''; }
		// &__tit { position:static; width:auto; height:100%; text-indent:-999em; }

		// 	.js-open-m & { max-height: 1000px; }
		// 	&:before { position:absolute; top:17px; right:5px; width:0; height:0; border-width:5px 5px 0 5px; border-style:solid; border-color:$green transparent transparent transparent; content:''; }
		// }

		// 	#{$this}__item.on & { background-color:$green; color:#fff;
		// 		&:before { box-sizing:border-box; position:absolute; z-index:10; top:0; left:0; width:100%; line-height:36px; padding:0 20px 0 12px; content:attr(data-title); font-weight:$bold; color:$green; white-space:nowrap; }
		// 		&:after { display:none; }
		// 	}
		// }
	}
}
.family-home{overflow:hidden; position:absolute; top:0; left:0; display:block; width:57px; height:100%; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-indent:-999px; background:url('../images/gnb/home.png') no-repeat center center;
	@media only screen and (max-width:$tablet-size) {width:38px; background-size:8px 7px;}
}
.gnb { position:absolute; left:0; right:0; z-index:400; height:74px;
	$this:&;
	&:before { z-index:-1; position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background-color:#fff; content:''; }
	&__tit { box-sizing: border-box; position: absolute; z-index: -1; left:-1000px; right:-1000px; top: 74px; height: 0; background-color: #fff; text-indent: -999em;
		&:after { position:absolute; left:0; right:0; bottom:0; height:1px; background-color:$green; }
		&:not(.zxcv):after { display:block; opacity:0; transition:opacity .3s; transition-delay: .3s; }
		.js-open-d & { height: 278px; background-color:#fff; background-color:rgba(255,255,255,0.9);
			&:after { content:''; }
			&:not(.zxcv):after { opacity:1; transition:opacity 0s; transition-delay: 0s; }
		}
	}
	&__depth1-list { width:$site-width; height:inherit; margin:0 auto; padding:0; list-style:none; font-size:0; text-align:right; box-sizing:border-box;
		&:after { box-sizing: border-box; position: absolute; z-index: -1; left: 0; right: 0; top: 74px; height: 0; content: ''; background-color: #fff; }
	}
	&__depth1-item { display:inline-block; height:inherit; margin-left:45px; color:#363636; font-size:16px; vertical-align:top; text-align:center; font-weight:400;
		&.js-open-d{
			& .gnb__depth2-list{margin-top:0px;}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__depth1-link { position:relative; display:table-cell; height:inherit; padding:0 10px; color:inherit; text-decoration:none; vertical-align:middle; font-family:$font-en; font-weight:$bold;
		&:not(.zcxv) { overflow: hidden; }
		&:not(.zcxv):before { display: block; content: ''; position: absolute; top:74px; left: 0; right: 0; width: 0; height: 0; margin: 0 auto 0; border-width: 0 7px 9px 7px; border-style: solid; border-color: transparent transparent #fff transparent; }
		&:before { display: none; }
		#{$this}__depth1-item.hover & { color: #50b947; }
	}
	&__depth2-list { overflow: hidden; position: absolute; padding:20px 10px; text-align: left; font-size: 0; white-space: nowrap; margin-top:-400px;
		@media only screen and (max-width:$tablet-size) {min-width:auto; margin-top:0px; padding:0;}
	}
	&__depth2-item { display: block; color:$black-tit; vertical-align: top; font-weight:$regular; font-size: 14px; line-height:1;
		& + .gnb__depth2-item{margin-top:18px;}
	}
	&__depth2-link { display:block; color:inherit; text-decoration:none;
		// &:not(.zcxv):before { display: block; content: ''; position: absolute; top:74px; left: 0; right: 0; width: 0; height: 0; margin: 0 auto 0; border-width: 0 7px 9px 7px; border-style: solid; border-color: transparent transparent #fff transparent; }
	}
	&__depth3-list {display:none;}
	// &__depth3-item { display: block; color:$black-tit; vertical-align: top; font-weight:$regular; font-size: 14px; line-height:1;
	// 	& + .gnb__depth3-item{margin-top:18px;}
	// }
	// &__depth3-link { display:block; color:inherit; text-decoration:none;
	// 	&:not(.zcxv):before { display: block; content: ''; position: absolute; top:74px; left: 0; right: 0; width: 0; height: 0; margin: 0 auto 0; border-width: 0 7px 9px 7px; border-style: solid; border-color: transparent transparent #fff transparent; }
	// }
	&__top { display:none; }
	&__menu {display:none;}
	@media only screen and (max-width:$tablet-size) {
		z-index:3000; height:44px; width:100%; border-bottom:1px solid #8f1c47;
		&__menu{position:relative; width:100%; height:46px; display:block; background-color:#8f1c47; font-size:13px; text-align:left;}
		&__menu-wrap{display:table-cell; height:46px; width:1%; padding:0px 15px 0px 37px; vertical-align:middle;}
		&__menu-close{overflow:hidden; position:absolute; top:0; right:0; width:46px; height:46px; background:url('../images/common/menu-close.png') no-repeat center center; background-size:14px 14px; text-indent:-999px;}
		&__menu-link{color:#f4aa2f; height:46px;text-transform: uppercase; text-decoration: none; font-weight:400;
			&:before{position:absolute; left:15px; top:0; bottom:0; width:16px; height:16px; margin:auto 0; background-image:url('../images/common/menu-icon.png'); background-size:16px 16px; content:'';}
		}
		&__tit { position: absolute; z-index: 500; top: 0; left: 0px; bottom: 0; width: 47px; min-height: 26px; margin:auto 0px;  text-indent: -999em; transition: none; cursor: pointer;
			&:not(.zxcv):before,
			&:not(.zxcv):after,
			>span:before,
			>span:after { position:absolute;top:0;bottom:0;left:0;right:0;width:17px;height:0;border-top:2px solid #333333; margin:auto; transform:rotate(0deg);transition: .3s; content:''; opacity:1; }
			&:not(.zxcv):before { top:16px;}
			&:not(.zxcv):after { bottom:16px;}
			.js-open-m & {
				&:before {width:0; transform:translateX(-50%);}
				&:after {width:0; transform:translateX(50%);}
				>span:before {transform:rotate(-45deg);}
				>span:after {transform:rotate(45deg);}
			}
		}
		&.js-open-m {
			&:after { position:fixed; top:0; bottom:0; left:0; right:0; background-color:rgba(0,0,0,0.4); content:''; }
		}
		&__depth1-list { display:none;}
		&__depth1-list { overflow-x:hidden; overflow-y:auto; display:block; position:fixed; left:-100%; top:0px; bottom:0; z-index:3200; width:100%; height:auto; margin:0; background-color:#fff; transition:left ease-out 0.3s; padding-right:30px; box-sizing:border-box; background-clip: content-box;
			.js-open-m & {left:0px;}
			.js-fixed & { top:0px; }
		}
		&__depth1-item { display:block; position:relative; width:100%; margin-left:0; color:$black-tit; text-align:left; transition:background-color ease-in-out 0.25s;
			&.js-open-m #{$this}__depth2-list { max-height:1000px; background-color:#f9f9fb; transition:max-height ease-in 0.15s;}
			&.js-open-m #{$this}__depth1-link {
				&:after { top:17px; border-color:#8f1c47; transform:rotate(-225deg); }
			}
		}
		&__depth1-link { z-index:90; height:40px; width:1%; padding:0 30px 0 12px; transition:color ease-in-out 0.25s;
			&:after { position:absolute; top:10px; right:16px; width:10px; height:10px; border-width:0 0 1px 1px; border-style:solid; border-color:#cacbcf; content:''; transition:border-color ease-in-out 0.25s; transform:rotate(-45deg); }
		}
		&__depth2-list { overflow:hidden; display:block; max-height:0; position:static; padding-top:0; font-size:inherit; text-align:inherit; white-space:inherit; border-top:1px solid #d9d9d9;}
		&__depth2-item { position:relative; display: block; width: auto; margin-top: 0; margin-left: 0; color:$black-body; font-weight: inherit; font-size: 0.9em; transition: none; vertical-align: baseline;
			&:last-child:after { display:none; }
			& + .gnb__depth2-item{margin-top:0;}
			&.js-open-m #{$this}__depth3-list { max-height:1000px; background-color:#d9d9d9; transition:max-height ease-in 0.15s;}
			&.js-open-m #{$this}__depth2-link { color:#8f1c47;
				&:after { top:17px; border-color:#8f1c47; transform:rotate(-225deg); }
			}
			&:last-child{border-bottom:1px solid #d9d9d9}
		}
		&__depth2-link { display:table-cell; width:1%; height:40px; padding:0 12px; vertical-align:middle;

			&:before { display:none; }
			&:after { position:absolute; top:10px; right:16px; width:10px; height:10px; border-width:0 0 1px 1px; border-style:solid; border-color:#cacbcf; content:''; transition:border-color ease-in-out 0.25s; transform:rotate(-45deg); }
			&.disabled{
				&:after{display:none;}
			}
		}
		&__depth3-list { overflow:hidden; display:block; max-height:0; position:static; padding-top:0; font-size:inherit; text-align:inherit; white-space:inherit; background-color:#d9d9d9;}
		&__depth3-item { position:relative; display: block; width: auto; margin-top: 0; margin-left: 0; color:$black-body; font-weight: inherit; font-size: 0.9em; transition: none; vertical-align: baseline;
			&:after { display:block; margin:0 -12px; border-bottom:1px solid #f2f2f4; content:''; }
			&:last-child:after { display:none; }
			& + .gnb__depth3-item{margin-top:0;}
		}
		&__depth3-link { display:table-cell; width:1%; height:40px; padding:0 12px; vertical-align:middle; color:#333333; font-size:12px; text-decoration: none; font-weight:400;
			&:before { display:none; }
		}
	}

}
.search{
	&__btn{overflow:hidden; position:absolute; top:0; right:0; display:inline-block; width:50px; height:100%; background:url('../images/common/search-btn.png') no-repeat center center; background-size:20px 20px; text-indent:-999px;
			@media only screen and (max-width:$tablet-size) {background-size:16px 16px;}
	}
}
/* footer */
.footer { position:relative; box-sizing:border-box; width:$site-width; margin:0 auto; padding-top:1px;
	&:after { position:absolute; top:0; left:-1000px; right:-1000px; border-top:1px solid #eee; content:''; }
	&__wrap {padding:20px 0px; box-sizing:border-box; vertical-align:middle;}
	@media only screen and (max-width:$tablet-size) {
		width:auto; padding:0px 10px;
		&__wrap { height: auto;}
	}
}

.footer-logo { position:absolute; display:block; top:0; bottom:0; left:0; width:148px; height:38px; margin:auto; background:url(../images/common/footer-logo@ie8.png) no-repeat; background-image:linear-gradient(transparent, transparent), url(../images/common/footer-logo.png); background-size:cover;
	@media only screen and (max-width:$tablet-size) {
		display:none;
	}
}
.footer-menu { margin-bottom:20px; overflow:hidden;
	&__tit { @include hidden; }
	&__list { display:block; overflow:hidden; font-size:0; margin-left:-8px; margin-top:-5px; line-height:1.3; }
	&__item { display:inline-block; position:relative; margin-top:5px; padding:0 8px; font-weight:$bold; font-size:12px; color:#363636;
		&:before { position:absolute; top:0; bottom:0; left:0; height:11px; margin:auto; border-left:1px  solid #e5e5e5; content:''; }
	}
	&__link { color:inherit; text-decoration:none;
		&:hover,
		&:focus { text-decoration:underline; }
	}

}
.site-info { color:#767676; line-height:1.5; font-size:12px; font-weight:400;
	& + .site-info{margin-top:8px;}
	&__item{float:left;list-style:none; margin-right:15px;}
	&__address { display:inline-block; }
	&__tel { display:inline-block; margin-left:20px; }
	&__copyright {margin-top:8px; color:#363636; font-size:12px;}
	&:after{display:block; clear:both; content:'';}
	@media only screen and (max-width:$tablet-size) {
		&__address { display:block; }
		&__tel { display:block; margin-left:0; }
		&__copyright { float:none; margin-top:10px; margin-left:0px;}
	}
}

.content { @include block; width:$site-width; margin:0 auto; padding-top:74px;
	&.type-main{margin-bottom:0;}
	&__wrap{position:relative; padding-bottom:120px; min-height:700px;
		&.type-main{padding-bottom:0;}
		&.is-active{
			&:before{position:fixed; top:0; bottom:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); content:''; z-index:100;}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__info{width:100%; margin-top:20px; padding:40px; border:1px solid #d9d9d9; box-sizing:border-box;}
	&__info-list{position:relative; padding-left:124px; font-size:16px; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; width:95px; height:95px; background:url('../images/common/info-icon.png'); background-size:100% 100%; content:'';}
	}
	&__info-item{position:relative; padding-left:13px; color:#363636; font-weight:$normal; line-height:2; word-wrap: break-word;
		& + .content__info-item{margin-top:24px;}
		&:before{position:absolute; content:''; top:15px;  left:0;  width:2px; height:2px; background-color:#999999;}
	}
	&__col{margin-top:34px;}
	&__link{color:#8f1c47; text-decoration:underline;}
	&__img{margin-top:34px; position:relative; height:0; width:100%;
		&.type-about-1{padding-bottom:35.79%;
			& .content__img-wrap{background-image:url('../images/about/about_01_01.jpg');}
		}
		&.type-disease-1{padding-bottom:40.26%;
			& .content__img-wrap{background-image:url('../images/disease/disease_01_01.jpg');}
		}
		& + .content__sub-tit{margin-top:34px;}
	}
	&__sub-tit{color:#363636; font-size:18px;
		& + .content__txt{margin-top:20px;}
		& + .table1{margin-top:20px;}
		& + .content__table{margin-top:20px;}
	}
	&__sub-txt{font-size:14px; color:#767676;}
	&__img-wrap{position:absolute; top:0; left:0; overflow:hidden; width:100%; height:100%;  text-indent:-9999px;
		@media only screen and (max-width:$tablet-size) {background-size:cover;}
	}
	&__icon-list{float:right; margin-top:18px;}
	&__icon-item{float:left;
		& + .content__icon-item{margin-left:20px;}
	}
	&__box{float:right; width:950px; padding-left:56px; box-sizing:border-box;
		@media only screen and (max-width:$tablet-size) {float:none; width:100%; padding:0px 16px;}
	}
	&__header { @include block; display:table; width:100%;  margin:50px 0;}
	&__header-txt{margin-top:40px; font-size:16px; font-weight:$normal;}
	&__tit {display:inline-block; color:$black-tit; font-size:42px; font-weight:$bold; line-height:1; }
	&__tit-mobile{display:none;}
	&__txt{font-size:16px; color:#363636; font-weight:$normal; color:#363636; line-height:2;
		&.type-small{font-size:14px; color:#767676;}
		& + .content__txt{margin-top:30px;}
		& + .content__sub-tit{margin-top:34px;}
		& + .content__sub-txt{margin-top:34px;}
	}
	&__list{margin-top:20px; font-size:16px;
		&.type-another{counter-reset: section;
			& .content__item{padding-left:20px;
				&:before{top:0; width:auto; height:auto; background-color:transparent; counter-increment: section; content:counter(section)")"; color:#363636; }
			}
		}
		&.type-inner{margin-top:0;}
		& + .content__txt{margin-top:24px;}
		& + .content__sub-tit{margin-top:34px;}
	}
	&__item{position:relative; padding-left:13px; color:#363636; font-weight:$normal; line-height:2;
		&:before{position:absolute; content:''; top:15px;  left:0;  width:2px; height:2px; background-color:#999999;}
	}
	&__subject{font-size:25px; color:#363636; font-weight:$normal;
		& + .content__sub-tit{margin-top:34px;}
		& + .content__txt{margin-top:20px;}
	}
	&__subject-point{font-size:18px; color:$green;  font-weight:$bold;}
	&__body { @include block; }
	&__point{color:$green;}
	@media only screen and (max-width:$tablet-size) {
		width:auto; padding-top:80px; margin-bottom:50px;
		&__info{margin-top:12px; padding:15px; }
		&__info-list{padding-left:60px; font-size:12px;
			&:before{width:50px; height:50px;}
			@media only screen and (max-width:330px) {
				padding-left:0px;
				&:before{display:none;}
			}
		}
		&__info-item{line-height:1.6;
			& + .content__info-item{margin-top:15px;}
			&:before{top:9px;}
		}
		&__img{margin-top:12px;
			& + .content__sub-tit{margin-top:12px;}
		}
		&__sub-tit{font-size:14px;
			& + .content__txt{margin-top:12px;}
			& + .table1{margin-top:12px;}
			& + .content__table{margin-top:12px;}
		}
		&__sub-txt{font-size:11px;}
		&__txt{font-size:12px; line-height:1.6;
			& + .content__txt{margin-top:15px;}
			& + .content__sub-tit{margin-top:12px;}
			& + .content__sub-txt{margin-top:12px;}
		}
		&__list{margin-top:15px; font-size:12px;
			& + .content__txt{margin-top:12px;}
			& + .content__sub-tit{margin-top:12px;}
		}
		&__item{line-height:1.6;
			&:before{top:11px;}
			& + .content__item{margin-top:10px;}
		}
		&__wrap{padding-bottom:50px; min-height:auto;}
		&__header { display:none; width:auto; margin:20px 12px; padding-bottom:14px; }
		&__tit {font-size:1.5em;}
		&__tit-mobile{display:block; padding:23px 0px; font-size:18px; font-weight:$bold; color:#333;}
		&__subject{font-size:16px;}
		&__subject-point{font-size:12px;}
		&__col{margin-top:24px;}
	}
}
.sidebar{position:absolute; top:0; bottom:0; left:0; width:248px; height:100%; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;
		@media only screen and (max-width:$tablet-size) {display:none;}
}
.main-search{display:none; position:absolute; top:109px; width:100%; height:60px; background-color:#fff; border-top:1px solid #8f1c47; text-align:center;
	&.is-active{display:block;}
	&:before { z-index:-1; position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background-color:#fff; content:''; }
	&__box{margin-top:10px; display:inline-block; width:500px; border-bottom:1px solid #bababa;
		&:after{display:block; clear:both; content:'';}
	}
	&__input{border:1px solid transparent; background:transparent; width:400px; height:40px;  line-height:40px; box-sizing:border-box; outline:none;}
	&__txt{float:left; display:inline-block; width:80px; height:40px; line-height:40px;  font-size:16px; color:#767676;}
	&__btn{overflow:hidden; display:inline-block; width:32px; height:32px; margin-left:14px; background-image:url('../images/common/search-btn_big.png'); text-indent:-9999px; vertical-align:middle;}
	&__close{overflow:hidden; float:right; display:inline-block; width:25px; height:25px; margin-top:18px; background-image:url('../images/common/search_close.png'); text-indent:-9999px;}
	@media only screen and (max-width:$tablet-size) {top:79px; z-index:50; height:45px;
		&__wrap{position:relative;}
		&__txt{position:absolute; left:20px;  width:30px; font-size:12px; height:35px; line-height:35px;}
		&__box{position:relative; margin-top:5px; width:100%; padding:0px 54px 0px 15px;  border-bottom:none; box-sizing:border-box;}
		&__input{width:100%; padding-left:50px; height:35px; line-height:35px;}
		&__border{border-bottom:1px solid #bababa;}
		&__btn{position:absolute; top:15px; right:38px; width:16px; height:16px; margin:0 ;background-image:url('../images/common/search-btn_big-m.png'); background-size:16px 16px;}
		&__close{position:absolute; top:16px; right:15px; width:13px; height:13px; margin:0px; background-image:url('../images/common/search_close-m.png'); background-size:13px 13px;}
	}
}
.snb{
	&__tit{display:table-cell; width:1%; height:194px; vertical-align:middle; color:#8f1c47; font-weight:$bold; font-size:30px; text-align:center; }
	&__list{border-top:1px solid #d9d9d9;}
	&__item{border-bottom:1px solid #d9d9d9;
		&.is-active{
			& .snb__depth2-list{max-height:130px;}
			& .snb__link{color:#8f1c47;
				&:after{background-position:0px 0px;}
			}
		}
	}
	&__link{position:relative; display:block; text-decoration: none; font-size:14px; color:#363636; padding:20px;
		&:after { position:absolute; top:0; bottom:0; right:16px; width:9px; height:5px; margin:auto 0; background:url('../images/gnb/snb_btn.png'); content:''; background-position:0px -5px;}
		&.disabled:after{display:none;}
		&.is-active{color:#8f1c47;}
	}
	&__depth2-list{overflow:hidden; max-height:0; -webkit-transition:max-height 0.3s; transition:max-height 0.3s;}
	&__depth2-item{border-top:1px solid #d9d9d9;}
	&__depth2-link{ display: block; background-color: #fff; padding: 20px; font-size: 14px; color: #777777; font-weight: $normal; text-decoration: none;
		&.is-active{background-color:#f7f7f7; color:#8f1c47;}
	}
}
.breadcrumb { display:table-cell; text-align:right; vertical-align:bottom; line-height:1.1; color:#666;
	&__item { box-sizing:border-box; padding-bottom:1px; display:inline-block; position:relative; margin-left:22px; color:inherit; text-decoration:none;
		&:hover,
		&:focus { padding-bottom:0; border-bottom:1px solid #666; }
		&:before,
		&:after { position:absolute; top:0.25em; left:-14px; width:0; height:0; border-style:solid; border-color:transparent;  content:''; }
		&:before { border-width:4px 0 4px 4px; border-left-color:#000; }
		&:after { border-width:4px 0 4px 4px; border-left-color:#fff; margin-left:-1px; }
		&:not(.zxcv):after { margin-left:0; }
		&.type-located { color:$green; font-weight:$bold;
			&:hover,
			&:focus { border-bottom:none;}
		}
		&:first-child { margin-left:0;
			&:before,
			&:after { display:none; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		position:absolute; width:0; height:0; overflow:hidden;
	}
}

.page-visual { position:relative; font-size:42px; color:#fff; text-align:center; z-index:500;
	&__wrap{display:table-cell; width:1%; height:260px; vertical-align:middle;}
	&__tit{line-height:1;
		&:after{display:block; content:''; width:32px; height:3px;background-color:#fff; margin:30px auto 0;}
	}
	&:before { position:absolute; top:0; bottom:0; left:-1000px; right:-1000px; background-repeat:no-repeat; background-position:center bottom; content:''; z-index:-1; }
	// &:after { position:absolute; top:100px; bottom:0; left:-1000px; right:-1000px; content:attr(data-page); color:#fff; font-weight:$light; font-family:$font-en; line-height:1; font-size:4.615em;  text-align:center;}
	&.about:before { background-image:url(../images/common/page-visual-d-1.jpg); }
	&.reference:before { background-image:url(../images/common/page-visual-d-2.jpg); }
	&.news:before { background-image:url(../images/common/page-visual-d-3.jpg); }
	&.talk:before { background-image:url(../images/common/page-visual-d-4.jpg); }
	&.faq:before { background-image:url(../images/common/page-visual-d-5.jpg); }
	&.etc:before { background-image:url(../images/common/page-visual-d-6.jpg); }
	@media only screen and (max-width:$tablet-size) {
		height:0; padding-top:36.71%; font-size:21px;
		&:before { background-position:center bottom; background-size:contain;}
		&__mobile{position:absolute; top:0; left:0; width:100%; height:100%;}
		&__mobile-wrap{display:table; height:100%;}
		&__wrap{height:auto;}
		&__tit{
			&:after{margin-top:15px;}
		}
		&.about:before {background-image:url('../images/common/page-visual-m-1@2x.jpg');}
		&.reference:before {background-image:url('../images/common/page-visual-m-2@2x.jpg');}
		&.news:before {background-image:url('../images/common/page-visual-m-3@2x.jpg');}
		&.talk:before {background-image:url('../images/common/page-visual-m-4@2x.jpg');}
		&.faq:before {background-image:url('../images/common/page-visual-m-5@2x.jpg');}
		&.etc:before {background-image:url('../images/common/page-visual-m-6@2x.jpg');}
	}
}
.letter{letter-spacing: -0.2px;}
.table{
	&__virtual{display:table; border-top:1px solid #d9d9d9;}
	&__dl{display:table-row; }
	&__dt{display:table-cell; width:245px; padding:15px 28px;  background-color:#f3f3f3; font-size:16px; border-bottom:1px solid #d9d9d9; border-right:1px solid #d9d9d9; box-sizing:border-box;}
	&__dd{display:table-cell; width:645px; padding:15px 28px; font-size:14px; border-bottom:1px solid #d9d9d9; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size) {
		&__virtual{display:block;}
		&__dl{display:block;}
		&__dt{display:block; width:100%; padding:15px; border:none; font-size:12px; font-weight:$bold; color:#363636; background-color:#fff;}
		&__dd{display:block; width:100%; padding:0 15px 15px 15px; font-size:12px;
			& .input-v1_w280{width:100%;}
		}
	}
}
.site-map{position:relative; border-top:2px solid $green;
	&__header{float:left; width:174px; padding-right:20px; box-sizing:border-box;}
	&__header-tit{font-size:22px; color:$green;}
	&:after{display:block; clear:both; content:'';}
	&__wrap{margin-top:20px;}
	&__body{float:left; width:716px; }
	&__body-tit{font-size:18px; color:#363636;}
	&__body-txt{position:relative; padding-left:12px; color:#363636; font-size:14px;
		+ .site-map__body-txt{margin-top:15px;}
		&:before{display:inline-block; position:absolute; top:8px; left:0px; width:2px; height:2px; background-color:#999999; content:'';}
		&.type-another:before{top:10px;}
	}
	&__box{position:relative; padding:50px 0px; box-sizing:border-box; border-bottom:1px solid #d9d9d9;
		&:after{display:block; clear:both; content:'';}
	}
	&__list{margin-left:-30px; margin-top:-36px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:36px; padding-left:30px; box-sizing:border-box; min-height:48px;}
	&__link{color:inherit; text-decoration:none; }
	@media only screen and (max-width:$tablet-size) {border-top:none;
		&__header{float:none; width:100%; padding-right:0px;}
		&__header-tit{font-size:16px;}
		&__body{float:none; width:100%;margin-top:18px; border-top:2px solid $green; }
		&__wrap{margin-top:0px; padding:15px; border-bottom:1px solid #d9d9d9; box-sizing:border-box;}
		&__body-tit{padding:15px; background-color:#f5f5f5; border-bottom:1px solid #d9d9d9; font-size:14px; box-sizing:border-box;}
		&__body-txt{font-size:12px; padding-left:9px;
			+ .site-map__body-txt{margin-top:15px;}
			&:before{top:7px;}
		}
		&__box{padding:0px; border-bottom:none;
			& + .site-map__box{margin-top:25px;}
		}
		&__list{margin-left:0px; margin-top:0px;}
		&__item{float:none; width:100%; margin-top:0px; padding-left:0px; min-height:auto;}
	}
}
.search{margin-top:24px; border-top:2px solid $green;
	&__item{padding:24px 0px; border-bottom:1px solid #d9d9d9; color:#363636; }
	&__tit{font-size:18px; font-weight:$bold;}
	&__txt{margin-top:20px; font-size:14px;}
	&__link{display:inline-block; margin-top:10px; font-size:14px; color:$green; word-break:break-all;}
	@media only screen and (max-width:$tablet-size) {margin-top:12px;
		&__item{padding:18px 0px;}
		&__tit{font-size:14px;}
		&__txt{margin-top:14px; font-size:12px;}
		&__link{margin-top:14px; font-size:12px;}
	}
}

.popup{display:none; position:fixed; top:0; bottom:0; left:0; right:0;  z-index:999; text-align:center; overflow:auto;
	&__wrap{position:relative; display:inline-block; width:840px; padding:40px; background-color:#fff; vertical-align:middle; box-sizing:border-box; text-align:left;}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:''; }
	&__tit{font-size:30px; color:#363636;}
	&__sub-tit{margin-top:40px;font-size:18px; color:#363636;
		& + .popup__txt{margin-top:24px;}
	}
	&__txt{font-size:16px; line-height:2;
		& + .table-row-v1{margin-top:40px;}
	}
	&__link{color:#8f1c47; font-weight:700;}
	&__close{position:absolute; top:25px; right:25px; overflow:hidden; display:inline-block; width:25px; height:25px; background-image:url('../../images/common/popup_close.png'); text-indent:-999px;}
}
.table-row-v1{
	& + .popup__txt{margin-top:40px;}
}
.dimmed{display:none; position:fixed; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0.8); z-index:950;}
.fake-table{width:100%; margin-top:30px; border-top:2px solid #8f1c47; color:#363636; font-size:14px;
	&__wrap{border-bottom:1px solid #d9d9d9;}
	&__header{display:table-cell; width:190px;  padding:20px; background-color:#f9f9f9; border-right:1px solid #d9d9d9; font-weight:700; box-sizing:border-box;}
	&__body{display:table-cell; width:704px; padding:20px; box-sizing:border-box; line-height:1.5;
		& .content__list{margin-top:0;}
		& .content__item{font-size:14px; font-weight:400;}
	}
	&__txt{margin-top:15px; font-size:13px; text-align:right; color:#767676; line-height:1.5;}
	@media only screen and (max-width:$tablet-size) {margin-top:15px; border-top:1px solid #8f1c47; font-size:12px;
		&__header{display:block; width:100%; text-align:center; padding:10px; border-right:none; border-bottom:1px solid #d9d9d9;}
		&__body{padding:10px; line-height:1.5;
			& .content__list{margin-top:0;}
			& .content__item{font-size:12px; font-weight:400;
				& + .content__item{margin-top:0;}
			}
		}
		&__txt{font-size:11px;}
	}
}
