@charset "utf-8";
@import "mixin";

// List
//
// Styleguide 2.6

/* List - v1 */
.list-v1 {padding:17px 20px 18px 10px; float:left; margin-left:25px; border:1px solid #a2d89a; border-left:0; position: relative;
	&:before{position:absolute; top:0; left:-15px; width:16px; height:100%; content:''; background:url(../images/business/bg_box_arrow.png) no-repeat left center;}
	&__item {line-height:18px; font-size:14px; padding-left:8px; position:relative;
		&:before {content:''; width:2px; height:2px; position:absolute; top:9px; left:0; background:#85c87e;}
		&+& {margin-top:12px}
	}
	&__tit {color:$green;}
}

.list-v2 {border-top:2px solid #8f1c47;
	$this:&;
	$item:#{$this}__item;
	$h:78px;
	&__item {border-bottom:1px solid #d9d9d9;
		&:first-child { margin-top:0; }
		&.is-active {transition:max-height ease-in 0.3s;
			& .list-v2__icon{color:$green;}
		}
	}
	&__icon{position:absolute; top:18px; left:30px; color:#767676; font-size:18px; font-weight:700;
		@media only screen and (max-width:$tablet-size) {top:8px; left:15px;}
	}
	&__header { position:relative; padding:20px 60px; cursor:pointer; font-size:0; outline:none;
		&:before { display:inline-block; content:''; height:100%; vertical-align:middle; }
		&:not(.zxcv):after { box-sizing:border-box; position:absolute; z-index:100; top:-6px; bottom:0; right:32px; width:12px; height:12px; margin:auto; border-width:0 0 2px 2px; border-style:solid; border-color:transparent transparent #999 #999; content:''; transform:rotate(-45deg);
			#{$item}.is-active & { top:0; bottom:-6px; border-color:transparent transparent $green $green; transform:rotate(-225deg);}
			@media only screen and (max-width:$tablet-size) {}
		}
	}
	&__heading { display:inline-block; vertical-align:middle; font-size:18px; color:$black-tit; font-weight:700;
		@media only screen and (max-width:$tablet-size) {
			font-size:14px;
		}
	}
	&__body { display:none; padding:20px 30px; font-size:14px; line-height:1.6; background-color:#f5f5f5;
		#{$item}.is-active & { border-top:1px solid #d9d9d9;}
		& p + p{margin-top:10px;
			@media only screen and (max-width:$tablet-size) {
				margin-top:5px;
			}
		}
	}
	&__body-wrap{position:relative; padding-left:45px; box-sizing:border-box;
		&:before{position:absolute; left:0; top:-1px; width:26px; height:26px; background-color:#8f1c47; border-radius: 50%; color:#fff; font-size:18px; font-weight:700; text-align:center; line-height:26px;content:'A';}
	}
	@media only screen and (max-width:$tablet-size) {
		$h:60px;
		//  &__item { max-height:$h; }
		&__header { padding:10px 60px 10px 40px; }
		&__body { padding:20px 15px; font-size:12px;}
		&__body-wrap{padding-left:25px;
			&:before{top:0px; width:18px; height:18px; line-height:18px; font-size:14px;}
		}
	}
}

// dl-v1
//
// 서식양식에 사용되는 정의형 목록입니다.
//
// Markup:
// <dl class="dl-v1">
//    <dt class="dl-v1__dt">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
//    <dt class="dl-v1__dt">질문 ㅇㅇㅇㅇ</dt>
//    <dd class="dl-v1__dd">답변 ㅇㅇㅇㅇㅇㅇ</dd>
//    <dt class="dl-v1__dt">질문 ㅁㅁ</dt>
//    <dd class="dl-v1__dd">답변 ㅁㅁ</dd>
//    <dt class="dl-v1__dt dl-v1__dt_fixed">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
// </dl>
//
// Styleguide 2.6.1


.dl-v1 { margin:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
	&__dt { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; clear:left; padding:9px 20px 0 20px; border-top:1px solid #e7e3e7; line-height:32px; color:$black-tit; font-weight:$bold;
		&_fixed { float:none; }

	}
	&__dd { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:9px 20px; line-height:32px; border-top:1px solid #e7e3e7; color:$black-body; }
	&__dt:first-child,
	&__dt:first-child+&__dd,
	&__dd:first-child,
	&__dt_fixed+&__dd { border-top:none; }
	&__item { display:inline-block; vertical-align:top; }
	@media only screen and (max-width:$mobile-size) {
		&__dt { float:none; margin-right:0; padding:10px 0 0 0; border-top:1px solid #e7e3e7; line-height:1.3;
			&:first-child { border-top:none; }
		}
		&__dd { margin:5px 0; padding:0; border-top:none; }
		&__item { display:block;
			&+& { margin-top:5px; }
		}
	}
}
