@charset "utf-8";
@import "mixin";

// Module
//
// 전역으로 사용되는 모듈형식의 style 정의 입니다.
//
// Styleguide 2.



// Title
//
// Styleguide 2.2

// tit-v1
//
// 소제목에 해당되는 class 입니다.
//
// Markup:
// <h2 class="tit-v1 {$modifiers}">경영원칙</h2>
//
// .tit-v1_next    - 특정 요소 다음에 오는 경우
//
// Styleguide 2.2.1

.tit-v1 { margin:0 0 15px 0; font-weight:$bold; font-size:1.847em; line-height:1.1; color:$black-tit;
	&_next { margin-top:40px; }
	&__inner { color:$black-body; font-size:0.65em; font-family:$font-en; font-weight:$normal;}
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:8px; font-size:1.25em;
		&_next { margin-top:20px; }
	}
}

.summary-v1 { color:$green; font-size:2.3em;
	@media only screen and (max-width:$tablet-size) {
		font-size:1em;
	}
}

// Paragraph
//
// Styleguide 2.3

// para-v1
//
// 단락에 해당되는 class입니다.
//
// Markup:
// <p class="para-v1 {$modifiers}">의약품은 화학합성의약품과 바이오의약품으로 분류되며, 바이오의약품은 항체의약품, 생물학적제제, 단백질의약품(유전자재조합 또는 세포배양 이용), 세포치료제, 유전자치료제 등으로 분류됩니다. 항체의약품은 복잡한 분자구조 때문에 개발과 생산이 어렵지만, 질병 원인물질에만 반응하기 때문에 효과가 우수 합니다.</p>
//
// .para-v1_next    - 특정 요소 다음에 오는 경우
//
// Styleguide 2.3.1

.para-v1 { margin:0; line-height:1.5; color:$black-body;
	&.is-next { margin-top:20px; }
	&_dot{position:relative; display:inline-block; padding-left:1em;
		&:before{position: absolute; margin-left: -1em; content: '-';}
	}
	@media only screen and (max-width:$tablet-size) {
		font-size:12px;
		&.is-next { margin-top:15px; }
	}
}

.para-v2 { margin:0; line-height:1.5; color:#363636; font-size:14px; }

.edge-box { margin-bottom:5px; text-align:right; }

// List
//
// Styleguide 3.6

// dl-v1
//
// 서식양식에 사용되는 정의형 목록입니다.
//
// Markup:
// <dl class="dl-v1">
//    <dt class="dl-v1__dt">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
//    <dt class="dl-v1__dt">질문 ㅇㅇㅇㅇ</dt>
//    <dd class="dl-v1__dd">답변 ㅇㅇㅇㅇㅇㅇ</dd>
//    <dt class="dl-v1__dt">질문 ㅁㅁ</dt>
//    <dd class="dl-v1__dd">답변 ㅁㅁ</dd>
//    <dt class="dl-v1__dt dl-v1__dt_fixed">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
// </dl><!-- //dl-v1 -->
//
// Styleguide 3.6.1

.dl-v1 { margin:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
	&__dt { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; clear:left; padding:9px 20px 0 20px; border-top:1px solid #e7e3e7; line-height:32px; color:$black-tit; font-weight:$bold;
		&_fixed { float:none; }

	}
	&__dd { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:9px 20px; line-height:32px; border-top:1px solid #e7e3e7; color:$black-body; }
	&__dt:first-child,
	&__dt:first-child+&__dd,
	&__dd:first-child,
	&__dt_fixed+&__dd { border-top:none; }
	&__item { display:inline-block; vertical-align:top; }
	@media only screen and (max-width:$tablet-size) {
		&__dt { float:none; margin-right:0; padding:10px 0 0 0; border-top:1px solid #e7e3e7; line-height:1.3;
			&:first-child { border-top:none; }
		}
		&__dd { margin:5px 0; padding:0; border-top:none; }
		&__item { display:block;
			&+& { margin-top:5px; }
		}
	}
}

/* 약관동의 */
.agree-box { color:$black-tit; line-height:1.3;
	&__tit { margin:0 0 18px 0; font-size:18px; }
	&__body {width:100%; height:200px; border:1px solid #dedfde; background-color:#fafafa; padding:9px 14px;  overflow:auto; box-sizing:border-box;}
	&__footer {position:relative; margin-top:15px; padding-left:25px; box-sizing:border-box;}
	@media only screen and (max-width:$mobile-size) {
		&__footer {width:100%; padding-left:30px;
			& label{width:100%;}
		}
	}
}
.checkbox-set-v1__ico.type-another { position: absolute !important; left: 0 !important; }
.agree-article { line-height:1.5; color:$black-body;
	&__tit { margin:0 0 9px 0; font-size:16px; color:$black-tit; line-height:1.1;
		&_next { margin-top:24px; }
	}
	&__para { margin:0;
		&_next { margin-top:24px; }
	}
	&__signature { font-weight:$bold; text-align:right; }
	strong { color:$black-tit; }
}

.email-signature { vertical-align:middle; }
.color01{color:#8f1c47;}
