@charset "utf-8";
@import "mixin";

/* Table */
.table1 { width:100%; position:relative; border-collapse:collapse; color:$black-body; border-top:1px solid #d9d9d9;
	&__th { height:70px; padding:0px 30px; background-color:#f9f9f9; color:$black-tit; vertical-align:middle; text-align:left; font-size:16px; font-weight:$normal; border-bottom:1px solid #d9d9d9;}
	&__td { border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; text-align:center; vertical-align:middle;}
	&__th-width{width:76%;}
	@media only screen and (max-width:$tablet-size) {
		&__th { height:55px; padding:0px 15px; font-size:12px;}
		&__td{padding:8px;}
	}
}
.table-row-v1 { width:100%; position:relative; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; border-collapse:collapse; color:$black-body; font-size:16px;
	&__th { padding:24px 28px; border-top:1px solid #e7e3e7; background-color:#f9f9f9; color:$black-tit; vertical-align:top; text-align:left;  font-weight:$normal;/* white-space:nowrap;  */}
	&__td { padding:14px 30px; border-top:1px solid #e7e3e7; vertical-align:middle;}
	&__th+&__td,
	&__td+&__th { border-left:1px solid #e7e3e7; }
	&__small{display:inline-block; font-size:14px; vertical-align:middle;
		&.type-another{margin-left:10px;}
	}
	@media only screen { border-top:1px solid #8c8a8c; border-bottom:none;
		&:before { display:table; position:absolute; top:0; left:0; width:100%; border-top: 2px solid #8c8a8c; content: '';}
		&:after { display:table; position:absolute; bottom:0; left:0; width:100%; border-bottom: 1px solid #8c8a8c; content: '';}
		&__th,
		&__td { border-bottom:1px solid #e7e3e7; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__th { padding:12px 10px; }
		&__td { padding:5px 10px;
			&:last-child { padding-right:0; }
		}
		&__small{margin-left:10px; font-size:12px; vertical-align:middle; font-weight:$normal;
			&.type-another{margin-left:0px; margin-top:10px; }
		}
	}
}
.table2 { width:100%; position:relative; border-collapse:collapse; color:$black-tit; font-size:16px;
	&__th { height:70px; padding:0px 30px; background-color:#f9f9f9; color:#fff; vertical-align:middle; text-align:left;  font-weight:$bold; border-left:1px solid #fff; text-align:center; box-sizing: border-box;
		&:first-child{border-left:none; text-align:left;}
		& span{font-weight: $normal;}
		&.type-another{color:$black-tit; text-align:center; border-bottom:1px solid #d9d9d9;}
	}
	&__th-color1{background-color:#9e9fa3;}
	&__th-color2{background-color:#6a9028;}
	&__th-color3{background-color:#7c2a83;}
	&__td { height:70px; padding:10px 30px; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; text-align:center; vertical-align:middle; box-sizing:border-box;
		&:first-child{border-left:none;}
		&.type-another{padding:30px 10px; text-align:center;}
	}
	&__th-width{
		&.nth-1{width:10%;}
		&.nth-2{width:65%;}
		&.nth-3{width:25%;}
	}
	@media only screen and (max-width:$tablet-size) {font-size:11px;
		&__th { height:55px; padding:0px 10px; }
		&__td{height:55px; padding:8px 10px;
			&.type-another{padding:15px 10px;}
		}
	}
}
.table-col-v1-wrap { overflow:auto; }
.table-col-v1 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__th { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-bottom:1px solid #8c8a8c; text-align:center; font-weight:$bold; color:$black-tit; }
	&__td { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-top:1px solid #dedfde; text-align:center;
		&_text-right { padding-right:18px; text-align:right; }
		&_total { font-weight:$bold; color:$black-tit; border-top:1px solid #666; border-bottom:1px solid #666; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__th,
		&__td { height:25px; }
	}
}
.table-col-v1-header { position:relative; margin-bottom:18px; line-height:1.3;
	&_next { margin-top:34px; }
	&__tit { margin:0; font-size:16px; color:$black-tit; font-weight:$normal; }
	&__edge { position:absolute; right:0; bottom:-10px; font-size:12px; line-height:1.7; }
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; margin-bottom:9px;
		&__tit { float:left; font-size:13px; }
		&__edge { float:right; position:static; bottom:0; line-height:1.4; }
	}
}
.table-col-v1-footer { margin-top:5px; font-size:12px; text-align:right; color:$black-body;
	&__para { margin:0; }
}

.table-col-v2 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c;
	&__th,
	&__td { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-left:1px solid #e7e3e7; border-bottom:1px solid #e7e3e7; text-align:center; font-weight:$normal;
		&:first-child { border-left:none; }
		&[rowspan] { border-right:1px solid #e7e3e7; }
		&[rowspan]+& { border-right:none; }
	}
	&__th { background-color:#f9f9f9; font-weight:$bold; color:$black-tit; }
	&__td { color:$black-body;
		&_text-right { padding-right:30px; text-align:right; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:11px; }
		&__td {
			&_text-right { padding-right:3px; }
		}
	}
}

.table-col-v3 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #666; color:$black-body;
	$this:&;
	&__th,
	&__td { height:50px; text-align:center; }
	&__th { font-weight:$bold; color:$black-tit; border-bottom:1px solid #8c8a8c; }
	&__td { border-top:1px solid #dedfde;
		#{$this} tbody tr:nth-child(odd) & { background-color:#f9f9f9; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:12px; }
	}
}
