@charset "utf-8";
@import "mixin";

// Tab
//
// Styleguide 2.5

// tab-v1
//
// 간단한 스크립트와 작동되는 반응형 디자인 탭입니다.
//
// Markup:
// <div class="tab-v1">
//     <button type="button" title="같은 레벨 메뉴 보기" class="tab-v1__btn-toggle tabBtn">현재가</button>
//     <ul class="tab-v1__list">
//         <li class="tab-v1__item on"><a href="#" class="tab-v1__link">현재가</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">시간대별</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">일자별</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">차트분석</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">지수정보</a></li>
//         <li class="tab-v1__item"><a href="#" class="tab-v1__link">외국인 지분동향</a></li>
//     </ul>
// </div><!-- //tab-v1 -->
//<script type="text/javascript">
//	$(function(){
//		$('.tabBtn').on('click', function(){
//			if($(this).hasClass('open')){
//				$(this).next().slideUp().end().removeClass('open');
//			} else {
//				$(this).next().slideDown().end().addClass('open');
//			}
//		});
//	});
//</script>
//
// Styleguide 2.5.1

.tab-v1 {
	&.type-two{width:360px;}
	&.type-three{width:540px;}
	&.type-four{width:720px;}
	$this:&;
	$item:#{$this}__item;
	&__list { display:flex; /*border-collapse:collapse;*/ }
	&__item {position:relative; box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; height:54px; color:$black-body; font-size:14px; text-align:center; vertical-align:middle;
		&:first-child{
			& .tab-v1__link:before{border-left:none;}
		}
		&.is-active { border-top-color:#fff; border-bottom-color:#fff; background-color:#fff; }
	}
	&__link {height:100%; box-sizing:border-box; display:table-cell; width:1000px; padding:0px 20px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle; box-sizing:border-box;
		#{$item}.is-active & { border-top:none; color:#8f1c47; font-weight:$regular;
			&:after { position:absolute; bottom:-1px; left:-1px; right:-1px; border-bottom:2px solid #8f1c47; content:''; }
		}
		&:before {position:absolute; left:0; top:0; bottom:0; height:27px; margin:auto; border-left:1px solid #d9d9d9; content:'';}
	}
	&__m-tit{display:none;}
	@media only screen and (max-width:$tablet-size) {
		position:relative; height:70px; margin:0px -16px;
		&.type-two{width:auto;}
		&.type-three{width:auto;}
		&.type-four{width:auto;}
		&__list { display:block; overflow:hidden; position:absolute; z-index:500; width:100%; padding-top:70px; max-height:0; background-color:#fff;
			&:before { box-sizing:border-box; position:absolute; z-index:100; top:27px; right:15px; width:10px; height:10px; border-width:0 0 1px 1px; border-style:solid; border-color:transparent transparent #363636 #363636; content:''; transform:rotate(-45deg); }
			//&:after { z-index:400; position:absolute; top:0; left:0; right:0; height:40px; content:''; }
			&.js-open-m { max-height: 1000px; }
		}
		&__item {position:static; display:block; width:auto; height:45px; padding:0px 24px; font-size:12px; text-align:left; font-weight:$normal;
			&:last-child{margin-bottom:20px; border-bottom:none;

			}
		}
		&__link { position:static; padding:10px 0px; border-bottom:1px solid #d9d9d9;
			#{$item}.is-active & {font-weight:$normal;
				// &:before { display:block; box-sizing:border-box; position:absolute; z-index:10; top:0; left:0; width:100%; border-left:none; margin:0; padding:23px 16px; content:attr(data-title); font-weight:$bold; color:#333333; font-size:18px; }
				&:after { display:none; }
				& .tab-v1__m-tit{display:block; box-sizing:border-box; position:absolute; z-index:10; top:0; left:0; width:100%; border-left:none; margin:0; padding:23px 16px; font-weight:$bold; color:#333333; font-size:18px;}
			}
			&:before{display:none;}
		}
	}
}

.tab-content {padding-top:40px;
	display:none;
	@media only screen and (max-width:$tablet-size) {padding-top:0px;}
	&.is-active { display:block; }
}

// tab-v2
//
// radio 디자인형태의 탭입니다
//
// .tab-v2_next    - 특정 요소 다음에 오는 경우
//
// Markup:
// <ul class="tab-v2 {$modifiers}">
// 	<li class="tab-v2__item on"><a href="#" class="tab-v2__link">별도재무상태표</a></li>
// 	<li class="tab-v2__item"><a href="#" class="tab-v2__link">연결재무상태표</a></li>
// </ul><!-- //tab-v2 -->
//
// Styleguide 2.5.2

.tab-v2 { margin:0; padding:0; list-style:none; font-size:0;
	$this:&;
	$item:#{$this}__item;
	&_next { margin-top:30px; }
	&__item { display:inline-block; margin-left:30px; color:$black-body; font-size:14px; font-weight:$bold;
		&:first-child { margin-left:0; }
		&.on { color:$black-tit; }
		&:before { -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; z-index:-1; display:inline-block; width:16px; height:16px; margin-top:1px; border:1px solid #d2d2d2; border-radius:50%; background-color:#fff; content:''; vertical-align:middle; }
	}
	&__link { display:block; padding-left:20px; color:inherit; text-decoration:none;
		#{$item}.on &:before { position:absolute; width:6px; height:6px; margin:6px 0 0 -15px; border-radius:50%; background-color:#5f5f5f; content:''; }
	}
}

.tab-v3 { margin-bottom:40px;
	&__list { display:table; display:flex; line-height:1.1; font-size:16px; }
	&__item { box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; border:1px solid #e0e0e0; border-left-width:0; color:#999;
		&+& { border-right-width:1px; }
		&:first-child { border-left-width:1px; }
		&.is-active { position:relative; border-color:#222; color:$black-tit;
			&:before { position:absolute; top:-1px; bottom:-1px; left:-1px; border-left:1px solid #222; content:''; }
		}
	}
	&__link { display:table-cell; width:1000px; height:48px; text-align:center; text-decoration:none; color:inherit; vertical-align:middle; }
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:20px;
		&__list { font-size:12px }
		&__link { height:30px; }
	}
}
