@charset "utf-8";
@import "mixin";
/* 경영철학 */
.about-philosophy { overflow:hidden; margin-top:58px;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:33.33%;
		&.type-another { clear:both; float:none; width:auto; padding-top:50px; }
	}
	&__text { display:block; }
	@media only screen and (max-width:$tablet-size) {
		margin-top:20px;
		&__item { float:none; width:auto;
			&+& { margin-top:22px; padding-top:0; }
		}
		&__text { display:inline-block; }
	}
}
/* 경영원칙 */
.about-principle { overflow:hidden; margin-top:38px;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:25%; padding-right:20px;
		&:before { display:block; width:136px; height:136px; margin-bottom:19px; @include background-image-retina('../images/about/about-principle-d','png',272px,272px); content:''; }
		&.nth-1:before { background-position:0 0;}
		&.nth-2:before { background-position:-136px 0;}
		&.nth-3:before { background-position:0 -136px;}
		&.nth-4:before { background-position:-136px -136px;}
	}
	&__tit { margin:0 0 15px 0; color:$black-tit; font-weight:$normal; font-size:1.23em; line-height:1.3; font-weight:$regular;
		span { color:$green; font-size:0.9em; font-family:$font-en; }
	}
	@media only screen and (max-width:$tablet-size) {
		margin-top:22px;
		&__item { float:none; width:auto; padding-right:0px;
			&+& { margin-top:30px;}
			&:before { position:absolute; width:61px; height:61px; margin-bottom:0; @include background-image-retina('../images/about/about-principle-m','png',122px,122px); }
			&.nth-1:before { background-position:0 0;}
			&.nth-2:before { background-position:-61px 0;}
			&.nth-3:before { background-position:0 -61px;}
			&.nth-4:before { background-position:-61px -61px;}
		}
		&__tit { margin-bottom:5px; font-size:13px; }
		&__wrap { display:table-cell; width:1%; height:61px; padding-left:71px; vertical-align:middle; }
	}
}
/* Our메세지 */
.about-message {
	&__tit {margin-bottom:50px; font-size:30px; color:#50b947;
		&:after{content:'';display:block; width:50px; height:0; margin-top:30px; border-bottom:2px solid #44b134;
			@media only screen and (max-width:$mobile-size) {
				width:25px;margin-top:15px; border-bottom:1px solid #44b134;
			}
		}
		@media only screen and (max-width:$mobile-size) {
			margin-bottom:25px;font-size:18px;
		}
	}
	&__text{font-size:14px; color:$black-body; line-height:2;
		@media only screen and (max-width:$mobile-size) {font-size:12px; line-height:1.5;}
		& +p{margin-top:35px;
			@media only screen and (max-width:$mobile-size) {margin-top:17px;}
		}
	}
	&__last{position:relative; padding-right:170px; text-align:right; font-size:16px; color:$black-tit; font-weight:$bold;
		@media only screen and (max-width:$mobile-size) {padding-right:85px; text-align:left;font-size:13px;}
		&:after{content:'';position:absolute;top:0;right:0; display:block; width:170px;height:88px;background-image:url('../images/about/pen.png');background-size:cover;
			@media only screen and (max-width:$mobile-size) {width:85px; height:44px;}
		}
	}
}
/* 컴플라이언스 */
.compliance {
	&__tit{font-size:16px; color:$black-tit; line-height:1.5; font-weight:$normal;
		@media only screen and (max-width:$tablet-size) {font-size:12px;}
	}
	&__wrap{margin-top:64px;
		@media only screen and (max-width:$tablet-size){margin-top:25px;}
		&__img{position:relative; float:left; width:280px; height:0; overflow:hidden; margin-right:20px; padding-bottom:19%;
			@media only screen and (max-width:$tablet-size){float:none; width:100%; padding-bottom:32.2%; margin-right:0px;}
		}
	}
	&__item{
		& + &{margin-top:50px;
			@media only screen and (max-width:$tablet-size) {margin-top:25px;}
		}
		&__tit{margin-bottom:20px;font-size:18px; color:$black-tit; font-weight:$bold; line-height:1;
			@media only screen and (max-width:$tablet-size) {margin:10px 0px; font-size:13px;}
		}
		&__txt{font-size:14px; color:$black-body;
				@media only screen and (max-width:$tablet-size) {font-size:12px;}
			& + &{margin-top:30px;
				@media only screen and (max-width:$tablet-size) {margin-top:20px;}
			}
		}
		&__img{position:absolute;top:0;left:0; overflow:hidden; width:100%;height:100%; text-indent:-9999px; background-size:cover;
			&.nth-1{background-image:url('../images/about/about_03_01.jpg');}
			&.nth-2{background-image:url('../images/about/about_03_02.jpg');}
			&.nth-3{background-image:url('../images/about/about_03_03.jpg');}
			&.nth-4{background-image:url('../images/about/about_03_04.jpg');}
			@media only screen and (max-width:$tablet-size) {
				&.nth-1{background-image:url('../images/about/about_03_01_mobile.jpg');}
				&.nth-2{background-image:url('../images/about/about_03_02_mobile.jpg');}
				&.nth-3{background-image:url('../images/about/about_03_03_mobile.jpg');}
				&.nth-4{background-image:url('../images/about/about_03_04_mobile.jpg');}
			}
		}
		&__mail{position:relative; margin-top:30px; font-size:14px; color:$black-tit;
			@media only screen and (max-width:$tablet-size) { font-size:12px;}
		}
		&:after{display:block;clear:both;content:'';}
	}
}

/* 연혁 */
.history{
	&__wrap{position:relative;width:1000px; height:650px; margin:70px auto 0 auto; background:url('../images/about/about_004_bg.png') no-repeat;
		@media only screen and (max-width:$tablet-size) {margin-top:0px;}
		&:after{display:block;clear:both;content:'';}
		@media only screen and (max-width:$tablet-size) {width:100%; height:auto; background:none;}
	}
	&__year{position:relative; display:inline-block; padding-top:20px;
		@media only screen and (max-width:$tablet-size) {padding-top:0px; padding-left:20px; font-size:14px; font-weight:$bold; color:#222;}
		&:before{position:absolute; top:-3px;left:0;right:0; display:inline-block; width:18px; height:18px; margin:0px auto; border-radius:50%; background-color:#50b947; content:'';
			@media only screen and (max-width:$tablet-size) {top:0;left:-8px;right:auto; width:13px; height:13px; }
		}
		&:after{position:absolute; top:1px; left:0;right:0; display:inline-block; width:10px; height:10px; margin:0px auto; border-radius:50%; background-color:#fff; content:'';
			@media only screen and (max-width:$tablet-size) {top:3px;left:-5px;right:auto; width:7px; height:7px;}
		}
	}
	&__area{position:absolute; width:210px;
		&.nth-1{
			@media only screen and (max-width:$tablet-size) {color:#44b134;
				& .history__year{color:#44b134;}
			}
		}
		&.nth-2{left:350px;}
		&.nth-3{left:605px;}
		&.nth-4{top:212px;left:605px;}
		&.nth-5{top:212px;left:350px;}
		&.nth-6{top:424px;left:97px;}
		&.nth-7{top:424px;left:350px;}
		&.nth-8{top:424px;left:605px;}
		&.nth-9{top:345px !important; right:-20px;}
		&:last-child{
			@media only screen and (max-width:$tablet-size) {
				& .history__date{padding-bottom:0px;}
			}
		}
		&.type-another{position:absolute; top:-75px;
			& .history__area__bg{display:table-cell; vertical-align: middle; text-align:center; width:182px;height:182px;  color:#fff; background-color:#50b947; border-radius: 50%;
				&.type-another{padding:0px 10px; background-color:#aeaeae; box-sizing:border-box;
					& .history__year{
						&:before{background:url('../images/about/about_004_end.png') no-repeat center center;}
					}
				}
			}
			& .history__date{margin-top:0px;}
			& .history__year{position:static; padding-top:0px; font-size:24px;
					&:before{position:static; display:block; width:40px; height:40px; margin:0px auto 10px auto; background-image:url('../images/about/about_004_start.png'); content:'';}
					&:after{display:none;}
				}
			& .history__txt{margin-top:10px; padding-left:0px;}
		}
		@media only screen and (max-width:$tablet-size) {position:static; width:100%; margin-left:4px ; border-left:4px solid #d9d9d9;
			&:first-child{
				& .history__date{padding-left:20px;}
				& .history__txt{padding-left:0px;}
			}
			&:last-child{border-left:4px solid #fff;}
		}
	}
	&__date{margin-top:20px;
		@media only screen and (max-width:$tablet-size) {margin-top:0px ;padding-left:20px; padding-bottom:30px;}
	}
	&__month{float:left; position:relative; width:40px; font-weight:bold;
		&:after{position:absolute; top:0px; right:0px; bottom:0px; display:inline-block; width:0px; height:10px; margin:auto 0px; border-right:1px solid #c6c6c6; content:'';}
		& + dd{margin-top:20px;
			@media only screen and (max-width:$tablet-size) {margin-top:10px ;}
		}
		&-sub{font-size:13px;font-weight:$bold;
			@media only screen and (max-width:$tablet-size) {display:none;}
		}
		&.hide{display:none;
			@media only screen and (max-width:$tablet-size) {display:block;}
		}
		@media only screen and (max-width:$tablet-size) {color:#222;}
	}
	&__txt{padding-left:50px;
		& + dt{margin-top:20px;
			@media only screen and (max-width:$tablet-size) {margin-top:10px ;}
		}
	}

}




.about-partners-map { position:relative; padding-top:56.4%;
	&__item { display:none; position:absolute; top:0; left:0; bottom:0; right:0; background-position:center center; background-repeat:no-repeat; -webkit-background-size:cover; background-size:cover;
		&:before { position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/about/about_005_partners_map_name.png) no-repeat; -webkit-background-size:cover; background-size:cover; content:''; }
		&.on { display:block; }
		@for $i from 1 through 30 {
			&_#{$i} { background-image:url(../images/about/about_005_partners_map#{$i}.png); }
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item {
			&:before { @include background-image-retina('../images/about/about_005_partners_map_name_m','png',cover); }
			@for $i from 1 through 30 {
				&_#{$i} { @include background-image-retina('../images/about/about_005_partners_map#{$i}_m','png',cover); }
			}
		}
	}
}
.about-partners-logo { position:relative;
	$this:&;
	&__wrap { overflow:hidden; margin:0 65px; padding:1px 1px 10px;
		&:before { z-index:-1; position:absolute; top:0; left:65px; right:66px; bottom:9px; border:1px solid #e7e3e7; content:''; }
	}
	&__list { position:relative; height:100%; margin:0; padding:0; font-size:0; white-space:nowrap; list-style:none; background-color:#f9f9f9;
		&:before { position:absolute; z-index:10; top:-1px; left:-1px; bottom:-1px; border-left:1px solid #fff; border-right:1px solid #e7e3e7; content:''; }
		&:after { position:absolute; z-index:1000; top:-1px; right:-5px; bottom:-1px; border-left:1px solid #e7e3e7; border-right:5px solid #fff; content:''; }
	}
	&__item { position:relative; -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:14.28%; height:90px; font-size:13px; background-color:#f9f9f9;
		&:before { position:absolute; /* z-index:-1; */ top:0; left:0; bottom:0; right:-1px; border-left:1px solid #e7e3e7; border-right:1px solid #e7e3e7; content:''; }
		&.on { position:relative; z-index:100;
			&:before { border:3px solid #000; left:1px; top:1px; right:1px; bottom:1px; }
			//&:after { position:absolute; bottom:-9px; left:0; right:0; margin:auto; width:0; height:0; border-width:10px 7px 0 7px; border-style:solid; border-color:#000 transparent transparent transparent; content:''; }
		}
	}
	&__link { -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; z-index:10; display:block; padding:2px; height:90px;  vertical-align:middle; text-align:center; font-size:0;
		&:before { display:inline-block; height:100%; vertical-align:middle; content:''; }
		#{$this}__item.on & { }
	}
	&__img { max-width:100%; max-height:100%; vertical-align:middle; font-size:13px; }
	&__pagination { position:absolute; z-index:9; left:0; bottom:26px; width:126px; text-align:center; color:$black-tit; }
	&__btn-wrap { }
	&__btn { position:absolute; z-index:100; top:0; bottom:10px; -webkit-box-sizing:border-box; box-sizing:border-box; width:38px; height:38px; margin:auto; padding:0; border:1px solid #ccc; background-color:#fff; text-indent:-999em; cursor:pointer;
		&:hover { border-color:#222;
			&:before { background-position-y:-13px; }
		}
		&:before { position:absolute; top:0; left:0; right:0; bottom:0; width:8px; height:13px; margin:auto; @include background-image-retina('../images/about/about_005_btn_logo','png',16px,39px); content:''; }
		&_prev { left:0; }
		&_next { right:0;
			&:before { background-position-x:-8px; }
			&:hover:before { background-position-y:-13px; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		margin-left:-12px; margin-right:-12px;
		&:before { display:none; }
		&__wrap { margin-left:30px; margin-right:30px;
			&:before { left:30px; right:30px; border-left:none; border-right:none; }
		}
		&__list {
			//&:before,
			//&:after { display:none; }
		}
		&__pagination { display:none; }
		&__btn-wrap { }
		&__btn { width:23px; height:30px; border:none; border-radius:0 23px 23px 0; background-color:$green;
			&:before { height:6px; height:10px; background-position-y:-26px; }
			&:hover:before { background-position-y:-26px; }
			&_next { border-radius:23px 0 0 23px;}
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { height:60px; }
		&__link { height:60px; padding:5px; }
	}
}

/*글로벌 네트워크*/
.about-partners-country {
	&__item { display:none;
		&.on { display:block; }
	}
	&__heading { @include hidden(); }
	&__tit-v1 { margin:50px 0 25px 0; font-size:16px; color:$purple; line-height:1.3; text-transform:uppercase; }
	&__tit-v2 { margin:24px 0 18px 0; color:$black-tit; line-height:1.3; }
	&__list { overflow:hidden; margin:-20px 0 0 0; padding:0; list-style:none; font-size:0; line-height:1.3;
		&:before { position:absolute; z-index:10; border-top:20px solid #fff; width:100%; content:''; }
	}
	&__list-item { position:relative; z-index:-1/0; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:25%; padding:20px 0 0 15px; font-size:13px; color:$black-body; border-left:1px solid #ddd; vertical-align:top;
		&:before { position:absolute; left:-1px; top:200%; height:100%; border-left:1px solid #ddd; content:'' }
	}
	@media only screen and (max-width:$tablet-size) {
		&__list { margin-top:-10px;
			&:before { border-top-width:10px; }
		}
		&__list-item { width:50%; padding-left:10px; padding-top:10px; padding-right:5px; font-size:12px; }
	}
}

.about-partners-date { margin:10px 0 30px; text-align:right; color:$black-body;
}
