@charset "utf-8";
@import "mixin";
.careers__001{
    &__item{
        position:relative;
        display:inline-block;
        vertical-align:top;
        width:24.4%;
        &__wrap{
            position:relative;
            width:110%;
            height:430px;
            left:-25px;
            &:first-child{
                left:0px;
            }
            &__top{
                padding-top:70px;
            }
            &__bottom{
                padding-bottom:0px;
            }
        }
        &__img{
            position:absolute;
            width:100%;
            &__top{
                position:static;
            }
            &__bottom{
                bottom:0px;
            }
        }
        &__tit{
            position:absolute;
            width:100%;
            margin:0px 0px 0px 0px;
            color:$black-tit;
            font-size:16px;
            text-align:center;
            background-image:url('../images/careers/carrers_01_bar.png');
            background-repeat:no-repeat;
            &__top{
                position:static;
				margin-top:20px;
                padding-top:98px;
                background-position:center top;
            }
            &__bottom{
				top:0px;
                padding-bottom:158px;
                background-position:center bottom;
            }
        }
        &__txt{
            position:absolute;
			margin:0;
            color:$black-body;
            line-height:20px;
            word-break:normal;
			text-align:justify;
            &__top{
				top:40px;
            }
            &__bottom{
                position:static;
				margin-top:20px;
			}
        }
    }
}
@media only screen and (max-width:$tablet-size){
    .careers__001{
        &__item{
            width:50%;
            &__wrap{
                height:320px;
                width:300px;
                margin: 0px auto;
				padding-top:60px;
				text-align:center;
                &__bottom{
                    padding-bottom:0px;
                }
            }
            &__img{
				position:static;
                width:159px;
            }
            &__tit{position:static;
                &__bottom{
					margin-top:20px;
                    padding-top:98px;
					padding-bottom:0px;
                    background-position:center top;
                }
            }
            &__txt{position:static;margin-top:20px;

            }
        }
    }
}
@media only screen and (max-width:$mobile-size){
	.careers__001{
		&__item{
            width:100%;
			&__wrap{padding-top:30px;}
			&__tit{margin-top:10px;padding-top:88px;}
			&__txt{margin-top:10px;}
		}
	}
}


/*careers__002*/
.careers__002{
    &__item{display:inline-block;position:relative;left:-20px;width:50%;margin-top:10px;padding-left:10px;vertical-align:top;-webkit-box-sizing:border-box; box-sizing:border-box;}
    &__img{position:absolute;top:0;left:10px;width:180px;
        & img{width:100%;}
    }
    &__bar{margin:40px 0px;border-bottom:1px solid #eee;}
    &__wrap{display:table-cell;vertical-align:top;height:180px;padding-left:220px;
        & h2{margin:0px 0px 20px 0px;font-size:24px;font-weight:$bold; color:$black-tit;}
        & ul{margin:0px;padding:0px;}
        & li{color:$black-body;list-style-type:none;
            &:before{position: absolute;height: 2px;margin: 0.5em 0 0 -0.5em;border-left: 2px solid #222;content: '';}
        }
        & li + li{margin-top:8px;}
    }
    @media only screen and (max-width:$tablet-size) {
        &__item{left:0px; width:100%; margin-top:50px; padding-left:0px;}
        &__img{;left:0px;width:102px;}
        &__bar{display:none;}
        &__wrap{height:102px;padding-left:122px;vertical-align:middle;
            & h2{font-size:16px; margin-bottom:10px;}
			& li{font-size:12px;}
            & li + li{margin-top:4px;}
        }
    }
}

/*careers__003*/


.careers__003{
    &__item{display:inline-block;width:17.6%;text-align:center;vertical-align:top;
        & h2{padding-bottom:20px;border-bottom:1px solid #dddddd; font-size:14px; font-weight:$bold;}
        & p{font-size:12px; color:$black-body; text-align:left;}
    }
    &__img{display:inline-block;width:120px;height:120px;background-image:url('../images/careers/careers_003_icon.png');
        &-2{background-position-y:-120px;}
        &-3{background-position-y:-240px;}
        &-4{background-position-y:-360px;}
        &-5{background-position-y:-480px;}
    }
    &__wrap{
        display:table-cell;
        vertical-align:middle;
        width:1%;
    }
	&__txt{margin-top:12px;}
    &__point{display:inline-block; font-size:12px; margin-top:5px; }
    &__next{display:inline-block;width:3%;height:120px;vertical-align:top;background-image:url('../images/careers/careers_003_next.png');background-position:center center; background-repeat:no-repeat;}
    @media only screen and (max-width:$tablet-size) {
        &__item{overflow:hidden;width:100%;text-align:left;
            & h2{margin:0px 0px 5px 0px;padding:0px;border-bottom:none; font-size:16px;}
            & p{margin:0px;}
        }
		&__img{float:left;width:90px;height:90px; background-image:url('../images/careers/careers_003_icon_mobile.png');
            &-2{background-position-y:-90px;}
            &-3{background-position-y:-180px;}
            &-4{background-position-y:-270px;}
            &-5{background-position-y:-360px;}
        }
        &__wrap{height:90px;padding-left:20px;}
		&__txt{margin-top:0px;}
        &__next{width:100%;height:60px;background-image:url('../images/careers/careers_003_bottom.png');}
    }
}



/* 인사제도 */
.careers-system{
	&__principles{font-size:0;margin-left:-133px;
		&__item{display:inline-block; width:25%; padding-left:133px; box-sizing:border-box; font-size:14px; font-weight:$bold; vertical-align: top;
			& img{ max-width:100%;}
			@media only screen and (max-width:$tablet-size) {width:50%; text-align: center;}
		}
		&__wrap{position:relative;
			&.type-another{
				&:before{display:none;}
				&:after{display:none;}
			}
			&:before{content:'';position:absolute;left:-85px;top:0;bottom:0;display:block; width:40px; height:0px; margin:auto 0;border-top:1px solid #222;}
			&:after{content:'';position:absolute;left:-65px;top:0;bottom:0;display:block; width:0px; height:40px; margin:auto 0;border-left:1px solid #222;}
		}
		&__text{margin-top:20px; color:$black-tit; font-size:14px; font-weight:$bold; text-align:center;}
	}
	&__rank{margin-top:60px;
		@media only screen and (max-width:$tablet-size) {margin-top:30px;}
		&__text{font-size:14px; color:$black-body;}
		&__list{margin-top:40px; font-size:0;
			@media only screen and (max-width:$tablet-size) {margin-top:20px;}
			&__item{position:relative; display:inline-block;width:15%;height:0;padding-bottom:15%;  text-align:center;
				&.type-another{
					& .careers-system__rank__list__center{background-image:url('../../images/careers/careers_02_big.png');}
				}
				& + .careers-system__rank__list__item{margin-left:6.25%;
					@media only screen and (max-width:$mobile-size) {margin-left:0%;}
				}
				&:after{content:''; position:absolute; z-index:-1; right:-48.4%; display:block; width:54%; height:100%; background-image:url('../../images/careers/careers_02_bar1.png');
						background-repeat:no-repeat; background-position:center center; background-size:contain;
							@media only screen and (max-width:$mobile-size){display:none;}
				}
				@media only screen and (max-width:$mobile-size) {
					&.nth-1{width:25%;padding-bottom:25%; margin-left:16.66%;}
					&.nth-2{width:25%; padding-bottom:25%; margin-top:15px; margin-right:12.5%;}
					&.nth-last{margin-right:0%;}
				}
				&.nth-last{
					&:after{display:none;}
				}
			}
			&__center{position:absolute;top:0;left:0;width:100%;height:100%; background-image:url('../../images/careers/careers_02_small.png'); background-size:cover; text-align:center;
				&:before{content:'';display:inline-block; height:100%; vertical-align: middle;}
			}
			&__bg{display:inline-block;vertical-align: middle; font-size:16px; color:$black-body; line-height:1.8;
				& span{font-size:18px; font-weight:$bold; color:#50b947;}
				@media only screen and (max-width:$tablet-size){font-size:12px;
					& span{font-size:14px;}
				}
			}
		}
	}
	&__welfare{margin-top:60px;
		@media only screen and (max-width:$tablet-size){margin-top:30px;}
		&__list{
			&__item{
				&:first-child{margin-top:40px;
					@media only screen and (max-width:$tablet-size){margin-top:20px;}
				}
				& + li{margin-top:30px;}
			}
			&__wrap{display:table-cell;height:84px; text-align:left; vertical-align: middle;}
			&__cont{position:relative; z-index:-1; display:inline-block; padding-left:234px; font-size:14px; color:$black-body; line-height:1.8; text-transform: uppercase;
				&:before{content:''; display:inline-block; position:absolute;top:0;bottom:0;left:0; margin:auto 0; height:84px; width:84px; background-image:url('../../images/careers/careers_02_icon.png');font-weight:$bold;}
				&:after{content:''; display:inline-block; position:absolute; top:0;bottom:0;left:105px; margin:auto 0; height:84px; font-weight:$bold; font-size:16px; color:$black-tit; line-height:84px;}
				&.nth-1{
					&:after{content:'사내시설';}
				}
				&.nth-2{
					&:before{background-position:0px -84px;}
					&:after{content:'교육지원';}
				}
				&.nth-3{
					&:before{background-position:0px -168px;}
					&:after{content:'금전적보상';}
				}
				&.nth-4{
					&:before{background-position:0px -252px;}
					&:after{content:'기타';}
				}
				@media only screen and (max-width:$mobile-size){padding-left:117px; font-size:12px;
					&:before{content:''; display:inline-block; position:absolute;top:0;bottom:0;left:0; margin:auto 0; height:42px; width:42px; background-image:url('../../images/careers/careers_02_icon.png'); background-size:42px 168px;font-weight:$bold;}
					&:after{content:''; display:inline-block; position:absolute; top:0;bottom:0;left:50px; margin:auto 0; height:42px; font-weight:$bold; font-size:12px; color:$black-tit; line-height:42px;}
					&.nth-2{
						&:before{background-position:0px -84px;}
					}
					&.nth-3{
						&:before{background-position:0px -168px;}
					}
					&.nth-4{
						&:before{background-position:0px -252px;}
					}
				}
			}
		}
		&:after{content:'';display:block;clear:both;}
	}
}
/* 직무소개 */

.careers-job{padding:0px 158px 0px 72px;background-image:url('../../../images/careers/careers_03_bg.gif'); background-position:center center; background-repeat: no-repeat; box-sizing: border-box;
	&__process{
		&__list{font-size:0;
			&__item{position:relative;display:inline-block;width:90px;text-align:center;font-size:16px;color:$black-tit;font-weight:$bold;
				&.nth-1{
					&:before{content:'';display:block;width:90px;height:98px;background-image:url('../../../images/careers/careers_03_icon.png');}
					&:after{content:'';display:block;width:4px;height:4px;margin:0px auto;border:3px solid #dddddd;border-radius:6px;}
				}
				&.nth-2{
					&:before{content:'';display:block;width:90px;height:98px;background-image:url('../../../images/careers/careers_03_icon.png'); background-position:0px -98px;}
					&:after{content:'';display:block;width:4px;height:4px;margin:0px auto;border:3px solid #dddddd;border-radius:6px;}
				}
				&.nth-3{
					&:before{content:'';display:block;width:90px;height:98px;background-image:url('../../../images/careers/careers_03_icon.png'); background-position:0px -196px;}
					&:after{content:'';display:block;width:4px;height:4px;margin:0px auto;border:3px solid #dddddd;border-radius:6px;}
				}
				&.nth-4{
					&:before{content:'';display:block;width:4px;height:4px;margin:0px auto;border:3px solid #dddddd;border-radius:6px;}
					&:after{content:'';display:block;width:90px;height:98px;background-image:url('../../../images/careers/careers_03_icon.png'); background-position:0px -294px;}
				}
				&.nth-5{
					&:before{content:'';display:block;width:4px;height:4px;margin:0px auto;border:3px solid #dddddd;border-radius:6px;}
					&:after{content:'';display:block;width:90px;height:98px;background-image:url('../../../images/careers/careers_03_icon.png'); background-position:0px -392px;}
				}
				&.nth-6{
					&:before{content:'';display:block;width:4px;height:4px;margin:0px auto;border:3px solid #3eb134;border-radius:6px;}
					&:after{content:'';display:block;width:90px;height:98px;background-image:url('../../../images/careers/careers_03_icon.png'); background-position:0px -490px;}
				}
			}
		}
	}
}
