@charset "utf-8";
@import "mixin";

.cscenter{margin-top:40px;
	@media only screen and (max-width:$tablet-size){margin-top:15px;}
}

.contact-map{ position:relative; width:100%;height:440px; margin:30px 0px;
	@media only screen and (max-width:$mobile-size){
		& { height:0; padding-top:60%; }
	}
}

.directions{width:100%; border-top:2px solid #8c8a8c;border-collapse:collapse;
	&__col { width:250px; }
	&__th,
	&__td { border-bottom:1px solid #eee;}
	&__th { padding:0 20px; background-color:#f8f8f8; font-size:16px; font-weight:$bold; text-align:left; border-right:1px solid #eee; vertical-align:middle; color:$black-tit; }
	&__td { padding:0 10px; }
	@media only screen and (max-width:$tablet-size){
		&__col { width:120px; }
		&__th { padding-left:10px; padding-right:10px; font-size:13px; }
	}
	@media only screen and (max-width:$tablet-size){
		border-top:none;
		tr { display:block;
			&:first-child { margin-top:0; }
		}
		&__th { display:block; margin-top:-1px; padding-top:5px; padding-bottom:5px; border:1px solid #eee; font-size:15px; }
		&__td { display:block; margin-top:-1px; border:1px solid #eee; }
	}
}
.table-list{ margin:1em 0; padding:0 0 0 20px; color:#676767; line-height:1.5; list-style:none;
	>li { overflow:hidden;
		&:before { position:absolute; border-top:4px solid $black-body; height:4px; width:4px; margin:0.5em 0 0 -12px;  content:''; }
	}
	>li+li { margin-top:8px; }
	&__term { float:left; margin-right:5px; }
	&__describe { overflow:hidden; }
	@media only screen and (max-width:$tablet-size){
		&__term { float:none;}
	}
}

// .faq-list {
// 	&__item { position:relative; padding-left:43px;
// 		&:before { position:absolute; top:0; left:0; width:60px; font-size:35px; line-height:70px; color:$black-tit; content:'Q.'; text-align:center; }
// 		&.is-active:before { color:$green; }
// 	}
// 	&__header { margin-left:-43px; padding-left:63px; }
// 	&__tag { display:block; margin-bottom:3px; font-size:13px; color:$black-body; }
// 	@media only screen and (max-width:$tablet-size) {
// 		&__item {
// 			&:before { top:0; left:0; width:60px; font-size:30px; line-height:56px; }
// 		}
// 	}
// }

.consultation-list { overflow:hidden;
	$w:136px;
	$h:136px;
	&:before { display:block; margin-bottom:-50px; content:''; }
	&__item { box-sizing:border-box; float:left; width:50%; min-height:$h; margin-top:50px;
		&:before { float:left; width:$w; height:$h; margin-right:14px; @include background-image-retina('../images/contact/consultation-list-ico-d','png',$w*2,$h*3); background-repeat:no-repeat; content:''; }
		@for $i from 1 through 6 {
			&.nth-#{$i}:before { background-position:(-$w)*(($i+1)%2) (-$h)*(floor(($i+1)/2)-1);}
		}
	}
	//&__tit { padding-top:16px; }
	&__tit { padding-top:34px; }
	&__detail { margin-top:15px; color:$black-tit;}
	&__link { font-weight:$bold;
		&:hover,
		&:focus { text-decoration:none; }
	}
	&__mail { white-space:nowrap; }
	@media only screen and (max-width:$tablet-size) {
		$w:68px;
		$h:68px;
		&:before { margin-bottom:-15px; }
		&__item { float:none; width:auto; min-height:$h; margin-top:15px;
			&:before { width:$w; height:$h; @include background-image-retina('../images/contact/consultation-list-ico-m','png',$w*2,$h*3);}
			@for $i from 1 through 6 {
				&.nth-#{$i}:before { background-position:(-$w)*(($i+1)%2) (-$h)*(floor(($i+1)/2)-1);}
			}
		}
		//&__tit { padding-top:3px; }
		&__tit { padding-top:13px; }
		&__detail { margin-top:8px; }
	}
}


.cscenter-summary { margin:0 0 26px 0; color:$black-body; }

.cscenter-header { overflow:hidden; line-height:1.3;
	&_next { margin-top:48px; }
	&__tit { float:left; margin:0 0 16px 0; font-size:1.24em; font-weight:$bold; color:$black-tit; }
	&__edge { float:right; margin-bottom:5px; }
	&__tit+&__edge { margin-top:13px; }
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:10px;
		&_next { margin-top:24px; }
		&__tit { float:none; margin-bottom:0; font-size:1em;}
		&__edge {margin-bottom:0; font-size:12px;}
		&__tit+&__edge { margin-top:5px; }
	}
}

.cscenter-table {
	&__th { width:250px; }
	&__textarea { height:150px; }
	@media only screen and (max-width:$tablet-size) {
		&__th { width:60px; }
		&__textarea { height:100px; }
	}
}

.cscenter-agree-v1 { margin-top:48px;
	&__wrap { height:140px; }
	@media only screen and (max-width:$tablet-size) {
		margin-top:24px;
	}
}
.cscenter-btn-group { margin-top:40px; text-align:center;
	@media only screen and (max-width:$tablet-size) {
		margin-top:24px;
	}
}

/* 부작용 보고 */
.side-effect-age-blank { margin-left:50px;
	@media only screen and (max-width:$tablet-size) {
		margin-left:0;
	}
}
.side-effect-age-list { margin-top:10px;
	@media only screen and (max-width:$tablet-size) {
		&__item { float:left; width:33.3%; display:block; }
		&__item { width:50%; }
	}
	@media only screen and (max-width:$tablet-size) {
	}

}
.side-effect-recovery-list {
	&__item { display:inline-block; margin-right:20px; }
	@media only screen and (max-width:$tablet-size) {
		&__item { float:left; width:50%; margin-right:0; }
	}
}
.side-effect-date-blank { margin-left:50px;
	&:before { float:left; content:'~'; width:50px; margin-left:-50px; text-align:center; }
	@media only screen and (max-width:$tablet-size) {
		display:table; margin-left:0; margin-top:5px;
	}
	@media only screen and (max-width:$tablet-size) {
		margin-left:0;
	}
}
.side-effect-term { display:inline-block; width:280px;
	@media only screen and (max-width:$tablet-size) {
		display:block;
	}
}

.side-effect-batch { padding-left:50px;
	@media only screen and (max-width:$tablet-size) {
		width:1%; padding-left:0;
	}
}
