@charset "utf-8";
@import "mixin";

.agree-article { line-height:1.5; color:$black-body;
	&__tit { margin:0 0 9px 0; font-size:16px; color:$black-tit; line-height:1.1;
		&_next { margin-top:24px; }
	}
	&__para { margin:0;
		&_next { margin-top:24px; }
		&.type-another{line-height:2;}
	}
	&__signature { font-weight:$bold; text-align:right; }
	strong { color:$black-tit; }
}
