@charset "utf-8";
@import "mixin";
.main {
	.wrapper { position:absolute; display:block; top:0; left:0; right:0; bottom:0; padding-bottom:100px;
		&__row { display:block; }
	}
	.header { position:absolute; left:0; right:0; margin:auto; }
	.footer { position:absolute; left:0; right:0; bottom:0; }
	@media only screen and (max-width:$tablet-size) {
		.wrapper { position:static; display:table; padding-bottom:0;
			&__row {
				&.type-full-height { height:auto; }
			}
		}
		.header { position:fixed }
		.footer { position:relative;}
		.content { margin-bottom:0; padding-top:35px; }
	}
}
.main-view{position:relative; z-index:500;
	&__wrap{overflow:hidden; display:table-cell; width:1%; height:600px; vertical-align:middle; text-indent:-9999px;}
	&:before { position:absolute; top:0; bottom:0; left:-1000px; right:-1000px; background-repeat:no-repeat; background-position:center bottom; content:''; z-index:-1; background-image:url('../images/main/main_visual.jpg'); }
	@media only screen and (max-width:$tablet-size) {
		height:0; padding-top:138.59%;
		&:before { background-image:url('../images/main/main_visual-m.jpg'); background-position:center bottom; background-size:auto 100%;}
		&__wrap{height:auto;}
	}
}
.main-box{position:relative;
	&:before{position:absolute; top:0; bottom:0; left:-1000px; right:-1000px; border-bottom:1px solid #ddd; height:50px; content:'';}
	&.type-2{padding:60px 0 120px; box-sizing:border-box; border-bottom:none;
		&:before{background-color:#f7f7f7; height:auto; z-index:-1;}
	}
	&__tit{display:inline-block; font-size:18px; color:#363636; line-height:1;}
	&__wrap{display:table-cell; height:50px; width:1%; vertical-align:middle;
		&:after{display:block; clear:both; content:'';}
	}
	&__more{overflow:hidden; display:inline-block; width:18px; height:18px; margin-left:10px; background:url('../images/main/btn_more.gif'); text-indent:-9999px; vertical-align:top;}
	@media only screen and (max-width:$tablet-size) {margin:0px 15px; box-sizing:border-box;
		&.type-2{margin-right:0px; padding:15px 0 25px;}
		&:before{height:auto;}
		&__hidden{position:relative; overflow:hidden;}
		&__wrap{display:block; height:auto; width:100%;}
		&__more{position:absolute; top:18px; right:0;  width:24px; height:24px; background:url('../images/main/btn_more-mobile.gif'); background-size:24px 24px;}
		&__tit{display:table-cell; width:1%; height:60px; vertical-align:middle;}
	}
}
.news{
	&__box{position:absolute; height:20px; top:0; bottom:0; left:0; margin:auto 0; line-height:20px;}
	&__wrap{overflow:hidden; width:100%; height:20px; line-height:20px;padding:0px 50px 0px 147px; box-sizing:border-box;}
	&__item{width:100%;
		&:after{display:block; clear:both; content:'';}
	}
	&__link{color:inherit; text-decoration:none;
		&:hover{text-decoration: underline;}
	}
	&__txt{overflow:hidden; display:inline-block; height:20px; text-overflow:ellipsis; width:850px; white-space:nowrap; font-size:14px; color:#363636; line-height:20px;  box-sizing:border-box;}
	&__date{float:right; font-size:14px; color:#767676;}
	&__btn-wrap{position:absolute; top:0; right:0; bottom:0; height:20px; margin:auto 0; z-index:100;}
	&__btn{float:left; overflow:hidden; display:inline-block; width:18px; height:18px; border:1px solid #ddd; text-indent:-999px; }
	&__btn-prev{background:url('../images/main/news_btn-left.png') no-repeat center center;}
	&__btn-next{margin-left:-1px; background:url('../images/main/news_btn-right.png') no-repeat center center;}
	@media only screen and (max-width:$tablet-size) {
		&__wrap{height:auto; line-height:1.5; padding:0;}
		&__box{position:static; top:auto; bottom:auto; left:auto; height:auto; line-height:1;}
		&__item{position:relative; padding-top:30px; padding-bottom:80px;}
		&__date{float:none; position:absolute; top:0px; left:0; line-height:1; font-size:12px; padding-right:0;}
		&__txt{display: -webkit-box; width:100%; height:3em; white-space: normal; font-size:12px; line-height:1.5em;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; }
		&__btn{width:24px; height:24px; }
		&__btn-wrap{top:auto; left:0; bottom:30px; height:26px; width:52px; margin:0 auto;}
		&__btn-prev{background:url('../images/main/news_btn-left-mobile.png') no-repeat center center; background-size:7px 13px;}
		&__btn-next{background:url('../images/main/news_btn-right-mobile.png') no-repeat center center; background-size:7px 13px;}
	}
}
.disease{position:relative; overflow:hidden; text-align:center; margin:0px -12px;
	&__tit{position:relative; padding:120px 10px 0px 10px; font-size:18px; color:#363636; font-weight:700;
		&:before{position:absolute; top:0; left:0; right:0; display:inline-block; width:100px; height:100px; margin:0 auto;  content:'';}
		&:after{position:absolute; top:0; left:0; right:0; display:inline-block; width:100px; height:100px; margin:0 auto; opacity:0;  content:'';
			-webkit-transition: opacity 0.5s ease-in-out;-moz-transition: opacity 0.5s ease-in-out;-o-transition: opacity 0.5s ease-in-out;transition: opacity 0.5s ease-in-out;}
	}
	&__txt{height:290px; margin-top:20px; padding:0px 10px; font-size:14px; color:#363636; text-align:justify; line-height:1.7;}
	&__btn{-webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display:inline-block; width:192px; border:1px solid #363636; height:44px; box-sizing:border-box; font-size:14px; color:#363636; vertical-align: middle; cursor: pointer; line-height:1; text-indent:0;
		text-decoration:none;
		&:after { display:inline-block;height:100%; vertical-align:middle; content:''; }
		& span { display:inline-block; vertical-align:middle; }
		&:before{position:absolute; bottom:0px; left:0px; width:100%; height:0; background-color:#8f1c47; content:''; z-index:-1;
			-webkit-transition: height 0.5s ease-in-out;-moz-transition: height 0.5s ease-in-out;-o-transition: height 0.5s ease-in-out;transition: height 0.5s ease-in-out;
		}
	}
	&__item{padding:0px 12px; box-sizing:border-box;
		&.nth-1{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon1_off.png');}
				&:after{background:url('../images/main/main-icon1_on.png');}
			}
		}
		&.nth-2{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon2_off.png');}
				&:after{background:url('../images/main/main-icon2_on.png');}
			}
		}
		&.nth-3{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon3_off.png');}
				&:after{background:url('../images/main/main-icon3_on.png');}
			}
		}
		&.nth-4{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon4_off.png');}
				&:after{background:url('../images/main/main-icon4_on.png');}
			}
		}
		&.nth-5{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon5_off.png');}
				&:after{background:url('../images/main/main-icon5_on.png');}
			}
		}
		&.nth-6{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon6_off.png');}
				&:after{background:url('../images/main/main-icon6_on.png');}
			}
		}
		&.nth-7{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon7_off.png');}
				&:after{background:url('../images/main/main-icon7_on.png');}
			}
		}
		&.nth-8{
			& .disease__tit{
				&:before{background:url('../images/main/main-icon8_off.png');}
				&:after{background:url('../images/main/main-icon8_on.png');}
			}
		}
		&.on{
			& .disease__tit:after{opacity:1;}
			& .disease__btn{border:1px solid #8f1c47; color:#fff;
				&:before{height:100%;}
			}
		}
	}
	@media only screen and (max-width:$tablet-size) {overflow:visible; margin:0; margin-right:20%;
		&__tit{font-size:15px; padding:88px 10px 0px 10px; box-sizing:border-box;
			&:before{top:25px; width:50px; height:50px;}
			&:after{top:25px; width:50px; height:50px;}
		}
		&__txt{height:244px; margin-top:18px;  font-size:12px; box-sizing:border-box; line-height:1.5;}
		&__list{width:99999px; position:absolute; top:0; left:0; overflow:hidden;}
		&__btn{margin-bottom:25px; width:130px; height:30px; font-size:12px;}
		&__item{background-color:#fff; padding:0 10px 0 0; background-clip: content-box; box-sizing:border-box;
			&.nth-1{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
			&.nth-2{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
			&.nth-3{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
			&.nth-4{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
			&.nth-5{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
			&.nth-6{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
			&.nth-7{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
			&.nth-8{
				& .disease__tit{
					&:before{background-size: 50px 50px;}
					&:after{background-size: 50px 50px;}
				}
			}
		}
	}
}
.paging{margin-top:40px; text-align: center;
	@media only screen and (max-width:$tablet-size) {display:none;}
}
.btn_page{overflow:hidden; width:14px; height:14px; border:none; background-color:#cccccc; border-radius:50%; text-indent:-999px;
	& + .btn_page{margin-left:20px;}
	&.on{background-color:#8f1c47;}
}
.main-pagination{
	&__btn{display:inline-block; width:10px;height:10px; margin:0px 10px; border:1px solid #fff; border-radius:50%; box-sizing:border-box; cursor:pointer; text-indent: -999px;}
	&__active{border:none;background-color:#44b134;}
}
